pkgbase = ruby-rainbow
	pkgdesc = Rainbow is extension to ruby's String class adding support for colorizing text on ANSI terminal
	pkgver = 3.0.0
	pkgrel = 2
	url = https://rubygems.org/gems/rainbow
	arch = any
	license = MIT
	depends = ruby
	options = !emptydirs
	source = ruby-rainbow-3.0.0.tar.gz::https://github.com/sickill/rainbow/archive/v3.0.0.tar.gz
	sha256sums = 5abcf7d46cd3ab35e46ae5218befeca3a4c4438c45856f09b203b1e69e0b278d
	sha512sums = 863b89152696b6a13606a1e92b68a788b9b5bcd6f521f02f26fb189fc6c9613e5db032dd5deed1aa95247ab0aa08a44981756f941af6eb786076c271881a38c1

pkgname = ruby-rainbow

