pkgbase = r2ghidra
	pkgdesc = Deep ghidra decompiler integration for radare2 and iaito
	pkgver = 5.8.0
	pkgrel = 1
	url = https://github.com/radareorg/r2ghidra
	arch = x86_64
	license = LGPL3
	makedepends = git
	depends = radare2
	depends = glibc
	provides = radare2-r2ghidra
	replaces = r2ghidra-dec
	source = git+https://github.com/radareorg/r2ghidra#commit=1a95d09b3f542368cb07de3a9c29a2528096b69f
	source = git+https://github.com/radareorg/ghidra-native.git#commit=6ce2dc2fee1ec1262bd0622c879ded8cb74e4ead
	source = git+https://github.com/zeux/pugixml.git
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP

pkgname = r2ghidra
