pkgbase = ruby-optimist
	pkgdesc = Commandline option parser for Ruby that just gets out of your way
	pkgver = 3.0.1
	pkgrel = 2
	url = https://github.com/ManageIQ/optimist
	arch = any
	license = MIT
	checkdepends = ruby-minitest
	checkdepends = ruby-chronic
	makedepends = ruby-rdoc
	makedepends = ruby-rake
	makedepends = ruby-bundler
	depends = ruby
	options = !emptydirs
	source = https://github.com/ManageIQ/optimist/archive/v3.0.1/ruby-optimist-3.0.1.tar.gz
	sha512sums = bb91d7bfde9fa58de0c0050ec7edd3d5e4f19ffe07339b1562aa31af96b98d6b60644f727ba9f49489b520b135d473f1d99fc7fffa96d4dc9b50b1103c778ef5
	b2sums = 91510cfca18ddc3c64d5ab0666374e9eaa033e350dd34a8e63fd375f0e1641e496a48746558ad4b0417965b0208ca9f555befcd7adc848910a13f0e98cfae6c8

pkgname = ruby-optimist

