pkgbase = libwhereami
	pkgdesc = Library to report hypervisor information from inside a VM
	pkgver = 0.3.0
	pkgrel = 2
	url = https://github.com/puppetlabs/libwhereami
	arch = x86_64
	license = APACHE
	checkdepends = python
	makedepends = boost
	makedepends = cmake
	makedepends = rapidjson
	makedepends = curl
	depends = boost-libs
	depends = gcc-libs
	depends = glibc
	depends = leatherman
	depends = leatherman_execution.so
	depends = leatherman_file_util.so
	depends = leatherman_util.so
	depends = leatherman_logging.so
	depends = leatherman_locale.so
	provides = libwhereami.so
	source = libwhereami-0.3.0.tar.gz::https://github.com/puppetlabs/libwhereami/archive/0.3.0.tar.gz
	sha512sums = 6ba398b7c2889d41757e5cc77be1e6b86c3ad3cec59432adb5debb39d37ee1b01aa12871944d27c5af7e5abff9f1b8e59d43f16730b91fb39212ec83967cc2c8

pkgname = libwhereami

