pkgbase = usbguard
	pkgdesc = Software framework for implementing USB device authorization policies
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/USBGuard/usbguard
	arch = x86_64
	license = GPL2
	makedepends = catch2
	makedepends = pegtl
	makedepends = libxslt
	makedepends = libxml2
	makedepends = asciidoc
	makedepends = systemd
	depends = glibc
	depends = libqb
	depends = libqb.so
	depends = libsodium
	depends = libcap-ng
	depends = protobuf
	depends = polkit
	depends = dbus-glib
	depends = audit
	depends = libaudit.so
	depends = libseccomp
	depends = libseccomp.so
	depends = libcap-ng.so
	depends = libgio-2.0.so
	depends = libglib-2.0.so
	depends = libprotobuf.so
	provides = libusbguard.so
	backup = etc/usbguard/usbguard-daemon.conf
	backup = etc/usbguard/rules.conf
	source = https://github.com/USBGuard/usbguard/releases/download/usbguard-1.1.0/usbguard-1.1.0.tar.gz
	source = https://github.com/USBGuard/usbguard/releases/download/usbguard-1.1.0/usbguard-1.1.0.tar.gz.asc
	validpgpkeys = DE78B93EAED8A620F5AA14DF52F7E84653274B59
	sha512sums = f882e8ba38743c044984520d5514035e0e76e185328c2f16226ce8fb14b5dbde0c021327b3dabfdea36e18428be5fb23b559f6837ef7f81dabb5e9b4ed4e1e91
	sha512sums = SKIP

pkgname = usbguard
