pkgbase = usbguard
	pkgdesc = Software framework for implementing USB device authorization policies
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/USBGuard/usbguard
	arch = x86_64
	license = GPL2
	makedepends = catch2
	makedepends = pegtl
	makedepends = libxslt
	makedepends = asciidoc
	makedepends = systemd
	depends = glibc
	depends = libqb
	depends = libqb.so
	depends = libsodium
	depends = libcap-ng
	depends = protobuf
	depends = polkit
	depends = dbus-glib
	depends = audit
	depends = libaudit.so
	depends = libseccomp
	depends = libseccomp.so
	provides = libusbguard.so
	backup = etc/usbguard/usbguard-daemon.conf
	backup = etc/usbguard/rules.conf
	source = https://github.com/USBGuard/usbguard/releases/download/usbguard-1.0.0/usbguard-1.0.0.tar.gz
	source = https://github.com/USBGuard/usbguard/releases/download/usbguard-1.0.0/usbguard-1.0.0.tar.gz.asc
	source = increase-C++-version-to-c++17.patch
	source = fix-compilation-errors-with-PEGTL-3.2.0.patch
	validpgpkeys = DE78B93EAED8A620F5AA14DF52F7E84653274B59
	sha512sums = 068a9be8bd5ea05efcdad79e2c4beb5e8b646b4703fbe1f8bb262e37ae9a6284a6eeb811a6bd441250a38bce1e45b7f44ad15726aa5963da2e1b56e85f5e16fd
	sha512sums = SKIP
	sha512sums = 4b17564e2b21f1378d6369536d47a658e5f018ea9aef47ff726c272d3d40ae5ffadd3ca5ff7304c916cbf169c288b38fb9280dab61ff2edf9e4878847085ae78
	sha512sums = 31ebb71aa9c9d5dcec378d6974d63fe6f2675f748bdff6498a027f9840e0da03ad66c86d240eeccdceb4c1f2a966f6c528c8630226892d94271dac3ae11d1697

pkgname = usbguard

