pkgbase = libplacebo
	pkgdesc = Reusable library for GPU-accelerated video/image rendering primitives
	pkgver = 1.7.0
	pkgrel = 1
	url = https://github.com/haasn/libplacebo
	arch = x86_64
	license = LGPL2.1
	makedepends = meson
	makedepends = ninja
	makedepends = vulkan-headers
	depends = vulkan-icd-loader
	depends = glslang
	depends = lcms2
	depends = shaderc
	depends = libshaderc_shared.so
	provides = libplacebo.so
	source = libplacebo-1.7.0.tar.gz::https://github.com/haasn/libplacebo/archive/v1.7.0.tar.gz
	sha512sums = 06b21c1ee358a04083a555f5cad070ad60ad87a63f03caa9929eed2134415147de884ee844e3a91254768eb0eb36866b58979ef6991345550a81459ae3c2bc27

pkgname = libplacebo

