pkgbase = ruby-colorize
	pkgdesc = Ruby string class extension to set color, background and text effect using ANSI escape sequences
	pkgver = 0.8.1
	pkgrel = 2
	url = https://github.com/fazibear/colorize
	arch = any
	license = GPL2
	depends = ruby
	noextract = colorize-0.8.1.gem
	options = !emptydirs
	source = https://rubygems.org/downloads/colorize-0.8.1.gem
	sha512sums = 0819dfaa94150c85cbe633c77006f2f4bdd6c4f9bf9dfa954b8c4038b8a680c99a2b4b160da05bf426402d287a0db4c4eb1cc66a949405188b632f39da381c72

pkgname = ruby-colorize

