pkgbase = iperf
	pkgdesc = A tool to measure maximum TCP bandwidth
	pkgver = 2.0.10
	pkgrel = 1
	url = https://sourceforge.net/projects/iperf2/
	install = iperf.install
	arch = x86_64
	license = custom
	depends = gcc-libs
	source = http://downloads.sourceforge.net/iperf2/iperf-2.0.10.tar.gz
	source = iperf-tcp.service
	source = iperf-udp.service
	md5sums = 097cf0754bc1afa165975c06a91e6906
	md5sums = 1d8660b540aa0db2e627d3d400cb8de4
	md5sums = a27a8d27b1585bc999a04a2f082e2726

pkgname = iperf

