pkgbase = python-feedgen
	pkgdesc = Python module to generate ATOM feeds, RSS feeds and Podcasts
	pkgver = 0.9.0
	pkgrel = 4
	url = https://lkiesow.github.io/python-feedgen
	arch = any
	license = BSD
	makedepends = python-setuptools
	makedepends = python-sphinx
	depends = python
	depends = python-dateutil
	depends = python-lxml
	source = https://github.com/lkiesow/python-feedgen/archive/v0.9.0/python-feedgen-0.9.0.tar.gz
	sha512sums = 5b466d0b7e9d3b427969f0623aa92e8eb5c9eebb46e416ad767267fa52ca2fe4561ee1e7478839d372ec5c96d2333c6232e6b34a68b77f740b6b7f263d2ab8e4
	b2sums = 91802322b620b5e0f297da870c97934cfc7bc2187ea89d2ac5db1fa69424dfc97abb457e69fef7ea68fba7fd0e4cdb531d44b2b450dc396a5658272185b99602

pkgname = python-feedgen
