pkgbase = libpqxx
	pkgdesc = C++ client API for PostgreSQL
	pkgver = 6.4.4
	pkgrel = 1
	url = http://pqxx.org/development/libpqxx/
	arch = x86_64
	license = custom
	makedepends = python2
	makedepends = xmlto
	makedepends = doxygen
	depends = postgresql-libs>=9.1
	provides = libpqxx.so
	source = libpqxx-6.4.4.tar.gz::https://github.com/jtv/libpqxx/archive/6.4.4.tar.gz
	sha256sums = 6ae3a0113a242db6bb9d998943b7cc23699652d843dab702aa06a8b9330c171a
	sha512sums = a168dbc7af210c711fa9f0f6e20d9d3abea167d412a642f591b104a109f11f4c262a27b6919340d405400a58baf7bcc663f7d3ec1b4ecd03f0a4b6c2960b5099

pkgname = libpqxx

