pkgbase = libpqxx
	pkgdesc = C++ client API for PostgreSQL
	pkgver = 6.1.1
	pkgrel = 1
	url = http://pqxx.org/development/libpqxx/
	arch = x86_64
	license = custom
	makedepends = python2
	makedepends = xmlto
	makedepends = doxygen
	depends = postgresql-libs>=9.1
	source = libpqxx-6.1.1.tar.gz::https://github.com/jtv/libpqxx/archive/6.1.1.tar.gz
	sha256sums = 7b4f37dab4b17b71ef415ffa37f5102ef6bc12647e42f0abaaf6febeeefb8b1e
	sha512sums = 1a8756d587a1780a827aec888eb5a7e86918604e63a74f5a1c7c31b830356a8c46cf6704e03078c8cfebea5907abe2cb9b7fa6dd25c9e39eae2b370df7084b0b

pkgname = libpqxx

