pkgbase = audit
	pkgdesc = Userspace components of the audit framework
	pkgver = 3.0.6
	pkgrel = 5
	url = https://people.redhat.com/sgrubb/audit
	arch = x86_64
	license = GPL
	makedepends = glibc
	makedepends = krb5
	makedepends = libcap-ng
	makedepends = libldap
	makedepends = swig
	makedepends = linux-headers
	makedepends = python
	options = emptydirs
	source = https://people.redhat.com/sgrubb/audit/audit-3.0.6.tar.gz
	sha512sums = 74734e1b1fddea086db9c5dc8c4b7817917fdf17bc7ca4e5b440aae975484d020a17c3f485f6a37b6b150a307d809e50d559d31a8cbd6f1e554933719551bcd1
	b2sums = 93a7efad1cbea6771a73222b05aacbabc4ac61d1efb9fc2532607a94804bcac6512d0be2f4d89aa62d94fb85ba5818ffae4bf0a72676e8d549ddbec766e83e9c

pkgname = audit
	depends = glibc
	depends = krb5
	depends = libkrb5.so
	depends = libgssapi_krb5.so
	depends = libcap-ng
	depends = libcap-ng.so
	provides = libaudit.so
	provides = libauparse.so
	backup = etc/libaudit.conf
	backup = etc/audit/audit-stop.rules
	backup = etc/audit/auditd.conf
	backup = etc/audit/audisp-remote.conf
	backup = etc/audit/zos-remote.conf
	backup = etc/audit/plugins.d/af_unix.conf
	backup = etc/audit/plugins.d/au-remote.conf
	backup = etc/audit/plugins.d/audispd-zos-remote.conf
	backup = etc/audit/plugins.d/syslog.conf

pkgname = python-audit
	pkgdesc = Userspace components of the audit framework (python bindings)
	depends = python
	depends = audit
