pkgbase = lib32-zstd
	pkgdesc = Zstandard - Fast real-time compression algorithm (32-bit)
	pkgver = 1.4.1
	pkgrel = 1
	url = https://www.zstd.net/
	arch = x86_64
	license = BSD
	license = GPL2
	makedepends = gtest
	depends = zstd
	depends = lib32-zlib
	depends = lib32-xz
	depends = lib32-lz4
	source = https://github.com/facebook/zstd/releases/download/v1.4.1/zstd-1.4.1.tar.gz
	sha256sums = 535020867eb3af61fbadfcb402335af7f52dfe44f081ccfa201e961f01751aa0
	sha512sums = d405b8e160703c3de2cdd395451c12b0b6a792f2ed88976b37ab662191af3dc32a844b4e627871dbba94ef8acfe011b2ba5833aa949238255dcab99e792b8b62

pkgname = lib32-zstd

