pkgbase = rz-cutter
	pkgdesc = Qt and C++ GUI for rizin reverse engineering framework
	pkgver = 2.2.0
	pkgrel = 2
	url = https://github.com/rizinorg/cutter
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = shiboken2
	makedepends = qt5-tools
	depends = rizin
	depends = capstone
	depends = qt5-base
	depends = qt5-svg
	depends = qt5-webengine
	depends = icu
	depends = python
	depends = pyside2
	depends = python-shiboken2
	depends = graphviz
	depends = gcc-libs
	depends = syntax-highlighting
	optdepends = rz-ghidra: ghidra decompiler plugin
	source = git+https://github.com/rizinorg/cutter#commit=c0f260ca6913f3928259309766692e50131f7270
	source = git+https://github.com/rizinorg/cutter-translations
	sha512sums = SKIP
	sha512sums = SKIP
	b2sums = SKIP
	b2sums = SKIP

pkgname = rz-cutter
