pkgbase = vim-jedi
	pkgdesc = Vim plugin for jedi, an awesome Python autocompletion
	pkgver = 0.9.0
	pkgrel = 1
	url = https://github.com/davidhalter/jedi-vim
	install = vim-jedi.install
	arch = any
	groups = vim-plugins
	license = MIT
	checkdepends = python-pytest
	depends = vim
	depends = python-jedi
	depends = python
	optdepends = vim-supertab: for tab completion
	optdepends = python2-jedi: for Python 2 support
	options = !emptydirs
	source = vim-jedi-0.9.0.tar.gz::https://github.com/davidhalter/jedi-vim/archive/0.9.0.tar.gz
	sha256sums = e53ef98472dd4789d5382f5082c0c25bf713264422389fca2f2a9bcddc1435d5

pkgname = vim-jedi

