pkgbase = vim-jedi
	pkgdesc = Vim plugin for jedi, an awesome Python autocompletion
	pkgver = 0.10.0
	pkgrel = 4
	url = https://github.com/davidhalter/jedi-vim
	arch = any
	groups = vim-plugins
	license = MIT
	checkdepends = python-pytest
	depends = vim
	depends = python-jedi
	depends = python
	optdepends = vim-supertab: tab completion
	optdepends = python2-jedi: Python 2 support
	options = !emptydirs
	source = https://github.com/davidhalter/jedi-vim/archive/0.10.0/vim-jedi-0.10.0.tar.gz
	source = vim-jedi-update.patch
	sha256sums = 4a5d9e572d08ee4b7637adba5cda355273c35c04e83790e918ea66483a000ffc
	sha256sums = b003c64823ad63fbfc12d6684980f4c99ba977868cc179e5e3f724ff9721eea9

pkgname = vim-jedi

