pkgbase = ruby-rspec-support
	pkgdesc = Common code needed by the other RSpec gems. Not intended for direct use
	pkgver = 3.11.0
	pkgrel = 1
	url = https://github.com/rspec/rspec-support
	arch = any
	license = MIT
	depends = ruby
	depends = ruby-rdoc
	noextract = rspec-support-3.11.0.gem
	options = !emptydirs
	source = https://rubygems.org/downloads/rspec-support-3.11.0.gem
	sha512sums = c83319de87ba0ec5de25f91fa3be48473b80066004531797c151413c232dd6e141815b7ddc62b81bacf610e726b5bd11c7bac0e1abf9cc442c294156c2ff00f9

pkgname = ruby-rspec-support
