pkgbase = ruby-rspec-support
	pkgdesc = Common code needed by the other RSpec gems. Not intended for direct use
	pkgver = 3.7.0
	pkgrel = 2
	url = https://github.com/rspec/rspec-support
	arch = any
	license = MIT
	depends = ruby
	noextract = rspec-support-3.7.0.gem
	options = !emptydirs
	source = https://rubygems.org/downloads/rspec-support-3.7.0.gem
	sha512sums = 50b23dc2da21c638b552b55651d551759b139b6a16f3cbdd38d9ced41fbdbab808cc034800d3e98126cfadf2a03db479493811478cb7a4b751a98f252b57867d

pkgname = ruby-rspec-support

