pkgbase = python-pwntools
	pkgdesc = CTF framework and exploit development library
	pkgver = 4.6.0
	pkgrel = 1
	url = https://github.com/Gallopsled/pwntools
	arch = any
	license = MIT
	license = GPL2
	license = BSD
	makedepends = pandoc
	makedepends = python-setuptools
	depends = python
	depends = python-mako
	depends = python-pyelftools
	depends = python-capstone
	depends = ropgadget
	depends = python-pyserial
	depends = python-requests
	depends = python-pip
	depends = python-pygments
	depends = python-pysocks
	depends = python-dateutil
	depends = python-packaging
	depends = python-psutil
	depends = python-intervaltree
	depends = python-sortedcontainers
	depends = python-unicorn
	depends = python-paramiko
	depends = python-colored-traceback
	depends = python-rpyc
	depends = ropgadget
	source = https://github.com/Gallopsled/pwntools/archive/4.6.0/python-pwntools-4.6.0.tar.gz
	source = pwn.conf
	sha256sums = 70e6a99b048372b03ebe8b94f20161e8a7b1bbfa580ec351d7e0310066c79059
	sha256sums = 50916e4e45d026422cd6bfe8de50e7246c61b0b1e0007571e7c04a994282fe89
	b2sums = e0189cb8e4832c487da3cc2345b2757540aafc5fdc29e18b7ac2bac9df5b67d5a06f36c4b22206e55b607650c11833d194c4449deba9ac50060ca7bd14d58391
	b2sums = cac0a12eea8abd3d2ee21632e7f2281e7e35c2d7839cfbcba83ae5d0e8f427e9cc2462a6d17d187252b99d9dbbb14393b9d5a63996c42043f553e9b66bfe9e07

pkgname = python-pwntools
