pkgbase = byacc
	pkgdesc = Berkeley reimplementation of the Unix parser generator Yacc
	pkgver = 20210109
	pkgrel = 1
	url = https://invisible-island.net/byacc/
	arch = x86_64
	license = custom
	depends = glibc
	replaces = byacc-noconflict
	source = ftp://ftp.invisible-island.net/byacc/byacc-20210109.tgz
	source = ftp://ftp.invisible-island.net/byacc/byacc-20210109.tgz.asc
	validpgpkeys = C52048C0C0748FEE227D47A2702353E0F7E48EDB
	sha512sums = 95eafe81948fee1839fed8fff71d65c23d85de02af51672c118b2eed7c680f0dd300cec54cf366a248307c480844edc66a027575b29e20ef2f71f3c243ad5202
	sha512sums = SKIP

pkgname = byacc

