pkgbase = mtd-utils
	pkgdesc = Utilities for dealing with MTD devices
	pkgver = 2.1.2
	pkgrel = 1
	url = http://www.linux-mtd.infradead.org/
	arch = x86_64
	license = GPL2
	makedepends = cmocka
	depends = lzo
	depends = util-linux
	depends = zstd
	depends = zlib
	source = ftp://ftp.infradead.org/pub/mtd-utils/mtd-utils-2.1.2.tar.bz2
	source = ftp://ftp.infradead.org/pub/mtd-utils/mtd-utils-2.1.2.tar.bz2.asc
	validpgpkeys = 13063F723C9E584AEACD5B9BBCE5DC3C741A02D1
	sha512sums = ff3bf018d02b7fb2d545c49823d69a1726e42c39e3e3a956c1c4dc2ac7f18142b1dab66ad4c167b2652e33bc2a0fa277a6803e7fd04d7fd8b75d70a047ce177d
	sha512sums = SKIP

pkgname = mtd-utils

