pkgbase = mtd-utils
	pkgdesc = Utilities for dealing with MTD devices
	pkgver = 2.1.4
	pkgrel = 2
	url = http://www.linux-mtd.infradead.org/
	arch = x86_64
	license = GPL2
	makedepends = cmocka
	depends = lzo
	depends = util-linux
	depends = zstd
	depends = zlib
	source = ftp://ftp.infradead.org/pub/mtd-utils/mtd-utils-2.1.4.tar.bz2
	source = ftp://ftp.infradead.org/pub/mtd-utils/mtd-utils-2.1.4.tar.bz2.asc
	validpgpkeys = 13063F723C9E584AEACD5B9BBCE5DC3C741A02D1
	sha512sums = 4010a7b25cf32df2de02b8efbbe91c49789e3963618df7461e4bf64a8c588440c55f17c750a7d2df34367a732b0fefc487ee052129a5aa6a44a0023b714dface
	sha512sums = SKIP

pkgname = mtd-utils
