pkgbase = ruby-thor
	pkgdesc = Toolkit for building powerful command-line interfaces
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/erikhuda/thor
	arch = any
	license = MIT
	makedepends = ruby-rdoc
	depends = ruby
	options = !emptydirs
	source = ruby-thor-1.1.0.tar.gz::https://github.com/erikhuda/thor/archive/v1.1.0.tar.gz
	sha256sums = ef285b4fedcb7ed48283198678bcc6d633dc26ac77ba01d7609ba81c2f10e130
	sha512sums = d1872a834478c5a2054dde6f55e93f6765fd628536f99f888bd7495436c88658537d48c44ef1e5ad6d1388edfa294ea2a3f3cbde32c19b7d2253b78bc62bf9d0

pkgname = ruby-thor

