pkgbase = pacman
	pkgdesc = A library-based package manager with dependency support
	pkgver = 6.0.2
	pkgrel = 2
	url = https://www.archlinux.org/pacman/
	arch = x86_64
	groups = base-devel
	license = GPL
	checkdepends = python
	checkdepends = fakechroot
	makedepends = meson
	makedepends = asciidoc
	makedepends = doxygen
	depends = bash
	depends = glibc
	depends = libarchive
	depends = curl
	depends = gpgme
	depends = pacman-mirrorlist
	depends = gettext
	depends = gawk
	depends = coreutils
	depends = gnupg
	depends = grep
	optdepends = perl-locale-gettext: translation support in makepkg-template
	provides = libalpm.so
	options = strip
	options = debug
	backup = etc/pacman.conf
	backup = etc/makepkg.conf
	source = https://sources.archlinux.org/other/pacman/pacman-6.0.2.tar.xz
	source = https://sources.archlinux.org/other/pacman/pacman-6.0.2.tar.xz.sig
	source = fix-source-path.patch
	source = pacman.conf
	source = makepkg.conf
	validpgpkeys = 6645B0A8C7005E78DB1D7864F99FFE0FEAE999BD
	validpgpkeys = B8151B117037781095514CA7BBDFFC92306B1121
	sha256sums = 7d8e3e8c5121aec0965df71f59bedf46052c6cf14f96365c4411ec3de0a4c1a5
	sha256sums = SKIP
	sha256sums = fec94ba412510bb91386b9b433ddbe76e30027d50a44d9298965311b8dc82937
	sha256sums = 606e55f06c297d2b508bc4438890b229a1abaa68b0374a2d7f94c8e7be6792d7
	sha256sums = 072020e34f2c55b94a9a486829a7eadab0a830ddb4d8e759b0c4e6cf1bde73a6

pkgname = pacman
