pkgbase = sn0int
	pkgdesc = Semi-automatic OSINT framework and package manager
	pkgver = 0.18.2
	pkgrel = 1
	url = https://github.com/kpcyrd/sn0int
	install = sn0int.install
	arch = x86_64
	license = GPL3
	makedepends = cargo
	makedepends = python-sphinx
	depends = libcap
	depends = sqlite
	depends = libseccomp
	depends = libsodium
	depends = geoip2-database
	depends = publicsuffix-list
	source = https://github.com/kpcyrd/sn0int/archive/v0.18.2/sn0int-0.18.2.tar.gz
	source = https://github.com/kpcyrd/sn0int/releases/download/v0.18.2/sn0int-0.18.2.tar.gz.asc
	validpgpkeys = 64B13F7117D6E07D661BBCE0FE763A64F5E54FD6
	sha512sums = 417d0cf861136942411c645151750a547a3a88f00ec00896411264e2c264db622429b8ce0e00c947fb03810a6fa2c7f39c439ac747ceeed21fdab8c9d512c6de
	sha512sums = SKIP
	b2sums = 640f325ea56f5eb9dc1ac7877cf5c932f8ba56ed7c266684d906ed58b89ff993771ab25c119124e0448e976d8acb5ed49d87aa173955081be8afbb6fa06f8158
	b2sums = SKIP

pkgname = sn0int

