pkgbase = sn0int
	pkgdesc = OSINT framework and package manager
	pkgver = 0.5.2
	pkgrel = 1
	url = https://github.com/kpcyrd/sn0int
	install = sn0int.install
	arch = x86_64
	license = GPL3
	makedepends = cargo
	makedepends = python-sphinx
	depends = libcap
	depends = sqlite
	depends = libseccomp
	depends = geoip2-database
	depends = publicsuffix-list
	source = https://github.com/kpcyrd/sn0int/archive/v0.5.2/sn0int-0.5.2.tar.gz
	sha256sums = 03605558e0246333150cee4df61e8ed4ffe35cfd1ab9c3373f2401e6ac25704f

pkgname = sn0int

