pkgbase = sn0int
	pkgdesc = Semi-automatic OSINT framework and package manager
	pkgver = 0.20.1
	pkgrel = 1
	url = https://github.com/kpcyrd/sn0int
	install = sn0int.install
	arch = x86_64
	license = GPL3
	makedepends = cargo
	makedepends = python-sphinx
	depends = libcap
	depends = lua52
	depends = sqlite
	depends = libseccomp.so
	depends = libsodium
	depends = geoip2-database
	depends = publicsuffix-list
	source = https://github.com/kpcyrd/sn0int/archive/v0.20.1/sn0int-0.20.1.tar.gz
	source = https://github.com/kpcyrd/sn0int/releases/download/v0.20.1/sn0int-0.20.1.tar.gz.asc
	validpgpkeys = 64B13F7117D6E07D661BBCE0FE763A64F5E54FD6
	sha512sums = 2095c3173332b44a3960c6b7a87aa449558652d94b769bc86649ee75d39061530bb34a783467cfa4f2b49ce486979f76b24bd52b1a20ccd4b8ffaf6a14cf80e0
	sha512sums = SKIP
	b2sums = 553e231b77f1564162144d91801b46cb68d4f2f3e63d2500e3a0815ac1194c8047709b60c04ede2de84a47368b0a5fc9a2d18f35c143659e2c73a75c660d9381
	b2sums = SKIP

pkgname = sn0int

