pkgbase = distorm
	pkgdesc = Powerful disassembler library for x86/AMD64
	pkgver = 3.5.2.b
	pkgrel = 2
	url = https://github.com/gdabah/distorm
	arch = x86_64
	license = BSD
	makedepends = python
	makedepends = python-setuptools
	makedepends = glibc
	options = staticlibs
	source = https://github.com/gdabah/distorm/archive/3.5.2b/distorm-3.5.2.b.tar.gz
	sha512sums = 8aad0c51e8d9dfaeaa069a3d4fade4bdf87cce464c85898b6b4888fa51a9bb6ec1221faf32acf59ebd047cceb9a535b2ff93d196fd14fa834d8ece5685417a55
	b2sums = 775d50dbec3858ca4e3ea68fef24be41fcf1b7afd61a6b92e300790895eef7a27ab6b8153cc3258682c006d91d0266425955231b0bd8977a2a186e5e2a8947d5

pkgname = distorm
	depends = glibc
	provides = libdistorm3.so

pkgname = python-distorm
	depends = python
