pkgbase = catch2
	pkgdesc = Modern, C++-native, header-only, test framework for unit-tests, TDD and BDD
	pkgver = 2.13.8
	pkgrel = 1
	url = https://github.com/catchorg/catch2
	arch = any
	license = Boost
	makedepends = git
	makedepends = cmake
	makedepends = python
	source = catch2::git+https://github.com/catchorg/Catch2#commit=216713a4066b79d9803d374f261ccb30c0fb451f?signed
	validpgpkeys = E29C46F3B8A7502860793B7DECC9C20E314B2360
	validpgpkeys = 81E70B717FFB27AFDB45F52090BBFF120F9C087B
	sha512sums = SKIP

pkgname = catch2
