pkgbase = ruby-async
	pkgdesc = Composable asynchronous I/O
	pkgver = 1.5.0
	pkgrel = 1
	url = https://github.com/socketry/async
	arch = any
	license = MIT
	depends = ruby
	depends = ruby-nio4r
	depends = ruby-timers
	depends = ruby-rdoc
	options = !emptydirs
	source = ruby-async-1.5.0.tar.gz::https://github.com/socketry/async/archive/v1.5.0.tar.gz
	sha256sums = 6c90ca7a075b71b25920cf8c638a1fa54485813263b576b3e04433d1cb91b1e2
	sha512sums = f3f425711d35b58edf83f7e34bdb44990555f7b894154016837f976f6ca89eea8200734cf9291fd2a85207f5b9e597372b29a45c251b4e505de1574492cb52cb

pkgname = ruby-async

