pkgbase = ruby-async
	pkgdesc = Composable asynchronous I/O
	pkgver = 1.29.0
	pkgrel = 1
	url = https://github.com/socketry/async
	arch = any
	license = MIT
	makedepends = ruby-rdoc
	depends = ruby
	depends = ruby-nio4r
	depends = ruby-timers
	options = !emptydirs
	source = https://github.com/socketry/async/archive/v1.29.0/ruby-async-1.29.0.tar.gz
	sha256sums = c251cae1edae9fcb4687a29cc5b4a292817dea21159677a054abc56cfda07724
	sha512sums = 6f2149125b7b5d97cd72578f165b1f74cd36fd5bc00f060c5b941dfd70ceb2daaff49b5f7d6949ad97a02b086cb75e47cdab3a4ebcc59fae6ef79a4a0e98b514

pkgname = ruby-async

