pkgbase = ruby-immutable-struct
	pkgdesc = Create struct-like classes that don't have setters, but have an awesome constructor
	pkgver = 2.4.1
	pkgrel = 2
	url = https://github.com/stitchfix/immutable-struct
	arch = any
	license = MIT
	makedepends = rubygems
	makedepends = ruby-rdoc
	depends = ruby
	options = !emptydirs
	source = https://github.com/stitchfix/immutable-struct/archive/v2.4.1/ruby-immutable-struct-v2.4.1.tar.gz
	sha512sums = cddf4139c3682714b3dcb785c155daa8ad4d275e3faf59c675476b76e8ed3fb9bdfa805c9bc741bd3d541e45b89f7afea13d3f70af8490a06a0da1d68ed4040c
	b2sums = e67119596f47e096403e7d08eab2eb026a618966f50b9a7f5c93a6f2264612ea0e62f4a4899b4546faa432607da92412fa4e82f61d0a984b0d724e03627b9069

pkgname = ruby-immutable-struct

