pkgbase = mtr
	pkgdesc = Combines the functionality of traceroute and ping into one tool
	pkgver = 0.93
	pkgrel = 1
	url = https://www.bitwizard.nl/mtr/
	install = mtr.install
	arch = x86_64
	license = GPL2
	makedepends = ncurses
	makedepends = gtk2
	makedepends = libcap
	source = ftp://ftp.bitwizard.nl/mtr/mtr-0.93.tar.gz
	sha512sums = 046e98a661bd6248ce819411ceb6e2b875b92877de38523594898df507836c113573cf40d7d4cc548370f515abe99e0aa4d8b3ba44ad54dd00f8e93c8a96c021

pkgname = mtr
	pkgdesc = Combines the functionality of traceroute and ping into one tool (CLI version)
	depends = ncurses
	depends = libcap
	optdepends = bash-completion: bash completion support

pkgname = mtr-gtk
	pkgdesc = Combines the functionality of traceroute and ping into one tool (GTK version)
	depends = ncurses
	depends = libcap
	depends = gtk2
	optdepends = bash-completion: bash completion support
	provides = mtr=0.93
	conflicts = mtr

