pkgbase = python-sqlalchemy-utils
	pkgdesc = Various utility functions, new data types and helpers for SQLAlchemy
	pkgver = 0.37.1
	pkgrel = 4
	url = https://github.com/kvesteri/sqlalchemy-utils
	arch = any
	license = BSD
	checkdepends = python-pytest
	checkdepends = python-mock
	checkdepends = python-flexmock
	checkdepends = python-jinja
	makedepends = python
	makedepends = python-setuptools
	depends = python
	depends = python-sqlalchemy
	depends = python-anyjson
	depends = python-babel
	depends = python-arrow
	depends = python-intervals
	depends = python-phonenumbers
	depends = python-passlib
	depends = python-colour
	depends = python-dateutil
	depends = python-furl
	depends = python-cryptography
	depends = python-pendulum
	source = https://github.com/kvesteri/sqlalchemy-utils/archive/0.37.1/python-sqlalchemy-utils-0.37.1.tar.gz
	sha512sums = a97fccb85e8de7007716a9a7218a517539b911290c0ac0a5556fcd346266f947bd5d353be2b24b513986ee557d1b3aca2bef85563b5d30b1684cc5e2474d4d08
	b2sums = d79fd21f73af3b41e33b4f1c87cac92f36c8249b785dbb76972a0ef19931778ee2d9a24dfb0885508bc396007b6a4387313b1b8f384aa323d2c52a7ba10788f2

pkgname = python-sqlalchemy-utils
