pkgbase = lolcat
	pkgdesc = Okay, no unicorns. But rainbows!!
	pkgver = 100.0.1
	pkgrel = 1
	url = https://github.com/busyloop/lolcat
	arch = any
	license = custom
	depends = ruby
	depends = ruby-paint
	depends = ruby-optimist
	depends = ruby-manpages
	options = !emptydirs
	source = https://github.com/busyloop/lolcat/archive/v100.0.1/lolcat-100.0.1.tar.gz
	sha256sums = 3f4127e022a55cf201f167c57ffcffbb3ba3f2bd2cbd9dd6358de4208029ae08
	sha512sums = 23775e63e6265dc7fadc0849dffa79812c2a7e5ddd5301355e03a05388a64689cd6d830820852ae198cb719ab2161effb85d5c1a33f83d5d1c5cd8d8a774acb0

pkgname = lolcat
