pkgbase = lolcat
	pkgdesc = Okay, no unicorns. But rainbows!!
	pkgver = 100.0.0
	pkgrel = 1
	url = https://github.com/busyloop/lolcat
	arch = any
	license = custom
	depends = ruby
	depends = ruby-paint
	depends = ruby-optimist
	depends = ruby-manpages
	options = !emptydirs
	source = https://github.com/busyloop/lolcat/archive/v100.0.0/lolcat-100.0.0.tar.gz
	sha256sums = 5a155a0ec68715306a90384c1d624b7fd80a1286fa92938040fdd781c7053e52
	sha512sums = 59ed3480386f0d7eb0a2a94f5cfd684f3cd30a74504ba3281caa0356db43158353d4fb9b306842d89ec63ddca661bf90856c2593aaa99124d665f33d9698dbce

pkgname = lolcat

