pkgbase = kustomize
	pkgdesc = Template-free customization of Kubernetes YAML manifests
	pkgver = 3.8.5
	pkgrel = 1
	url = https://github.com/kubernetes-sigs/kustomize
	arch = x86_64
	license = Apache
	makedepends = go
	depends = glibc
	source = https://github.com/kubernetes-sigs/kustomize/archive/kustomize/v3.8.5/kustomize-3.8.5.tar.gz
	sha512sums = ebf6b57fc7bd1a7facf9fe4fda4c984c05c3603fe6786d32bd2ebf7fae960de95563fa53adf3d99dd10643663c93867871a08b505c0b3470cf9be477ee54501e

pkgname = kustomize

