pkgbase = linux-hardened
	pkgdesc = Security-Hardened Linux
	pkgver = 5.6.12.a
	pkgrel = 1
	url = https://github.com/anthraxx/linux-hardened
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = kmod
	makedepends = libelf
	makedepends = xmlto
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = graphviz
	makedepends = imagemagick
	options = !strip
	source = https://www.kernel.org/pub/linux/kernel/v5.x/linux-5.6.12.tar.xz
	source = https://www.kernel.org/pub/linux/kernel/v5.x/linux-5.6.12.tar.sign
	source = https://github.com/anthraxx/linux-hardened/releases/download/5.6.12.a/linux-hardened-5.6.12.a.patch
	source = https://github.com/anthraxx/linux-hardened/releases/download/5.6.12.a/linux-hardened-5.6.12.a.patch.sig
	source = config
	source = 0001-gcc-plugins-drop-support-for-GCC-4.7.patch
	source = 0002-gcc-common.h-Update-for-GCC-10.patch
	source = 0003-Makefile-disallow-data-races-on-gcc-10-as-well.patch
	source = 0004-x86-Fix-early-boot-crash-on-gcc-10-next-try.patch
	source = sphinx-workaround.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 65EEFE022108E2B708CBFCF7F9E712E59AF5F22A
	validpgpkeys = E240B57E2C4630BA768E2F26FC1B547C8D8172C8
	sha256sums = daea336aace63a9116475b3f698e259073c00bea57a2a545300dba1c45562221
	sha256sums = SKIP
	sha256sums = a3eb5f89cff627b3bd9232edf50ff28a9522134e9529017b82412cb19ce3ccac
	sha256sums = SKIP
	sha256sums = 93ba919836378a3a4df05e78011281a6e4430afe89a0e54dac48e2ad15355fa4
	sha256sums = 118531186e7069b006d48fdfb2dbd9f28ee6d01cbfaacb007d8f44e8e76a57e1
	sha256sums = d2ee933dd10dee475746a7e9081bca3ebdae8c6fb631f458d8f0d4987c9a0845
	sha256sums = b604f4041c94d12abc0a0ad9e15ab54a7712c424d7740d6dffff8e0a001ae862
	sha256sums = 09dbf84dff332fd9c2cde9eca97ce70e73ff7b90c08f22b169c6b69a633c56b0
	sha256sums = 8cb21e0b3411327b627a9dd15b8eb773295a0d2782b1a41b2a8839d1b2f5778c

pkgname = linux-hardened
	pkgdesc = The Security-Hardened Linux kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = usbctl: deny_new_usb control
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE

pkgname = linux-hardened-headers
	pkgdesc = Headers and scripts for building modules for the Security-Hardened Linux kernel

pkgname = linux-hardened-docs
	pkgdesc = Documentation for the Security-Hardened Linux kernel

