pkgbase = linux-hardened
	pkgdesc = Security-Hardened Linux
	pkgver = 5.17.5.hardened1
	pkgrel = 1
	url = https://github.com/anthraxx/linux-hardened
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = xmlto
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = texlive-latexextra
	makedepends = git
	options = !strip
	source = https://www.kernel.org/pub/linux/kernel/v5.x/linux-5.17.5.tar.xz
	source = https://www.kernel.org/pub/linux/kernel/v5.x/linux-5.17.5.tar.sign
	source = https://github.com/anthraxx/linux-hardened/releases/download/5.17.5-hardened1/linux-hardened-5.17.5-hardened1.patch
	source = https://github.com/anthraxx/linux-hardened/releases/download/5.17.5-hardened1/linux-hardened-5.17.5-hardened1.patch.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = E240B57E2C4630BA768E2F26FC1B547C8D8172C8
	sha256sums = 9bbcd185b94436f9c8fe977fa0e862f60d34003562327fcebb27c9fa342fe987
	sha256sums = SKIP
	sha256sums = 806baa962ee52aa9d41c2abb9b620edf19ed455b07f0564e3e515525ae1e64b3
	sha256sums = SKIP
	sha256sums = bd1ca982c7a2aabc95b3a1ebb0d281e544cdced8200789ea222e1be3d8e87664

pkgname = linux-hardened
	pkgdesc = The Security-Hardened Linux kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = usbctl: deny_new_usb control
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE

pkgname = linux-hardened-headers
	pkgdesc = Headers and scripts for building modules for the Security-Hardened Linux kernel
	depends = pahole

pkgname = linux-hardened-docs
	pkgdesc = Documentation for the Security-Hardened Linux kernel
