pkgbase = linux-hardened
	pkgdesc = Security-Hardened Linux
	pkgver = 5.10.4.a
	pkgrel = 1
	url = https://github.com/anthraxx/linux-hardened
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = kmod
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = xmlto
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = graphviz
	makedepends = imagemagick
	options = !strip
	source = https://www.kernel.org/pub/linux/kernel/v5.x/linux-5.10.4.tar.xz
	source = https://www.kernel.org/pub/linux/kernel/v5.x/linux-5.10.4.tar.sign
	source = https://github.com/anthraxx/linux-hardened/releases/download/5.10.4.a/linux-hardened-5.10.4.a.patch
	source = https://github.com/anthraxx/linux-hardened/releases/download/5.10.4.a/linux-hardened-5.10.4.a.patch.sig
	source = config
	source = drm-amd-display-add-get_dig_frontend-impl-for-DCEx.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = E240B57E2C4630BA768E2F26FC1B547C8D8172C8
	sha256sums = 904e396c26e9992a16cd1cc989460171536bed7739bf36049f6eb020ee5d56ec
	sha256sums = SKIP
	sha256sums = 0406850c58a3d248ef92de86f1bea1f0777e15c05a8747ce2c7f07a223abf62a
	sha256sums = SKIP
	sha256sums = 8c642f2f61b3e5bc37b9e02678ba5001afbe2996a7514f5466f6e98df42b7095
	sha256sums = 56ca378a03341bbe8ddd13a5630922b0c4e0d505b738aec3b21dcfa55ff200d7

pkgname = linux-hardened
	pkgdesc = The Security-Hardened Linux kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = usbctl: deny_new_usb control
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE

pkgname = linux-hardened-headers
	pkgdesc = Headers and scripts for building modules for the Security-Hardened Linux kernel

pkgname = linux-hardened-docs
	pkgdesc = Documentation for the Security-Hardened Linux kernel

