pkgbase = libupnp
	pkgdesc = Portable Open Source UPnP Development Kit
	pkgver = 1.8.4
	pkgrel = 2
	url = http://pupnp.sourceforge.net/
	arch = x86_64
	license = BSD
	depends = glibc
	source = https://downloads.sourceforge.net/sourceforge/pupnp/libupnp-1.8.4.tar.bz2
	sha256sums = 188d3f786d92fe14191f17634d2d87847eee7d2b568a5257ea23262fec9973d6

pkgname = libupnp

