pkgbase = i3-wm
	pkgdesc = Improved dynamic tiling window manager
	pkgver = 4.21.1
	pkgrel = 1
	url = https://i3wm.org
	arch = x86_64
	groups = i3
	license = BSD
	makedepends = meson
	makedepends = xmlto
	depends = libev
	depends = libxkbcommon-x11
	depends = pango
	depends = startup-notification
	depends = xcb-util-cursor
	depends = xcb-util-keysyms
	depends = xcb-util-wm
	depends = xcb-util-xrm
	depends = yajl
	optdepends = dmenu: for the default program launcher
	optdepends = rofi: for a modern dmenu replacement
	optdepends = i3lock: for the default screen locker
	optdepends = xss-lock: for the default screen locker
	optdepends = i3status: for the default status bar generator
	optdepends = perl: for i3-save-tree and i3-dmenu-desktop
	optdepends = perl-anyevent-i3: for i3-save-tree
	optdepends = perl-json-xs: for i3-save-tree
	replaces = i3
	replaces = i3bar
	options = debug
	backup = etc/i3/config
	source = https://i3wm.org/downloads/i3-4.21.1.tar.xz
	source = https://i3wm.org/downloads/i3-4.21.1.tar.xz.asc
	source = 0001-Use-OVER-operator-for-drawing-text.patch
	validpgpkeys = 424E14D703E7C6D43D9D6F364E7160ED4AC8EE1D
	b2sums = 44661bd9edf0bee384b8be88cbf2361bb2ad26fdbaee9a2e010ebdee662b31129057a1a183f46bef0839a545f63c70d00903b0ec4693c1bc9390c84d7a78ac44
	b2sums = SKIP
	b2sums = 35be78fc8be805fa4b7f32c8a18c62a0436f433e9064ef5adf32baa9aa816276da3b53b977287640ab70f30eea14bbd4dc002d49d9149afa01e0706a45dba947

pkgname = i3-wm
