pkgbase = scrot
	pkgdesc = Simple command-line screenshot utility for X
	pkgver = 1.1.1
	pkgrel = 1
	url = https://github.com/resurrecting-open-source-projects/scrot
	arch = x86_64
	license = MIT
	makedepends = autoconf-archive
	depends = giblib
	depends = libxfixes
	depends = libxcursor
	source = https://github.com/resurrecting-open-source-projects/scrot/archive/1.1.1/scrot-1.1.1.tar.gz
	sha256sums = 63bc645d5dfff51e441541dc999379b34722c6428a4cd642e20005e6901383ba
	sha512sums = 6444fec6d793053b120a6f81bb1696b2c3d1a48f2b7d3949f63ab7e97cbd60d87962b87e52bf43acfae12c3381d59f7924c0f7c71d5372876d14a698f9b9f138

pkgname = scrot

