pkgbase = scrot
	pkgdesc = Simple command-line screenshot utility for X
	pkgver = 1.8
	pkgrel = 1
	url = https://github.com/resurrecting-open-source-projects/scrot
	arch = x86_64
	license = MIT
	makedepends = autoconf-archive
	depends = imlib2
	depends = libxext
	depends = libxinerama
	depends = libxfixes
	depends = libxcomposite
	depends = libbsd
	source = https://github.com/resurrecting-open-source-projects/scrot/archive/1.8/scrot-1.8.tar.gz
	sha512sums = 5d2858a70065b717b0ddb91af731c8dcc38293e0c6ad27398e12fcfd5d64135547d924d3aac3dc1be8abed0d876a0899eb361332fd3154cc11052ec3c603cf1c
	b2sums = 10a8180b3f3b02800e193a46a17cbd2ce17bbf070f8753d5d00c29249c6845c774d5afd927e7f7b8aee5231e21074929f54c186902da0d64ed6c8615ed38608f

pkgname = scrot
