pkgbase = ruby-elftools
	pkgdesc = ELF parser library implemented in pure Ruby
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/david942j/rbelftools/
	arch = any
	license = MIT
	makedepends = ruby-rake
	makedepends = ruby-rdoc
	makedepends = ruby-bundler
	depends = ruby
	depends = ruby-bindata
	options = !emptydirs
	source = https://github.com/david942j/rbelftools//archive/v1.2.0/ruby-elftools-v1.2.0.tar.gz
	sha512sums = 8f5ef2b96f42ab2e06a203fea53bafbd14a08cbd0c60df1ce1fcdd5b4de45c77720f96d1ab551ce9f93ff94a50bb81ad7561c4540379ea4b2c888db446149a5f
	b2sums = 03790ccf38fe1adaf6cf7427ac7cc69f122a72d0bba2005690b2436e2f3806e944ed3bb80b83fe671142f1e56919562c280bb84ebd33e868cdd9ad01b7455959

pkgname = ruby-elftools
