pkgbase = ruby-forwardable-extended
	pkgdesc = Extends forwardable with delegation to hashes and instance variables
	pkgver = 2.6.0
	pkgrel = 2
	url = https://github.com/envygeeks/forwardable-extended
	arch = any
	license = MIT
	depends = ruby
	options = !emptydirs
	source = ruby-forwardable-extended-2.6.0.tar.gz::https://github.com/envygeeks/forwardable-extended/archive/v2.6.0.tar.gz
	sha256sums = d19fc7802c7e2261530e50da15b612e3bdd4f77b50c310ab2733b0affe5e2a22
	sha512sums = 23a682e06ee823b076d6b9925a1ef4ada4f1fc7fa63b02d1b9122485204b62f55c191866170b63b34891934c762ac903df46bf5a2b17055d7504ee7a70627a8b

pkgname = ruby-forwardable-extended

