pkgbase = python-urwid
	pkgdesc = Curses-based user interface library
	pkgver = 2.1.2.r55.gbac20db
	pkgrel = 1
	url = https://urwid.org/
	arch = x86_64
	license = LGPL
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = glibc
	depends = python
	depends = python-typing-extensions
	source = git+https://github.com/urwid/urwid.git#commit=bac20db87eaeb0b7a0026807d7e6dbe391b08580
	sha256sums = SKIP
	sha512sums = SKIP

pkgname = python-urwid
