pkgbase = pycharm-community-edition
	pkgdesc = Python IDE for Professional Developers
	pkgver = 2023.1.1
	pkgrel = 1
	url = https://www.jetbrains.com/pycharm/
	arch = x86_64
	license = Apache
	makedepends = git
	makedepends = java-environment-openjdk=17
	makedepends = python-setuptools
	depends = giflib
	depends = glib2
	depends = java-runtime=17
	depends = python
	depends = sh
	depends = ttf-font
	depends = fontconfig
	depends = libdbusmenu-glib
	optdepends = ipython: IPython integration for Python 3
	options = !debug
	source = git+https://github.com/JetBrains/intellij-community.git#tag=pycharm/231.8770.66
	source = idea-android::git+https://github.com/JetBrains/android.git#tag=pycharm/231.8770.66
	source = pycharm.desktop
	source = pycharm.sh
	source = enable-no-jdr.patch
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 70ae8df10243db2dbc454c0d8e273235707ecb1821a9e8a2e70669a1739fc1af
	sha256sums = f4c4f1dfac7fa89ac1ea407904b19d0513d481b2f6f562672d02bfa4ce32c1ff
	sha256sums = af736aad3e3df7e6196944860521dfbdad1e9f7ecc04ac4f38a067f1b63963e5

pkgname = pycharm-community-edition
