pkgbase = python-termcolor
	pkgdesc = ANSI Color formatting for output in terminal
	pkgver = 2.3.0
	pkgrel = 1
	url = https://github.com/termcolor/termcolor
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatch-vcs
	depends = python
	source = https://pypi.python.org/packages/source/t/termcolor/termcolor-2.3.0.tar.gz
	sha256sums = b5b08f68937f138fe92f6c089b99f1e2da0ae56c52b78bf7075fd95420fd9a5a

pkgname = python-termcolor
