pkgbase = ncmpcpp
	pkgdesc = Almost exact clone of ncmpc with some new features
	pkgver = 0.6.8
	pkgrel = 1
	url = http://ncmpcpp.rybczak.net/
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = boost
	depends = curl
	depends = libmpdclient
	depends = taglib
	depends = ncurses
	depends = fftw
	depends = boost-libs
	source = ncmpcpp-0.6.8.tar.bz2::http://ncmpcpp.rybczak.net/stable/ncmpcpp-0.6.8.tar.bz2
	sha512sums = e474bd4122212c34d7043adf7b68aeaaa2e9b5a999840b7e8632d251bdab17f5314fca03bdf2b8eee5de2572d3e5c602d87a1f89889ab7c747321e4272f63ebc

pkgname = ncmpcpp

