pkgbase = lynis
	pkgdesc = Security and system auditing tool to harden Unix/Linux systems
	pkgver = 2.3.4
	pkgrel = 1
	url = https://cisofy.com/lynis/
	arch = any
	license = GPL3
	depends = sh
	depends = awk
	optdepends = net-tools: networking tests
	optdepends = bind-tools: nameserver tests
	optdepends = iptables: firewall tests
	optdepends = bash-completion: completion for bash
	backup = etc/lynis/default.prf
	source = lynis-2.3.4.tar.gz::https://github.com/CISOfy/lynis/archive/2.3.4.tar.gz
	sha512sums = 9ee61b88a3268ea16c01fe4d6b6755e30d4cb2f34f5ea29b45aba92d53ffbadbc1625b17d7eab2cb946fc3005af6fa81cd7099bae3c0b8b7d2feb559054f49c0

pkgname = lynis

