pkgbase = lynis
	pkgdesc = Security and system auditing tool to harden Unix/Linux systems
	pkgver = 2.5.2
	pkgrel = 1
	url = https://cisofy.com/lynis/
	arch = any
	license = GPL3
	depends = sh
	depends = awk
	optdepends = net-tools: networking tests
	optdepends = bind-tools: nameserver tests
	optdepends = iptables: firewall tests
	optdepends = bash-completion: completion for bash
	backup = etc/lynis/default.prf
	source = https://cisofy.com/files/lynis-2.5.2.tar.gz
	source = https://cisofy.com/files/lynis-2.5.2.tar.gz.asc
	validpgpkeys = 73AC9FC55848E977024D1A61429A566FD5B79251
	sha512sums = dc9b994190f5a6102baaf1c4d226ee90980a32908c009a9f68bb9e716e0ba04063d51f3cca98b9538f6b30224097470ca3d484b667f2af73b922c0b239f4bdae
	sha512sums = SKIP

pkgname = lynis

