pkgbase = clamav
	pkgdesc = Anti-virus toolkit for Unix
	pkgver = 0.99.3
	pkgrel = 1
	url = https://www.clamav.net/
	install = clamav.install
	arch = x86_64
	license = GPL
	makedepends = libmilter
	makedepends = systemd
	depends = bzip2
	depends = libltdl
	depends = libxml2
	depends = curl
	depends = pcre
	depends = libsystemd
	backup = etc/clamav/clamd.conf
	backup = etc/clamav/freshclam.conf
	backup = etc/clamav/clamav-milter.conf
	backup = etc/logrotate.d/clamav
	source = https://www.clamav.net/downloads/production/clamav-0.99.3.tar.gz
	source = https://www.clamav.net/downloads/production/clamav-0.99.3.tar.gz.sig
	source = clamav.logrotate
	source = clamav.tmpfiles
	source = clamav.sysusers
	validpgpkeys = 65ED513993F08DA06F9639A6F13F9E16BCA5BFAD
	sha256sums = 00fa5292a6e00a3a4035b826267748965d5d2c4943d8ff417d740238263e8e84
	sha256sums = SKIP
	sha256sums = c36e3ddf790fa6ea90169038ae08521a31652a372017e6e38858e28fc63b3f74
	sha256sums = 8e216c7e4763a273a120930787dcc444ea221bb719eed180a9d15b4c1d603a84
	sha256sums = 01a896c3a1cd34b323594403fd82a9e353b5aa848b8462137b621959558199e8

pkgname = clamav

