pkgbase = enjarify
	pkgdesc = Translates Dalvik bytecode to equivalent Java bytecode
	pkgver = 1.0.3
	pkgrel = 2
	url = https://github.com/google/enjarify
	arch = any
	license = Apache
	makedepends = git
	depends = python
	source = enjarify::git+https://github.com/google/enjarify#commit=c4fb7e047a457ab580a3c8577aa76fd53ce967b0
	sha512sums = SKIP

pkgname = enjarify

