pkgbase = bettercap-caplets
	pkgdesc = Bettercap scripts (caplets) and proxy modules
	pkgver = v20210412.r372.2d58298
	pkgrel = 3
	url = https://github.com/bettercap/caplets
	arch = any
	license = GPL3
	makedepends = git
	depends = bettercap
	optdepends = java-runtime: java caplets
	source = bettercap-caplets::git+https://github.com/bettercap/caplets#commit=2d5829801250e64e88009f71aa68059ac4689130
	sha512sums = SKIP

pkgname = bettercap-caplets
