pkgbase = terragrunt
	pkgdesc = Thin wrapper for Terraform that provides extra tools for working with multiple Terraform modules
	pkgver = 0.35.20
	pkgrel = 1
	url = https://github.com/gruntwork-io/terragrunt
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = go
	depends = glibc
	depends = terraform
	source = https://github.com/gruntwork-io/terragrunt/archive/v0.35.20/terragrunt-0.35.20.tar.gz
	sha256sums = eeb81d773b8fc32a61a13738a146d1464ca82584b536cd73cc7db6edc5e08ca4
	b2sums = 73782050dcddfa5a1de2a4cfc1cf264e1b245002e12bf3d74f6b7f835c74b46ca154ed11c1985512e0f2d910a605f1f2ba4747424c55458eed9f8687845fcbd1

pkgname = terragrunt
