pkgbase = terragrunt
	pkgdesc = Thin wrapper for Terraform that provides extra tools for working with multiple Terraform modules
	pkgver = 0.28.4
	pkgrel = 1
	url = https://github.com/gruntwork-io/terragrunt
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = go
	depends = glibc
	depends = terraform
	source = https://github.com/gruntwork-io/terragrunt/archive/v0.28.4/terragrunt-0.28.4.tar.gz
	sha256sums = 8ad4fa6e9e9c075a8a04f76117a6ab05a062cd6fe0fd0ed1c23937c7ec272839
	b2sums = 41708f7eef4815471d73c2b7f6758359b7cd24f437acbf4b98a8f3f78dc9c125b81087b319d08510fe7434d5ac927070a15a6952fdaefd643eaf29cf7ceefe57

pkgname = terragrunt

