pkgbase = terragrunt
	pkgdesc = Thin wrapper for Terraform that provides extra tools for working with multiple Terraform modules
	pkgver = 0.38.7
	pkgrel = 1
	url = https://github.com/gruntwork-io/terragrunt
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = go
	depends = glibc
	depends = terraform
	options = !lto
	source = https://github.com/gruntwork-io/terragrunt/archive/v0.38.7/terragrunt-0.38.7.tar.gz
	sha256sums = 99b24f1b88f3b1df3eb69978373d93b8fcfb37a2c3d1a7f944a78b2071b67a5c
	b2sums = b492d30006fa4f8ea38271780f8a90ec313a67849fc926b407c324b5c64c42e0e5cc36da92c60141b45e3f4df0008293f24e173f627a5c3750e1ce621831f037

pkgname = terragrunt
