pkgbase = xscreensaver
	pkgdesc = Screen saver and locker for the X Window System
	pkgver = 5.44
	pkgrel = 2
	url = https://www.jwz.org/xscreensaver/
	arch = x86_64
	license = BSD
	makedepends = bc
	makedepends = intltool
	makedepends = libxpm
	makedepends = gdm
	makedepends = systemd
	makedepends = systemd-libs
	depends = libglade
	depends = libxmu
	depends = glu
	depends = xorg-appres
	depends = perl-libwww
	depends = libsystemd.so
	depends = libxcrypt
	depends = libcrypt.so
	depends = libxi
	depends = libxxf86vm
	depends = libxrandr
	depends = libxinerama
	depends = libxt
	depends = libx11
	depends = libxext
	depends = pam
	depends = glibc
	optdepends = gdm: for login manager support
	backup = etc/pam.d/xscreensaver
	source = https://www.jwz.org/xscreensaver/xscreensaver-5.44.tar.gz
	source = LICENSE
	sha512sums = 9d9144dec6f075c2d6a1c3cd45123a98d6d0cd732d6c3e3389e97b3f802b8f8765a188d1e35f97f123ca0a64661ea616b7b710577063c311da3d99d8439f1dae
	sha512sums = 863c699479b2ec2775a0d1cba22e615929194a14af164b3513e46a0c04229da6547255a4da8f7f1bbb40906898c124ed3c9ec2436b76b62affcb62385af9783e
	b2sums = 102025aa2f57672ed3547f0e9bab989566fb8e50ecae8b9e4078ec5ee5de3cad09fec107695335ef236ad9fe19b2638978366a180a998d77b0ce8a2a5d1ebde3
	b2sums = cacb6ba39d6ecb8703ef5f5a7dc74de0ca805cce73b43a8b9b6b4c255c909aa9b5e692de76c2fbd4da26ce6efb5f2a46138c43b1b37f53cee6d20fd6ed41f4a9

pkgname = xscreensaver

