pkgbase = python-flask-socketio
	pkgdesc = Socket.IO integration for Flask applications
	pkgver = 2.7.1
	pkgrel = 1
	url = https://flask-socketio.readthedocs.org/
	arch = any
	license = MIT
	checkdepends = python-coverage
	checkdepends = python-pytest
	checkdepends = python2-coverage
	checkdepends = python2-pytest
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = python-flask
	makedepends = python-eventlet
	makedepends = python-socketio
	makedepends = python2-setuptools
	makedepends = python2-sphinx
	makedepends = python2-flask
	makedepends = python2-eventlet
	makedepends = python2-socketio
	options = !makeflags
	source = python-flask-socketio-2.7.1.tar.gz::https://github.com/miguelgrinberg/Flask-SocketIO/archive/v2.7.1.tar.gz
	sha512sums = e8082bcef3e82046513b18fa7a0d8edbe7713a2aa5fe9f42bf98e26ff6c4a8abf94864bceb20afa726580c30d128ead459fec316828856606629561ec6594a10

pkgname = python-flask-socketio
	depends = python-flask
	depends = python-eventlet
	depends = python-socketio

pkgname = python2-flask-socketio
	depends = python2-flask
	depends = python2-eventlet
	depends = python-socketio

