pkgbase = python-flask-socketio
	pkgdesc = Socket.IO integration for Flask applications
	pkgver = 2.9.4
	pkgrel = 1
	url = https://flask-socketio.readthedocs.org/
	arch = any
	license = MIT
	checkdepends = python-coverage
	checkdepends = python-pytest
	checkdepends = python2-coverage
	checkdepends = python2-pytest
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = python-flask
	makedepends = python-eventlet
	makedepends = python-socketio
	makedepends = python2-setuptools
	makedepends = python2-sphinx
	makedepends = python2-flask
	makedepends = python2-eventlet
	makedepends = python2-socketio
	options = !makeflags
	source = python-flask-socketio-2.9.4.tar.gz::https://github.com/miguelgrinberg/Flask-SocketIO/archive/v2.9.4.tar.gz
	sha256sums = bce1490faa1765707e5aaa2f8ccd0e623d4b1c94ab2d39fa52dafa1257a871bc
	sha512sums = 805fd917d25ad0b47e58f620bc63f4b821b9400f3bf437f534e65bc19f49012ee176a176c5d73fe3189bc99506f9028ccf13c3c5e01867ecae5f8614976b7e03

pkgname = python-flask-socketio
	depends = python-flask
	depends = python-eventlet
	depends = python-socketio

pkgname = python2-flask-socketio
	depends = python2-flask
	depends = python2-eventlet
	depends = python-socketio

