pkgbase = python-parso
	pkgdesc = Python parser that supports error recovery and round-trip parsing for different Python versions
	pkgver = 0.8.1
	pkgrel = 1
	epoch = 1
	url = https://github.com/davidhalter/parso
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = python-setuptools
	makedepends = python-sphinx
	depends = python
	source = https://github.com/davidhalter/parso/archive/v0.8.1/parso-0.8.1.tar.gz
	sha512sums = 10cc36a4f288d06b8d06bf3995eafe8c6b5d46d0ab01ce6db4557c82f8c64c6792b438a5b7dea570a9690bad586ab4216161268be9c1979b91b3af50e1c8801c
	b2sums = d8d2a025dfb6664d8deeabfc621f4dcf0c6f6e0769dc3a7081888436cce39685f7749ee4ed33c501e3690bec0c8b21d18195d585a8baf5fa8c1b1ae1bfad5680

pkgname = python-parso

