pkgbase = lib32-freeglut
	pkgdesc = Provides functionality for small OpenGL programs (32-bit)
	pkgver = 3.4.0
	pkgrel = 1
	url = https://freeglut.sourceforge.net/
	arch = x86_64
	license = MIT
	makedepends = lib32-mesa
	makedepends = lib32-glu
	makedepends = lib32-libxxf86vm
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	depends = lib32-libxi
	depends = lib32-libxrandr
	depends = lib32-libgl
	depends = freeglut
	provides = lib32-glut
	conflicts = lib32-glut
	replaces = lib32-glut
	source = git+https://github.com/FreeGLUTProject/freeglut#commit=63c0e78d84ecbfcf8accd8bac04404427899053b
	b2sums = SKIP

pkgname = lib32-freeglut
