pkgbase = haskell-parsec
	pkgdesc = Monadic parser combinators
	pkgver = 3.1.13.0
	pkgrel = 2
	url = https://hackage.haskell.org/package/parsec
	arch = x86_64
	license = custom:BSD3
	makedepends = ghc
	makedepends = haskell-hunit
	makedepends = haskell-test-framework
	makedepends = haskell-test-framework-hunit
	depends = ghc-libs
	depends = haskell-mtl
	depends = haskell-text
	source = https://hackage.haskell.org/packages/archive/parsec/3.1.13.0/parsec-3.1.13.0.tar.gz
	sha512sums = 4efa52bf5f8cdfe81ea97f1ea0bb5522331217976feaf98bb5ebfdf37f4685263f653de091c0ec0ecb0fc26cf6f8525639f9728c9e92afc154e91c6d4239c9b3

pkgname = haskell-parsec

