pkgbase = awesome
	pkgdesc = Highly configurable framework window manager
	pkgver = 3.5.9
	pkgrel = 1
	url = https://awesomewm.org/
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = asciidoc
	makedepends = cmake
	makedepends = docbook-xsl
	makedepends = doxygen
	makedepends = imagemagick
	makedepends = ldoc
	makedepends = xmlto
	depends = cairo
	depends = dbus
	depends = gdk-pixbuf2
	depends = imlib2
	depends = libxdg-basedir
	depends = lua
	depends = lua-lgi
	depends = pango
	depends = startup-notification
	depends = xcb-util-cursor
	depends = xcb-util-keysyms
	depends = xcb-util-wm
	depends = xorg-xmessage
	optdepends = rlwrap: readline support for awesome-client
	optdepends = dex: autostart your desktop files
	optdepends = vicious: widgets for the Awesome window manager
	provides = notification-daemon
	backup = etc/xdg/awesome/rc.lua
	source = https://github.com/awesomeWM/awesome-releases/raw/master/awesome-3.5.9.tar.xz
	sha512sums = 6a4c679b293e8cd85d1f7e13f6dea704cbb267e42b9260496a54b657a66d6148aae51521d802d61baaeb23df0d4a8ad0b28d9dc922ea5da2a347b4251cce5e25

pkgname = awesome

