pkgbase = awesome
	pkgdesc = Highly configurable framework window manager
	pkgver = 4.1
	pkgrel = 1
	url = https://awesomewm.org/
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = asciidoc
	makedepends = cmake
	makedepends = docbook-xsl
	makedepends = doxygen
	makedepends = imagemagick
	makedepends = ldoc
	makedepends = xmlto
	depends = cairo
	depends = dbus
	depends = gdk-pixbuf2
	depends = imlib2
	depends = libxdg-basedir
	depends = lua
	depends = lua-lgi
	depends = pango
	depends = startup-notification
	depends = xcb-util-cursor
	depends = xcb-util-keysyms
	depends = xcb-util-wm
	depends = xorg-xmessage
	depends = libxkbcommon-x11
	depends = libxkbcommon
	depends = xcb-util-xrm
	optdepends = rlwrap: readline support for awesome-client
	optdepends = dex: autostart your desktop files
	optdepends = vicious: widgets for the Awesome window manager
	provides = notification-daemon
	backup = etc/xdg/awesome/rc.lua
	source = https://github.com/awesomeWM/awesome/releases/download/v4.1/awesome-4.1.tar.xz
	source = https://github.com/awesomeWM/awesome/releases/download/v4.1/awesome-4.1.tar.xz.asc
	validpgpkeys = 2BB32F88FF3D1E76E682303F22E428EBCB8FCB06
	sha512sums = e0c1ed5fc8f0455258ec2566e430b24e52b78d1ae54357f5de1bf08f2e44682e9b2c5548905a90cc4526d98d2b6700e087b679abc9e620d3751ea420df9434f6
	sha512sums = SKIP

pkgname = awesome

