pkgbase = awesome
	pkgdesc = Highly configurable framework window manager
	pkgver = 4.0
	pkgrel = 1
	url = https://awesomewm.org/
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = asciidoc
	makedepends = cmake
	makedepends = docbook-xsl
	makedepends = doxygen
	makedepends = imagemagick
	makedepends = ldoc
	makedepends = xmlto
	depends = cairo
	depends = dbus
	depends = gdk-pixbuf2
	depends = imlib2
	depends = libxkbcommon-x11
	depends = libxdg-basedir
	depends = lua
	depends = lua-lgi
	depends = pango
	depends = startup-notification
	depends = xcb-util-cursor
	depends = xcb-util-keysyms
	depends = xcb-util-wm
	depends = xcb-util-xrm
	depends = xorg-xmessage
	optdepends = rlwrap: readline support for awesome-client
	optdepends = dex: autostart your desktop files
	optdepends = vicious: widgets for the Awesome window manager
	provides = notification-daemon
	backup = etc/xdg/awesome/rc.lua
	source = https://github.com/awesomeWM/awesome/releases/download/v4.0/awesome-4.0.tar.xz
	source = https://github.com/awesomeWM/awesome/releases/download/v4.0/awesome-4.0.tar.xz.asc
	validpgpkeys = 2BB32F88FF3D1E76E682303F22E428EBCB8FCB06
	sha512sums = 80bdfe5f9166f5e9b0266cd630b48607d17605330d0f172666dbfa3f239ef04aeafafebe8949c3bf1c31a7bd372b60252d56c815048a24e015858585c3d0432b
	sha512sums = SKIP

pkgname = awesome

