pkgbase = python-flask-htmlmin
	pkgdesc = Flask html response minifier
	pkgver = 1.5.2
	pkgrel = 2
	url = https://github.com/hamidfzm/Flask-HTMLmin
	arch = any
	license = BSD
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	checkdepends = python-pytest-runner
	makedepends = python-setuptools
	depends = python
	depends = python-flask
	depends = python-htmlmin
	source = https://github.com/hamidfzm/Flask-HTMLmin/archive/v1.5.2/-1.5.2.tar.gz
	sha256sums = 20be2e75861f069e47cf7ec04d9fc9d8e020ec73dbf473ed87d0d5e36dee0dea
	sha512sums = 8e08a7eeaf23a3c1b8a868f9962f00f17871deee19022f7f5865acf964b21cec6ab84fefba2aa74e3404e652794800faa4404147dd4e0004a59fcaabe741d92e

pkgname = python-flask-htmlmin

