pkgbase = ruby-addressable
	pkgdesc = URI Implementation
	pkgver = 2.6.0
	pkgrel = 2
	url = https://github.com/sporkmonger/addressable
	arch = any
	license = Apache
	makedepends = ruby-rdoc
	depends = ruby
	depends = ruby-public_suffix
	options = !emptydirs
	source = ruby-addressable-2.6.0.tar.gz::https://github.com/sporkmonger/addressable/archive/addressable-2.6.0.tar.gz
	sha256sums = fd41dd66a08b3647346a5d5cf996bedc571a685a722cc489348fba160a7d7595
	sha512sums = 9e889c173d32bfd1311a2a8cab6e2caa28666bb10387e2c5ccde6ce42b94d7366ce723a9ce3af6768b35fa4d5ef3a23ecf68d24ab31e12928e23dac178fab87f

pkgname = ruby-addressable

