pkgbase = hydra
	pkgdesc = Very fast network logon cracker which support many different services
	pkgver = 9.4
	pkgrel = 2
	url = https://github.com/vanhauser-thc/thc-hydra
	arch = x86_64
	license = GPL3
	depends = postgresql-libs
	depends = subversion
	depends = libssh
	depends = mariadb-libs
	depends = libidn
	depends = libfbclient
	depends = afpfs-ng
	depends = zlib
	depends = openssl
	depends = ncurses
	depends = pcre2
	depends = freerdp
	depends = libmemcached
	depends = mongo-c-driver
	depends = libncursesw.so
	depends = libmariadb.so
	depends = libpq.so
	depends = libssh.so
	depends = libfreerdp2.so
	depends = libwinpr2.so
	source = https://github.com/vanhauser-thc/thc-hydra/archive/v9.4/thc-hydra-v9.4.tar.gz
	sha512sums = de5a1e73673fdc2f193cfb1aeec337c9d8faad52b06524850f352a797a4a5ef08cba8fc51da96fed1db01d141127e58c2aa874027f51c40a94a474de778d5241
	b2sums = 2ba7f7e4a70c4f6c9dc4ec94d652ab7534cb0fb17b88412dfcf1e651d9f31af573ab9acd2d9cb698da6462f4744f53dfb8f87a437c32bebfa4f9a04f2f9136c0

pkgname = hydra
