pkgbase = python-pytest-asyncio
	pkgdesc = Pytest support for asyncio.
	pkgver = 0.15.1
	pkgrel = 1
	url = https://github.com/pytest-dev/pytest-asyncio/
	arch = any
	license = Apache
	checkdepends = python-coverage
	checkdepends = python-async_generator
	checkdepends = python-hypothesis
	makedepends = python-setuptools
	depends = python-pytest
	source = python-pytest-asyncio-0.15.1.tar.gz::https://github.com/pytest-dev/pytest-asyncio/archive/v0.15.1.tar.gz
	sha512sums = 1813d49e0dd55f563d9bf058e009da61a17f61e081cc53626b5f1db623ba04905b6bea3ecba423dc931668053310176b634339d6526c7ea729d9aad87e4f044d

pkgname = python-pytest-asyncio
