pkgbase = vim
	pkgdesc = Vi Improved, a highly configurable, improved version of the vi text editor
	pkgver = 8.0.1806
	pkgrel = 1
	url = http://www.vim.org
	arch = x86_64
	license = custom:vim
	makedepends = glibc
	makedepends = libgcrypt
	makedepends = gpm
	makedepends = python2
	makedepends = python
	makedepends = ruby
	makedepends = libxt
	makedepends = gtk3
	makedepends = lua
	makedepends = gawk
	makedepends = tcl
	makedepends = pcre
	makedepends = zlib
	makedepends = libffi
	source = vim-8.0.1806.tar.gz::https://github.com/vim/vim/archive/v8.0.1806.tar.gz
	source = vimrc
	source = archlinux.vim
	source = vimdoc.hook
	sha256sums = 87100bb7db63fe3d97a8e80c9d301e3b57f985849e693280bad4c6faf7624f3b
	sha256sums = b16e85e457397ab2043a7ee0a3c84307c6b4eac157fd0b721694761f25b3ed5b
	sha256sums = 2a6689ce603486f87df9d7e9697032015a8688d663984f5380c1f16cfeed31d4
	sha256sums = 7095cafac21df7aa42749d6864d1c0549fe65771d8edda3102c931c60782b6b9
	sha512sums = 6e3c39517552d6a9b5e766741fab657d172d58585749ef5bfc22c0ce4445d36a326373ac5917a0f0586840595a263724c19b88f93289a875e14f275cc3becc99
	sha512sums = 4b5bed0813f22af9e158ea9aa56a4a9862dd786ba2d201f20159ccf652da6190164aaed0b6b7217d578f7b25c33a8adcc307bfcf3caa8d173a7ff29e2a00fee7
	sha512sums = 6d0130bb35fc1abb5d657393290d838742725a9d5e4e592b5fd71c8c5852374de010fb58347974096192c8dd8cf42c67185bc2cc38c70609afbcce2c91489781
	sha512sums = 1e06e981691b17662fd0fddac5c00c87c920d1b4a1cbb6191c42d57cc40b00af12710e26b22fcfc0901bb8142b15f6a04aa65cec2d9b3bb9d5a06cb650d3ab9c

pkgname = vim
	depends = vim-runtime=8.0.1806-1
	depends = gpm
	depends = acl
	depends = glibc
	depends = libgcrypt
	depends = pcre
	depends = zlib
	depends = libffi
	optdepends = python2: Python 2 language support
	optdepends = python: Python 3 language support
	optdepends = ruby: Ruby language support
	optdepends = lua: Lua language support
	optdepends = perl: Perl language support
	optdepends = tcl: Tcl language support
	provides = xxd
	provides = vim-minimal
	provides = vim-python3
	conflicts = gvim
	conflicts = vim-minimal
	conflicts = vim-python3
	replaces = vim-python3
	replaces = vim-minimal

pkgname = gvim
	pkgdesc = Vi Improved, a highly configurable, improved version of the vi text editor (with advanced features, such as a GUI)
	depends = vim-runtime=8.0.1806-1
	depends = gpm
	depends = libxt
	depends = gtk3
	depends = glibc
	depends = libgcrypt
	depends = pcre
	depends = zlib
	depends = libffi
	optdepends = python2: Python 2 language support
	optdepends = python: Python 3 language support
	optdepends = ruby: Ruby language support
	optdepends = lua: Lua language support
	optdepends = perl: Perl language support
	optdepends = tcl: Tcl language support
	provides = vim=8.0.1806-1
	provides = xxd
	conflicts = vim-minimal
	conflicts = vim
	replaces = gvim-python3

pkgname = vim-runtime
	pkgdesc = Vi Improved, a highly configurable, improved version of the vi text editor (shared runtime)
	optdepends = sh: support for some tools and macros
	optdepends = python: demoserver example tool
	optdepends = gawk: mve tools upport
	backup = etc/vimrc

