pkgbase = zmap
	pkgdesc = Fast network scanner designed for Internet-wide network surveys
	pkgver = 1.2.1
	pkgrel = 3
	url = https://zmap.io/
	arch = i686
	arch = x86_64
	license = Apache
	makedepends = byacc
	makedepends = cmake
	makedepends = gengetopt
	depends = gmp
	depends = hiredis
	depends = json-c
	depends = libpcap
	backup = etc/zmap/blacklist.conf
	backup = etc/zmap/zmap.conf
	source = zmap-1.2.1.tar.gz::https://github.com/zmap/zmap/archive/v1.2.1.tar.gz
	sha512sums = 1b3d7fa41bb75c859463f3ec8bcde31778f5d91a6f561aa9638ba93be97dacdba89493574581ce52aebcf093a86b042dcce41cffe6cb0849bb76a6005b714be2

pkgname = zmap

