pkgbase = python-bluepy
	pkgdesc = Python module for interfacing with Bluetooth LE devices through Bluez
	pkgver = 1.1.4
	pkgrel = 1
	url = https://github.com/IanHarvey/bluepy
	arch = x86_64
	license = GPL2
	makedepends = bluez
	makedepends = glib2
	makedepends = python
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = python2
	makedepends = python2-setuptools
	makedepends = python2-sphinx
	options = !makeflags
	source = python-bluepy-1.1.4.tar.gz::https://github.com/IanHarvey/bluepy/archive/v/1.1.4.tar.gz
	sha256sums = 55495d1c4b308199d4f648bb9c6a1b9ac636a279d55e142c62fa490727054620
	sha512sums = 39ae486dab32c88a3c0a0ca8ba9b96be0682ea6c1ba56a5e58de873e2c1364066ddbe0f32bdd1a42a0e9bbadd6d9fe2e951868d15ebff5c1fff0c5b8132f6b25

pkgname = python-bluepy
	depends = python
	depends = python-setuptools
	depends = bluez
	depends = glib2

pkgname = python2-bluepy
	depends = python2
	depends = python2-setuptools
	depends = bluez
	depends = glib2

