pkgbase = mediaelch
	pkgdesc = Media Manager for handling Movies, TV Shows and Concerts/Music Videos for Kodi
	pkgver = 2.6.6
	pkgrel = 2
	url = https://www.mediaelch.de/mediaelch/
	arch = x86_64
	license = LGPL3
	depends = libmediainfo
	depends = qt5-declarative
	depends = qt5-multimedia
	depends = qt5-script
	depends = quazip
	source = https://github.com/Komet/MediaElch/archive/v2.6.6/mediaelch-2.6.6.tar.gz
	sha256sums = 05c165256c3f0d27d424be8b2e635496a4f54f776563b3191707e65a94be52fc
	b2sums = 4f744d119f5baa50cb9639d799d018a972989cbaa9003c5b020da0b2b6172f6bba09778e9119857cae69f92cf52d4f57c850570ca17e6c55b502063e797f75a3

pkgname = mediaelch

