pkgbase = mediaelch
	pkgdesc = Media Manager for handling Movies, TV Shows and Concerts/Music Videos for Kodi
	pkgver = 2.8.12
	pkgrel = 1
	url = https://www.mediaelch.de/mediaelch/
	arch = x86_64
	license = LGPL3
	makedepends = cmake
	makedepends = ninja
	makedepends = qt5-tools
	depends = glibc
	depends = gcc-libs
	depends = libmediainfo
	depends = qt5-declarative
	depends = qt5-multimedia
	depends = qt5-script
	depends = qt5-svg
	depends = quazip
	source = https://github.com/Komet/MediaElch/archive/v2.8.12/mediaelch-2.8.12.tar.gz
	sha256sums = c3f30fb18ad496057984ea7ea2593710ec4069eda1f4324ba10dffb66a5c3a75
	b2sums = f0c8afa6b12988621d339b5c6b56d7dd4354d61598a2cb26a2f4a75784d197aad5e2d425d59032b174efb57b079ec9a9fd948553e74f5e1bcea8b49a494dc047

pkgname = mediaelch

