pkgbase = aircrack-ng
	pkgdesc = Key cracker for the 802.11 WEP and WPA-PSK protocols
	pkgver = 1.7
	pkgrel = 1
	url = https://www.aircrack-ng.org
	arch = x86_64
	license = GPL2
	checkdepends = cmocka
	depends = glibc
	depends = gcc-libs
	depends = openssl
	depends = sqlite
	depends = iw
	depends = net-tools
	depends = wireless_tools
	depends = ethtool
	depends = pcre
	depends = libpcap
	depends = libpcap.so
	depends = python
	depends = zlib
	depends = libnl
	depends = hwloc
	depends = usbutils
	provides = aircrack-ng-scripts
	conflicts = aircrack-ng-scripts
	replaces = aircrack-ng-scripts
	source = https://download.aircrack-ng.org/aircrack-ng-1.7.tar.gz
	sha256sums = 05a704e3c8f7792a17315080a21214a4448fd2452c1b0dd5226a3a55f90b58c3
	b2sums = 4461af7b698d30c96e6f93494d5ee658bf8d7144d8b165e9b8aee1766a35dddded3bbb738237e1100dcf22167125aa7cf9149288bba1607fe778470b04596cb2

pkgname = aircrack-ng
