pkgbase = aircrack-ng
	pkgdesc = Key cracker for the 802.11 WEP and WPA-PSK protocols
	pkgver = 1.6
	pkgrel = 6
	url = https://www.aircrack-ng.org
	arch = x86_64
	license = GPL2
	checkdepends = cmocka
	depends = openssl
	depends = sqlite
	depends = iw
	depends = net-tools
	depends = wireless_tools
	depends = ethtool
	depends = pcre
	depends = libpcap
	depends = python
	depends = zlib
	depends = libnl
	depends = hwloc
	depends = usbutils
	provides = aircrack-ng-scripts
	conflicts = aircrack-ng-scripts
	replaces = aircrack-ng-scripts
	source = https://download.aircrack-ng.org/aircrack-ng-1.6.tar.gz
	source = aircrack-ng-1.6-airgraphviz-py.patch::https://github.com/aircrack-ng/aircrack-ng/commit/5815bfe2ede99c094709a3289172335c3ba5b255.patch
	source = aircrack-ng-1.6-airgraphviz-make.patch::https://github.com/aircrack-ng/aircrack-ng/commit/b9ee19bcf868d4f4f0197cb0d886d0ebe91a6636.patch
	sha256sums = 4f0bfd486efc6ea7229f7fbc54340ff8b2094a0d73e9f617e0a39f878999a247
	sha256sums = 6b091cf250b4c09475f0c70428f0d8471a4fc2ffaff5edc67548b69cb4cda1e8
	sha256sums = 89549000a3016ec98def974fbbb913b759861aa654f43fd3e3e2b0951955dbfa

pkgname = aircrack-ng
