pkgbase = libmypaint
	pkgdesc = Library for making brushstrokes which is used by MyPaint and other projects
	pkgver = 1.5.1
	pkgrel = 2
	url = http://mypaint.org/
	arch = x86_64
	license = ISC
	makedepends = intltool
	makedepends = python
	makedepends = python-sphinx
	makedepends = python-breathe
	makedepends = gobject-introspection
	makedepends = doxygen
	depends = glibc
	depends = json-c
	depends = gegl
	depends = glib2
	depends = json-glib
	depends = babl
	source = https://github.com/mypaint/libmypaint/archive/v1.5.1/libmypaint-1.5.1.tar.gz
	sha512sums = 3cebce0adb1f029f19dfcc19b4d8c5c1102c0cd966930fe76eda60ff4e18ced9a4c8ecae8f31f12d931172c82bd5dabd7ca7a47b9c06305472192af242b3e1b6

pkgname = libmypaint

