pkgbase = python-claripy
	pkgdesc = Abstraction layer for constraint solvers
	pkgver = 9.2.47
	pkgrel = 1
	url = https://github.com/angr/claripy
	arch = any
	license = custom:BSD2
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-cachetools
	depends = python-decorator
	depends = python-pysmt
	depends = python-z3-solver
	source = https://github.com/angr/claripy/archive/v9.2.47/python-claripy-9.2.47.tar.gz
	sha512sums = 5a98c08ea12b050112a5ea0fa3768540240fd60736c03bca58a6b60c094caa2bea636b887da011aa2f88028225839938ef8c015eb8a6e57cb9e6deb3ee504c19
	b2sums = 3fcd4889b6d4a26e31e3ed407dd31bae0fb97060c54ce3699e4eba5986f0db4122f8e6fb48eb4d0d17e1ea49472fc74edbf35b6b8fbdb0091d9e695b7ffb8546

pkgname = python-claripy
