pkgbase = z3
	pkgdesc = High-performance theorem prover
	pkgver = 4.8.17
	pkgrel = 1
	url = https://github.com/Z3Prover/z3
	arch = x86_64
	license = MIT
	makedepends = glibc
	makedepends = cmake
	makedepends = ninja
	makedepends = python
	makedepends = python-setuptools
	makedepends = gcc-libs
	source = https://github.com/Z3Prover/z3/archive/z3-4.8.17.tar.gz
	sha512sums = 95517014ec1798c2552253dd5cde6f955896ab297a4f56294f4bc6f2c5428069015f513c6eb9a090a809cfcf4cb1cc38cc83818f19b5b1051e4e6c06f973747d
	b2sums = 80dbb5d48811eb6022c0d0117d1e954bae7b27ff984f24cdfbc9158eb548349f817f30ea231d1119aadeedaec63765834bff6f6d21276d0bf61c30212444f224

pkgname = z3
	depends = glibc
	depends = gcc-libs
	provides = libz3
	provides = libz3.so

pkgname = python-z3
	depends = python
	depends = z3
