pkgbase = z3
	pkgdesc = High-performance theorem prover
	pkgver = 4.11.0
	pkgrel = 1
	url = https://github.com/Z3Prover/z3
	arch = x86_64
	license = MIT
	makedepends = glibc
	makedepends = cmake
	makedepends = ninja
	makedepends = python
	makedepends = python-setuptools
	makedepends = gcc-libs
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	source = https://github.com/Z3Prover/z3/archive/z3-4.11.0.tar.gz
	sha512sums = a3fd7e013948de6683b16aca03641bb845d02187152bebdee8c62c2a3f80a7710a1d3b9aef9c1490c2340571bb225f457928ac57a2ed28c0084ced34bcf3e905
	b2sums = 5b59efdf74d5d358daf23f877a090b240909eab14bebb9f23c68c7eb7fb7f2258afc049665061f61d10c1e092382f707f094f12c20f33c7e06c7939275b231d0

pkgname = z3
	depends = glibc
	depends = gcc-libs
	provides = libz3
	provides = libz3.so

pkgname = python-z3-solver
	depends = python
	depends = python-setuptools
	depends = z3
	conflicts = python-z3
	replaces = python-z3
