pkgbase = z3
	pkgdesc = High-performance theorem prover
	pkgver = 4.8.12
	pkgrel = 1
	url = https://github.com/Z3Prover/z3
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = ninja
	makedepends = python
	makedepends = python-setuptools
	makedepends = gcc-libs
	source = https://github.com/Z3Prover/z3/archive/z3-4.8.12.tar.gz
	sha512sums = 0b377923bdaffaca1846aa2abd61003bbecadfcdfc908ed3097d0aac8f32028ac39d93fb4a9c2e2c2bfffbdbee80aa415875f17de6c2ee2ae8e2b7921f788c6e

pkgname = z3
	depends = gcc-libs
	provides = libz3
	provides = libz3.so

pkgname = python-z3
	depends = python
	depends = z3
