pkgbase = binwalk
	pkgdesc = Tool for searching a given binary image for embedded files
	pkgver = 2.3.2
	pkgrel = 1
	url = https://github.com/ReFirmLabs/binwalk
	arch = any
	license = MIT
	depends = python
	optdepends = python-opengl: binviz module support
	optdepends = python-capstone: disassembly support
	optdepends = arj: ARJ decompression support
	optdepends = cabextract: CAB archive support
	optdepends = cpio: CPIO archvie support
	optdepends = gzip: GZIP decompression support
	optdepends = mtd-utils: JFFS filesystem support
	optdepends = p7zip: ZIP, LZMA and ISO decompression support
	optdepends = squashfs-tools: squashfs support
	optdepends = tar: TAR archive support
	optdepends = bzip2: BZIP2 archive support
	optdepends = unrar: RAR decompression support
	optdepends = xz: XZ decompression support
	optdepends = lhasa: LHA support
	optdepends = sleuthkit: forensic analysis support
	source = https://github.com/ReFirmLabs/binwalk/archive/v2.3.2/binwalk-2.3.2.tar.gz
	sha512sums = 7107e322bdbd2464c950b611d85fa20db59aefab5dbb134a341be72f683504683e7e43ab3cc78310d132f86d6289222cf991fb08923da9c33f13adc523456d3d
	b2sums = 9ae21e570c6d7953eb025da9d0cc7c73953b948ef25e82d1948d265da9520618244763fefe4576e604806f56bd70306c4dd271259254a13935eaf11fcb199354

pkgname = binwalk
