pkgbase = vim-gitgutter
	pkgdesc = Vim plugin which shows a git diff in the gutter (sign column)
	pkgver = 636.ba049e7
	pkgrel = 1
	url = https://github.com/airblade/vim-gitgutter
	arch = any
	groups = vim-plugins
	license = MIT
	depends = vim
	depends = git
	source = vim-gitgutter::git+https://github.com/airblade/vim-gitgutter#commit=ba049e707abe9c75f050fa4a26a4a61929f5dc2d
	sha512sums = SKIP

pkgname = vim-gitgutter

