pkgbase = vim-gitgutter
	pkgdesc = Vim plugin which shows a git diff in the gutter (sign column)
	pkgver = 544.7eeea63
	pkgrel = 1
	url = https://github.com/airblade/vim-gitgutter
	arch = any
	groups = vim-plugins
	license = MIT
	depends = vim
	depends = git
	source = vim-gitgutter::git+https://github.com/airblade/vim-gitgutter#commit=7eeea63e62b1cc088a75c7a7c244fc774d82e5bb
	sha512sums = SKIP

pkgname = vim-gitgutter

