pkgbase = vim-gitgutter
	pkgdesc = Vim plugin which shows a git diff in the gutter (sign column)
	pkgver = 493.ad25925
	pkgrel = 1
	url = https://github.com/airblade/vim-gitgutter
	arch = any
	groups = vim-plugins
	license = MIT
	depends = vim
	depends = git
	source = vim-gitgutter::git+https://github.com/airblade/vim-gitgutter#commit=ad25925f1ec8790a3b0532c367c40470342d73fb
	sha512sums = SKIP

pkgname = vim-gitgutter

