pkgbase = speedtest-cli
	pkgdesc = Command line interface for testing internet bandwidth using speedtest.net
	pkgver = 2.1.3
	pkgrel = 4
	url = https://github.com/sivel/speedtest-cli
	arch = any
	license = Apache
	makedepends = python-setuptools
	depends = python
	source = https://github.com/sivel/speedtest-cli/archive/v2.1.3/speedtest-cli-2.1.3.tar.gz
	sha512sums = e2ecd9b4eea95e3641045c3da217ec5a39846b26c1f773fdd31c6ffe3cb5e35341320fc1992f865af48afd1a704c4d4224f9ec4048abb69131ee2f32385ae94c

pkgname = speedtest-cli
