pkgbase = disorderfs
	pkgdesc = FUSE filesystem that introduces non-determinism
	pkgver = 0.5.6
	pkgrel = 1
	url = https://reproducible-builds.org/
	arch = x86_64
	license = GPL3
	makedepends = asciidoc
	makedepends = git
	depends = fuse
	source = https://reproducible-builds.org/_lfs/releases/disorderfs/disorderfs-0.5.6.tar.bz2
	source = https://reproducible-builds.org/_lfs/releases/disorderfs/disorderfs-0.5.6.tar.bz2.asc
	validpgpkeys = B8BF54137B09D35CF026FE9D091AB856069AAA1C
	sha512sums = 6909dec184bca1d37577730b66a1ad42a877527e61052b35587616a803dda5e948596cdb255826ffb5c3d88d18c59b1aa0e6acfee9219de0b8ab0ae1cc96f959
	sha512sums = SKIP

pkgname = disorderfs

