pkgbase = disorderfs
	pkgdesc = FUSE filesystem that introduces non-determinism
	pkgver = 0.5.9
	pkgrel = 1
	url = https://reproducible-builds.org/
	arch = x86_64
	license = GPL3
	makedepends = asciidoc
	makedepends = git
	depends = fuse
	depends = gcc-libs
	source = https://reproducible-builds.org/_lfs/releases/disorderfs/disorderfs-0.5.9.tar.gz
	source = https://reproducible-builds.org/_lfs/releases/disorderfs/disorderfs-0.5.9.tar.gz.asc
	validpgpkeys = B8BF54137B09D35CF026FE9D091AB856069AAA1C
	validpgpkeys = C2FE4BD271C139B86C533E461E953E27D4311E58
	sha512sums = 3254fa8838411b6f882327217af7421c8ebbf515fa3d4885aa2aa92126ad26bf5afbdea09e5a9e9547c3c2974a9a1489892cea8cf43444e167855fb58f0013a7
	sha512sums = SKIP

pkgname = disorderfs

