pkgbase = dav1d
	pkgdesc = AV1 cross-platform decoder focused on speed and correctness
	pkgver = 0.3.0
	pkgrel = 1
	url = https://code.videolan.org/videolan/dav1d/
	arch = x86_64
	license = BSD
	makedepends = meson
	makedepends = ninja
	makedepends = nasm
	makedepends = doxygen
	depends = glibc
	provides = libdav1d.so
	source = https://downloads.videolan.org/pub/videolan/dav1d/0.3.0/dav1d-0.3.0.tar.xz
	source = https://downloads.videolan.org/pub/videolan/dav1d/0.3.0/dav1d-0.3.0.tar.xz.asc
	validpgpkeys = 65F7C6B4206BD057A7EB73787180713BE58D1ADC
	sha512sums = a1e5bc5d9aa6df5451346b65e8be634588003e24bd8f5f3c14687354c0783287aaf9c68059ef9edcfbb9c8865afaef15ac7bce72780113423f997b710a2eaa2f
	sha512sums = SKIP

pkgname = dav1d

