pkgbase = python-distro
	pkgdesc = Linux OS platform information API
	pkgver = 1.7.0
	pkgrel = 1
	url = https://github.com/python-distro/distro
	arch = any
	license = Apache
	checkdepends = python-pytest
	makedepends = python-sphinx
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-setuptools
	options = !makeflags
	source = https://github.com/python-distro/distro/archive/v1.7.0/python-distro-1.7.0.tar.gz
	sha512sums = 6d2e2640b5233f9503adec1290d61cfe58a75faba75b42c71c219c73cf32d7a071018543721894d2565219d3d41b616300469bac8d6d4c5a91db89120343d32e
	b2sums = 18f92f51d912ab0a64dce54dfbb90b8300b927d59a1715b8e00ee4100b7183010f0093032dcd23bfbf0e51b8f2d5fd017cb66f5e25f0510db42032cf403ca0a8

pkgname = python-distro
