pkgbase = pgadmin4
	pkgdesc = Comprehensive design and management interface for PostgreSQL
	pkgver = 3.6
	pkgrel = 1
	url = https://www.pgadmin.org/
	arch = x86_64
	license = custom
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = imagemagick
	depends = qt5-base
	depends = postgresql-libs
	depends = hicolor-icon-theme
	depends = python
	depends = python-blinker
	depends = python-extras
	depends = python-fixtures
	depends = python-flask
	depends = python-flask-login
	depends = python-flask-migrate
	depends = python-flask-sqlalchemy
	depends = python-flask-wtf
	depends = python-html5lib
	depends = python-passlib
	depends = python-mimeparse
	depends = python-pytz
	depends = python-simplejson
	depends = python-six
	depends = python-speaklater
	depends = python-sqlparse
	depends = python-wtforms
	depends = python-psutil
	depends = python-jinja
	depends = python-paramiko
	depends = python-psycopg2
	depends = python-pycryptodome
	depends = python-sqlalchemy
	depends = python-testtools
	depends = python-webencodings
	depends = python-werkzeug
	depends = python-dateutil
	depends = python-pyrsistent
	depends = python-pbr
	depends = python-flask-gravatar
	depends = python-flask-mail
	depends = python-flask-principal
	depends = python-flask-paranoid
	depends = python-htmlmin
	depends = python-flask-htmlmin
	depends = python-sshtunnel
	depends = python-flask-security
	source = https://ftp.postgresql.org/pub/pgadmin/pgadmin4/v3.6/source/pgadmin4-3.6.tar.gz
	source = https://ftp.postgresql.org/pub/pgadmin/pgadmin4/v3.6/source/pgadmin4-3.6.tar.gz.asc
	source = pgAdmin4.desktop
	source = config_distro.py
	source = config_local.py
	source = pgadmin4-compatibility-with-python3-pycryptodome.patch
	source = pgadmin4-python-de-vendor-venv-paths.patch
	validpgpkeys = E8697E2EEF76C02D3A6332778881B2A8210976F2
	sha512sums = 565867a8a1d925fd5b3a24a6ef58bf98508321d4a4ebe404090defc03a67c8e22b7367ba049b6ec6a9a6c33de220bce3f281df4bc9a6cdd41d408507ebcceeee
	sha512sums = SKIP
	sha512sums = b19dda3331585010c759099eb09f4db288ce4cd3d36882b56748e1e3756dc7bee2899d7438d496280498ec6a60f6e1ba90309d49fc599403f1fdc7e8817b6645
	sha512sums = 16d00dc2095904a6b12da7039458f632873829ad98d4d7653eac5804032ba92097ccae4488d56467d0ea9bd64e2654a3dead73eb7924c947ff1737ff6e3b4745
	sha512sums = cf83e1357eefb8bdf1542850d66d8007d620e4050b5715dc83f4a921d36ce9ce47d0d13c5d85f2b0ff8318d2877eec2f63b931bd47417a81a538327af927da3e
	sha512sums = 37f47723ed4ce4a2fef5e400eefb77a3c5dfe8e51ba749dad1c91c403379a02b0bfdf78086bd9fc33c5e9e6fbe8462f7b6103bcfb992ba0c3dcfca919d9eb985
	sha512sums = 70c8e589421ab50cf81753fbcfb5df65669b0feeefa3a57ee574b3785424fd107af720fc7007e52876798a46fae88f2c02dbf156aa096397afa0f85ac04fdb76

pkgname = pgadmin4

