pkgbase = pgadmin4
	pkgdesc = Comprehensive design and management interface for PostgreSQL
	pkgver = 4.29
	pkgrel = 1
	url = https://www.pgadmin.org/
	arch = x86_64
	license = custom
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = python-extras
	makedepends = python-fixtures
	makedepends = python-html5lib
	makedepends = python-pbr
	makedepends = python-mimeparse
	makedepends = python-pyrsistent
	makedepends = imagemagick
	depends = qt5-base
	depends = postgresql-libs
	depends = hicolor-icon-theme
	depends = python
	depends = libxcrypt
	depends = libcrypt.so
	depends = glibc
	depends = gcc-libs
	depends = python-blinker
	depends = python-flask
	depends = python-flask-login
	depends = python-flask-migrate
	depends = python-flask-sqlalchemy
	depends = python-flask-wtf
	depends = python-passlib
	depends = python-pytz
	depends = python-simplejson
	depends = python-six
	depends = python-speaklater
	depends = python-sqlparse
	depends = python-wtforms
	depends = python-psutil
	depends = python-jinja
	depends = python-paramiko
	depends = python-psycopg2
	depends = python-bcrypt
	depends = python-cryptography
	depends = python-sqlalchemy
	depends = python-testtools
	depends = python-webencodings
	depends = python-werkzeug
	depends = python-dateutil
	depends = python-flask-gravatar
	depends = python-flask-mail
	depends = python-flask-principal
	depends = python-flask-paranoid
	depends = python-sshtunnel
	depends = python-flask-security-too
	depends = python-werkzeug
	depends = python-flask-compress
	depends = python-ldap3
	depends = python-cryptography
	source = https://ftp.postgresql.org/pub/pgadmin/pgadmin4/v4.29/source/pgadmin4-4.29.tar.gz
	source = https://ftp.postgresql.org/pub/pgadmin/pgadmin4/v4.29/source/pgadmin4-4.29.tar.gz.asc
	source = pgAdmin4.desktop
	source = config_distro.py
	source = config_local.py
	source = pgadmin4-python-de-vendor-venv-paths.patch
	validpgpkeys = E8697E2EEF76C02D3A6332778881B2A8210976F2
	sha512sums = 2c7d20d10c96712f41621c2862a6a6222f6d6dad4a0b3e1aaf04744e65744460dcae4220f61b27785e02c82a624fa0793df2ea9d8e83ac0a6de048455929e615
	sha512sums = SKIP
	sha512sums = b19dda3331585010c759099eb09f4db288ce4cd3d36882b56748e1e3756dc7bee2899d7438d496280498ec6a60f6e1ba90309d49fc599403f1fdc7e8817b6645
	sha512sums = 16d00dc2095904a6b12da7039458f632873829ad98d4d7653eac5804032ba92097ccae4488d56467d0ea9bd64e2654a3dead73eb7924c947ff1737ff6e3b4745
	sha512sums = cf83e1357eefb8bdf1542850d66d8007d620e4050b5715dc83f4a921d36ce9ce47d0d13c5d85f2b0ff8318d2877eec2f63b931bd47417a81a538327af927da3e
	sha512sums = a8c1a3762469b02b745da4e3b30f7534ad6bb94e91d43f7e63604fef24f638e09575e2c9336e753e5b6dbe167c55bb49fb6247a16431415318479eb3a3712adc

pkgname = pgadmin4

