pkgbase = metasploit
	pkgdesc = Advanced open-source platform for developing, testing, and using exploit code
	pkgver = 4.12.34
	pkgrel = 1
	url = https://www.metasploit.com/
	arch = i686
	arch = x86_64
	license = BSD
	depends = ruby
	depends = libpcap
	depends = postgresql-libs
	depends = ruby-bundler
	depends = sqlite
	depends = libxslt
	depends = git
	optdepends = ruby-pg: database support
	options = !strip
	options = !emptydirs
	source = metasploit-4.12.34.tar.gz::https://github.com/rapid7/metasploit-framework/archive/4.12.34.tar.gz
	sha512sums = 551529246687e6f21af9af749caa9ed5e5abbb4930adc1ac6bce1634a6805b42db4b913a8444ed8453f1722b7f3737edce53a6925c200aa0e2067f4c78ea6b12

pkgname = metasploit

