pkgbase = metasploit
	pkgdesc = Advanced open-source platform for developing, testing, and using exploit code
	pkgver = 4.12.32
	pkgrel = 1
	url = https://www.metasploit.com/
	arch = i686
	arch = x86_64
	license = BSD
	depends = ruby
	depends = libpcap
	depends = postgresql-libs
	depends = ruby-bundler
	depends = sqlite
	depends = libxslt
	depends = git
	optdepends = ruby-pg: database support
	options = !strip
	options = !emptydirs
	source = metasploit-4.12.32.tar.gz::https://github.com/rapid7/metasploit-framework/archive/4.12.32.tar.gz
	sha512sums = 646cb195da358e8ccf42672f192ce20b9c5e2e14cd96a14dddcfb466e49c44078036931d9b0b1ce4d54c12b300c80190d1e694e3d78700eddc1b50cd2f2bec02

pkgname = metasploit

