pkgbase = gdb
	pkgdesc = The GNU Debugger
	pkgver = 11.2
	pkgrel = 1
	url = https://www.gnu.org/software/gdb/
	arch = x86_64
	license = GPL3
	makedepends = glibc
	makedepends = gcc-libs
	makedepends = texinfo
	makedepends = python
	makedepends = guile
	makedepends = ncurses
	makedepends = expat
	makedepends = xz
	makedepends = mpfr
	makedepends = source-highlight
	makedepends = readline
	source = https://ftp.gnu.org/gnu/gdb/gdb-11.2.tar.xz
	source = https://ftp.gnu.org/gnu/gdb/gdb-11.2.tar.xz.sig
	validpgpkeys = F40ADB902B24264AA42E50BF92EDB04BFF325CF3
	sha1sums = 7c72b1d4a38bb6e155aaad29f4c1abf818b4595d
	sha1sums = SKIP
	b2sums = 66ce7e12c99c33c8b4e6ababa673204aab525e72c90ba54cc34a5fd69948a09dc2a9ef2050764b2464544231b1d1a6431279c2877388551ca6fbf384a3f9b464
	b2sums = SKIP

pkgname = gdb
	depends = glibc
	depends = ncurses
	depends = libncursesw.so
	depends = gcc-libs
	depends = expat
	depends = xz
	depends = mpfr
	depends = source-highlight
	depends = gdb-common=11.2
	depends = readline
	depends = libreadline.so
	depends = guile
	depends = python
	depends = libelf
	backup = etc/gdb/gdbinit

pkgname = gdb-common
	depends = python
	depends = guile
