pkgbase = gdb
	pkgdesc = The GNU Debugger
	pkgver = 12.1
	pkgrel = 1
	url = https://www.gnu.org/software/gdb/
	arch = x86_64
	license = GPL3
	makedepends = glibc
	makedepends = gcc-libs
	makedepends = texinfo
	makedepends = python
	makedepends = guile
	makedepends = ncurses
	makedepends = expat
	makedepends = xz
	makedepends = mpfr
	makedepends = source-highlight
	makedepends = readline
	source = https://ftp.gnu.org/gnu/gdb/gdb-12.1.tar.xz
	source = https://ftp.gnu.org/gnu/gdb/gdb-12.1.tar.xz.sig
	validpgpkeys = F40ADB902B24264AA42E50BF92EDB04BFF325CF3
	sha1sums = 2edabd9f5766b84889b07b366b4438e93e994005
	sha1sums = SKIP
	b2sums = 7f6f853d1640908cf2c79932cdc1ba02549a07721c005d9c7ce2946a715761719cc164a4e68235a18664ec8a029afe3a2a0cfb57e1635f280076d6bed91317fd
	b2sums = SKIP

pkgname = gdb
	depends = glibc
	depends = ncurses
	depends = libncursesw.so
	depends = gcc-libs
	depends = expat
	depends = xz
	depends = mpfr
	depends = source-highlight
	depends = gdb-common=12.1
	depends = readline
	depends = libreadline.so
	depends = guile
	depends = python
	depends = libelf
	backup = etc/gdb/gdbinit

pkgname = gdb-common
	depends = python
	depends = guile
