pkgbase = python-socketio
	pkgdesc = Python implementation of the Socket.IO realtime server
	pkgver = 1.9.0
	pkgrel = 1
	url = https://github.com/miguelgrinberg/python-socketio
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-mock
	checkdepends = python2-pytest
	checkdepends = python2-mock
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = python-six
	makedepends = python-engineio
	makedepends = python2-setuptools
	makedepends = python2-sphinx
	makedepends = python2-six
	makedepends = python2-engineio
	options = !makeflags
	source = python-socketio-1.9.0.tar.gz::https://github.com/miguelgrinberg/python-socketio/archive/v1.9.0.tar.gz
	sha256sums = 807be9d8d133d1b4693cbcf35b6fc240058333bb849cc85f6559a17e401eb70f
	sha512sums = 9d93044b2a84146df99e148c0dae49359a8eeb36c6e6733132d9700c6c39c617a2602edef3420263ee6447e1f507444152d62bb7ca3c758693defe8b0fc8925e

pkgname = python-socketio
	depends = python
	depends = python-six
	depends = python-engineio

pkgname = python2-socketio
	depends = python2
	depends = python2-six
	depends = python2-engineio

