pkgbase = python-archinfo
	pkgdesc = Classes with architecture-specific information useful to other projects
	pkgver = 9.2.27
	pkgrel = 2
	url = https://github.com/angr/archinfo
	arch = any
	license = custom:BSD2
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	optdepends = python-capstone
	optdepends = python-unicorn
	optdepends = python-keystone
	optdepends = python-pyvex
	source = https://github.com/angr/archinfo/archive/v9.2.27/python-archinfo-9.2.27.tar.gz
	sha512sums = 97f90c23cc9c3074bd5bbd9f222f7f687569156b8c5c83884af7a8e396f8f3c6223c186b87eb27f72e9851b0097dbc055cabcfdc259382f07b2a946e5a1d6c99
	b2sums = fa75601d5c08b0d1648b352c0be97f2576af09cdb31b7d362877d948a071df51166176958769900cb718f2bc57cac1dc0d76d8663bf6a4efb5fdbfb025ccfefc

pkgname = python-archinfo
