pkgbase = gajim
	pkgdesc = Full featured and easy to use XMPP (Jabber) client
	pkgver = 1.2.2
	pkgrel = 1
	url = https://www.gajim.org/
	arch = any
	license = GPL3
	depends = gtk3
	depends = python-cairo
	depends = python-gobject
	depends = python-keyring
	depends = python-nbxmpp
	depends = python-pyasn1
	depends = python-pyopenssl
	depends = python-precis_i18n
	depends = python-css-parser
	depends = python-distro
	depends = hicolor-icon-theme
	optdepends = alsa-utils: play notification sounds
	optdepends = python-dbus: for gajim-remote and zeroconf support
	optdepends = avahi: serverless chatting with autodetected clients in a local network
	optdepends = farstream: start audio and video chat
	optdepends = gst-plugins-good: for video/voice support
	optdepends = gst-plugins-bad: for video/voice support
	optdepends = gst-plugins-ugly: for video/voice support
	optdepends = gst-libav: for video/voice support
	optdepends = gst-python: for video/voice support
	optdepends = gspell: for spell checking support
	optdepends = notification-daemon: for desktop notifications
	optdepends = geoclue: share current location
	optdepends = gnome-keyring: store passwords encrypted in GNOME Keyring
	optdepends = kded: store passwords encrypted in KSecretService
	optdepends = gupnp-igd: request your router to forward port for file transfer
	optdepends = libxss: measure idle time, in order to set auto status
	optdepends = python-crypto: encrypting chat messages
	optdepends = python-docutils: generate XHTML output from RST code
	optdepends = python-gnupg: encrypting chat messages with OpenPGP
	optdepends = python-pillow: support of WebP avatars
	optdepends = python-axolotl: OMEMO support
	optdepends = python-qrcode: generate QR codes for OMEMO keys
	source = https://www.gajim.org/downloads/1.2/gajim-1.2.2.tar.gz
	sha512sums = 297afa2b0ac44aad59b203907b1479fb8f004e2dc2a00681fa8034d76e4fb89ee3dcb4fb96011028382659bcb978cf214c396073d29b3dd0a7a711454915057b

pkgname = gajim

