pkgbase = gradle
	pkgdesc = Powerful build system for the JVM
	pkgver = 4.8.1
	pkgrel = 1
	url = https://gradle.org/
	arch = any
	license = Apache
	depends = java-environment
	depends = bash
	source = https://services.gradle.org/distributions/gradle-4.8.1-all.zip
	source = gradle.sh
	sha256sums = ce1645ff129d11aad62dab70d63426fdce6cfd646fa309dc5dc5255dd03c7c11
	sha256sums = 7cdd70370b92b297f350d5ff69b915359bdc37b4feac839696b0ab5eaa7d7c2a
	sha512sums = 894f98e653ad6bce6ea2e77ed3827785c50b864264cae8afd11fe05ccbcb7f5c8af7172f4ffdfa080adc27d3ce848c154aadfc9c8284dd70b7463b4abea4451f
	sha512sums = f38e9b26e22948366acf6580d6f38e2c88c3791c425b24922368fe1bc78c744fa516a03ffdbef02e3755859da620a6259997d4b4e5f97e3dc8cb49b74a694616

pkgname = gradle

pkgname = gradle-doc
	pkgdesc = Powerful build system for the JVM (documentation and samples)
	optdepends = gradle
	options = !strip

pkgname = gradle-src
	pkgdesc = Powerful build system for the JVM (sources)
	optdepends = gradle
	options = !strip

