pkgbase = python-flask-compress
	pkgdesc = Compress responses in your Flask app
	pkgver = 1.12
	pkgrel = 1
	url = http://pypi.python.org/pypi/Flask-Compress/
	arch = any
	license = BSD
	checkdepends = python-pytest
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-flask
	depends = python-brotli
	source = https://pypi.io/packages/source/F/Flask-Compress/Flask-Compress-1.12.tar.gz
	sha256sums = e2159499f39d618a4d56ba0484e7b58b57956b9a2c6d3510f095f5bb14b7afc5
	sha512sums = 5712aff44aaaa379656e03f7b63fdef727721245cb9329e698a2e25aefca21a77202f5eb0c5f5828395647c694a5b417778a7b5db9eb592753a979d3994603a5

pkgname = python-flask-compress
