pkgbase = python-flask-compress
	pkgdesc = Compress responses in your Flask app
	pkgver = 1.10.1
	pkgrel = 1
	url = http://pypi.python.org/pypi/Flask-Compress/
	arch = any
	license = BSD
	makedepends = python-setuptools
	depends = python
	depends = python-flask
	depends = python-brotli
	source = https://pypi.io/packages/source/F/Flask-Compress/Flask-Compress-1.10.1.tar.gz
	sha256sums = 28352387efbbe772cfb307570019f81957a13ff718d994a9125fa705efb73680
	sha512sums = fb94aef71f59e38a6058f5ef799c8973d258cf624b1d8bf0a991cac2e4eabb73e2836ce351faa73bc7640720396183212a6dc8d72428b53ceb3473f7b61f0d27

pkgname = python-flask-compress
