pkgbase = grails
	pkgdesc = Groovy on rails, web framework
	pkgver = 3.0.7
	pkgrel = 2
	url = http://grails.org/
	arch = any
	license = Apache
	makedepends = apache-ant
	makedepends = unzip
	makedepends = setconf
	makedepends = junit
	makedepends = java-environment
	optdepends = groovy: the groovy programming language
	optdepends = grails-docs: documentation for grails
	noextract = grails-docs-3.0.7.zip
	options = !emptydirs
	source = grails-3.0.7.zip::https://github.com/grails/grails-core/releases/download/v3.0.7/grails-3.0.7.zip
	source = grails-docs-3.0.7.zip::https://github.com/grails/grails-doc/releases/download/v3.0.7/grails-docs-3.0.7.zip
	sha512sums = 88ac89efc758d33eeecf0fa9bb3fa0d2cb89ebc7bbace9eed91ece3a2dd0e5180a46ef4661c119d71329f4b678fe3dee4211bcc477f638afb23c9d9392a6b17a
	sha512sums = 2c5a2bad65e62a66a5566a73843695b773c87ebdee341be45609563b95fb33a4ec46b816260ec644fb87152f24deac6c4c838c32611f08ae71d61b0218964ad5

pkgname = grails
	depends = java-environment
	depends = junit
	depends = bash

pkgname = grails-docs
	pkgdesc = Documentation for Grails

