pkgbase = grails
	pkgdesc = Groovy on rails, web framework
	pkgver = 4.0.6
	pkgrel = 1
	url = https://grails.org/
	arch = any
	license = Apache
	makedepends = apache-ant
	makedepends = unzip
	makedepends = setconf
	makedepends = junit
	makedepends = java-environment
	optdepends = groovy: the groovy programming language
	optdepends = grails-docs: documentation for grails
	noextract = grails-docs-4.0.6.zip
	options = !emptydirs
	source = grails-4.0.6.zip::https://github.com/grails/grails-core/releases/download/v4.0.6/grails-4.0.6.zip
	source = grails-docs-4.0.6.zip::https://github.com/grails/grails-doc/releases/download/v4.0.6/grails-docs-4.0.6.zip
	sha512sums = b4c40bff9c05ade8c51fc58d546a9cccf72d89c132705c8e8e681331c5fbfaf1d9b473f4e92fb298315f494110d7972d3f2000cbf00b566547041448bc293d82
	sha512sums = 546d4fded9d0617d7c6a23cec30d9c7bd9ccc18556050c2529265c9d900a48f7b6ee658a463ccd7dfdbaa0fc7adcf65d7c552c0e1876386e57311c6a5747da0c

pkgname = grails
	depends = java-environment
	depends = junit
	depends = bash

pkgname = grails-docs
	pkgdesc = Documentation for Grails

