pkgbase = grails
	pkgdesc = Groovy on rails, web framework
	pkgver = 3.2.2
	pkgrel = 1
	url = http://grails.org/
	arch = any
	license = Apache
	makedepends = apache-ant
	makedepends = unzip
	makedepends = setconf
	makedepends = junit
	makedepends = java-environment
	optdepends = groovy: the groovy programming language
	optdepends = grails-docs: documentation for grails
	noextract = grails-docs-3.2.2.zip
	options = !emptydirs
	source = grails-3.2.2.zip::https://github.com/grails/grails-core/releases/download/v3.2.2/grails-3.2.2.zip
	source = grails-docs-3.2.2.zip::https://github.com/grails/grails-doc/releases/download/v3.2.2/grails-docs-3.2.2.zip
	sha512sums = 101080e3de693a83af16427a4d74c3f1c43c54b61f9d9e577d114d5bf8570a54b5b27b13c07b15c863bc4b62606f7f630263afd7611f24af14efd1ff77492103
	sha512sums = 072cf0ec2c849e4c70ce113de4b2f0aa136bd6616c5ff0f823a8695d68ed7738ef4d70db2883ceb1865dc2614e92c778f81ff9e2517cff6495e9761938ca39ef

pkgname = grails
	depends = java-environment
	depends = junit
	depends = bash

pkgname = grails-docs
	pkgdesc = Documentation for Grails

