pkgbase = profanity
	pkgdesc = Console based XMPP client
	pkgver = 0.9.4
	pkgrel = 1
	epoch = 1
	url = http://www.profanity.im
	arch = x86_64
	license = GPL3
	checkdepends = cmocka
	makedepends = curl
	makedepends = ncurses
	makedepends = expat
	makedepends = glib2
	makedepends = libotr
	makedepends = libmesode
	makedepends = libnotify
	makedepends = gpgme
	makedepends = python
	makedepends = gtk2
	makedepends = autoconf-archive
	makedepends = libsignal-protocol-c
	makedepends = libgcrypt
	makedepends = libx11
	makedepends = libxss
	source = https://github.com/profanity-im/profanity/archive/0.9.4/profanity-0.9.4.tar.gz
	sha256sums = d21a1dbb29d84667dcc0469c7671dd0d21402ef2a6beaa480570c1c111760472
	sha512sums = ff791c35535b1a4dc419fc68939b4e0ea69b835f7339934b25d557740ddebd5b51f7e21fb2ea9f371cc2c06ec6fe1e8406d331ad59c41cc155acc11cf4e36dd3
	b2sums = 96c6a02ca7e45c3c33e62e1f46688da7f159197cc3ab675ab861830d5c13909359de5ff481dd41a21b396c445e63996ebb6bc45c427679c88cd333b6c5d9071f

pkgname = profanity
	depends = curl
	depends = ncurses
	depends = expat
	depends = glib2
	depends = libotr
	depends = libmesode
	depends = libnotify
	depends = gpgme
	depends = python
	depends = libgcrypt
	depends = libsignal-protocol-c

pkgname = profanity-gtk
	pkgdesc = Console based XMPP client (gtk support)
	depends = curl
	depends = ncurses
	depends = expat
	depends = glib2
	depends = libotr
	depends = libmesode
	depends = libnotify
	depends = gpgme
	depends = python
	depends = libgcrypt
	depends = libsignal-protocol-c
	depends = gtk2
	depends = libx11
	depends = libxss
	provides = profanity
	conflicts = profanity

