pkgbase = profanity
	pkgdesc = Console based XMPP client
	pkgver = 0.7.0
	pkgrel = 1
	epoch = 1
	url = http://www.profanity.im
	arch = x86_64
	license = GPL3
	checkdepends = cmocka
	makedepends = curl
	makedepends = ncurses
	makedepends = expat
	makedepends = glib2
	makedepends = libotr
	makedepends = libmesode
	makedepends = libnotify
	makedepends = gpgme
	makedepends = python
	makedepends = gtk2
	makedepends = autoconf-archive
	source = https://github.com/profanity-im/profanity/archive/0.7.0/profanity-0.7.0.tar.gz
	sha1sums = 146699d2cc780fa283b1894c650e3c640da1b393
	sha512sums = 4605b47dd3d16b8e4b6db9a683c6838fb08c128dd53c92cb05279467bb5b926a38fdd47b9fff6765a044f72a07a95433a3883a02b5da695da315a7a5c02dabc0

pkgname = profanity
	depends = curl
	depends = ncurses
	depends = expat
	depends = glib2
	depends = libotr
	depends = libmesode
	depends = libnotify
	depends = gpgme
	depends = python

pkgname = profanity-gtk
	pkgdesc = Console based XMPP client (gtk support)
	depends = curl
	depends = ncurses
	depends = expat
	depends = glib2
	depends = libotr
	depends = libmesode
	depends = libnotify
	depends = gpgme
	depends = python
	depends = gtk2
	provides = profanity
	conflicts = profanity

