pkgbase = libtiff
	pkgdesc = Library for manipulation of TIFF images
	pkgver = 4.4.0
	pkgrel = 1
	url = http://www.simplesystems.org/libtiff/
	arch = x86_64
	license = custom
	makedepends = freeglut
	makedepends = glu
	makedepends = mesa
	makedepends = jbigkit
	depends = glibc
	depends = libjpeg
	depends = libjpeg.so
	depends = zlib
	depends = xz
	depends = zstd
	optdepends = freeglut: for using tiffgt
	provides = libtiff.so
	provides = libtiffxx.so
	source = https://download.osgeo.org/libtiff/tiff-4.4.0.tar.gz
	source = https://download.osgeo.org/libtiff/tiff-4.4.0.tar.gz.sig
	validpgpkeys = EBDFDB21B020EE8FD151A88DE301047DE1198975
	validpgpkeys = B1FA7D81EEB8E66399178B9733EBBFC47B3DD87D
	sha256sums = 917223b37538959aca3b790d2d73aa6e626b688e02dcda272aec24c2f498abed
	sha256sums = SKIP
	b2sums = 1480aca5f9b3d4509229fb6c1b967bdeb2053c4100f21d486d9f4a375742249aa7f54d6b5ab27679075499c226a011bc65988e22c064b3986d89f2cf5b0200dc
	b2sums = SKIP

pkgname = libtiff
