pkgbase = java-atk-wrapper
	pkgdesc = ATK wrapper for screen reader access to Java Swing applications
	pkgver = 0.40.0
	pkgrel = 2
	url = https://gitlab.gnome.org/GNOME/java-atk-wrapper/
	arch = x86_64
	license = LGPL
	makedepends = gobject-introspection
	makedepends = gnome-common
	makedepends = gtk2
	makedepends = gtk3
	makedepends = xorg-xprop
	makedepends = at-spi2-atk
	makedepends = java-environment=8
	makedepends = java-environment=11
	makedepends = java-environment=17
	makedepends = java-environment=19
	options = !emptydirs
	source = https://gitlab.gnome.org/GNOME/java-atk-wrapper/-/archive/0.40.0/java-atk-wrapper-common-0.40.0.tar.bz2
	sha256sums = 4c64dda3f0b37dcb3230d10e78bea44af44aefd2ee3702a898e2176a6604ebea
	sha512sums = abbca7893b085dc034093e1de75ebd77bf6018ecb9836008efb19948f4b87eecb2e569d1f7af7aefaa61b86a83f3be2f35bb1b83e183f4f4b225f0a831243c8b

pkgname = java-atk-wrapper-common
	pkgdesc = ATK wrapper for screen reader access to Java Swing applications - common files
	depends = xorg-xprop
	depends = atk
	depends = at-spi2-atk

pkgname = java-atk-wrapper-openjdk

pkgname = java-atk-wrapper-openjdk8

pkgname = java-atk-wrapper-openjdk11

pkgname = java-atk-wrapper-openjdk17
