pkgbase = thunderbird
	pkgdesc = Standalone mail and news reader from mozilla.org
	pkgver = 60.3.2
	pkgrel = 1
	url = https://www.mozilla.org/thunderbird/
	arch = x86_64
	license = MPL
	license = GPL
	license = LGPL
	makedepends = unzip
	makedepends = zip
	makedepends = diffutils
	makedepends = python2
	makedepends = yasm
	makedepends = mesa
	makedepends = imake
	makedepends = gconf
	makedepends = libpulse
	makedepends = inetutils
	makedepends = xorg-server-xvfb
	makedepends = autoconf2.13
	makedepends = rust
	makedepends = clang
	makedepends = llvm
	depends = gtk3
	depends = gtk2
	depends = mozilla-common
	depends = libxt
	depends = startup-notification
	depends = mime-types
	depends = dbus-glib
	depends = alsa-lib
	depends = nss
	depends = hunspell
	depends = sqlite
	depends = ttf-font
	depends = libvpx
	depends = icu
	optdepends = libcanberra: sound support
	options = !emptydirs
	options = !makeflags
	source = https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.2/source/thunderbird-60.3.2.source.tar.xz
	source = thunderbird.desktop
	sha256sums = 979707651662ed3654a327e9c568dac5894e73a40d2776bb94ed2950dab4e041
	sha256sums = e44c55501f650a4e80b9c353b81f33e07ca65808db831eff6ca616aded233827

pkgname = thunderbird

