pkgbase = thunderbird
	pkgdesc = Standalone mail and news reader from mozilla.org
	pkgver = 78.4.1
	pkgrel = 1
	url = https://www.mozilla.org/thunderbird/
	arch = x86_64
	license = MPL
	license = GPL
	license = LGPL
	makedepends = unzip
	makedepends = zip
	makedepends = diffutils
	makedepends = python
	makedepends = python-setuptools
	makedepends = yasm
	makedepends = nasm
	makedepends = mesa
	makedepends = imake
	makedepends = libpulse
	makedepends = inetutils
	makedepends = xorg-server-xvfb
	makedepends = autoconf2.13
	makedepends = rust
	makedepends = clang
	makedepends = llvm
	makedepends = gtk2
	makedepends = cbindgen
	makedepends = nodejs
	makedepends = gawk
	makedepends = perl
	makedepends = findutils
	depends = glibc
	depends = gtk3
	depends = libgdk-3.so
	depends = mime-types
	depends = dbus
	depends = libdbus-1.so
	depends = dbus-glib
	depends = alsa-lib
	depends = nss
	depends = hunspell
	depends = sqlite
	depends = ttf-font
	depends = libvpx
	depends = libvpx.so
	depends = zlib
	depends = bzip2
	depends = botan
	depends = libwebp
	depends = libevent
	depends = libjpeg-turbo
	depends = libffi
	depends = nspr
	depends = gcc-libs
	depends = libx11
	depends = libxrender
	depends = libxfixes
	depends = libxext
	depends = libxcomposite
	depends = libxdamage
	depends = pango
	depends = libpango-1.0.so
	depends = cairo
	depends = gdk-pixbuf2
	depends = icu
	depends = libicui18n.so
	depends = libicuuc.so
	depends = freetype2
	depends = libfreetype.so
	depends = fontconfig
	depends = libfontconfig.so
	depends = glib2
	depends = libglib-2.0.so
	depends = pixman
	depends = libpixman-1.so
	depends = gnupg
	optdepends = libcanberra: sound support
	options = !emptydirs
	options = !makeflags
	source = https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/78.4.1/source/thunderbird-78.4.1.source.tar.xz
	source = https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/78.4.1/source/thunderbird-78.4.1.source.tar.xz.asc
	source = thunderbird.desktop
	source = vendor-prefs.js
	source = distribution.ini
	source = mozconfig.cfg
	source = configure-fix-passing-system-bzip2-ldflags.patch
	source = thunderbird-rust-1.47.patch::https://src.fedoraproject.org/rpms/thunderbird/raw/86967ddc206310ba7bb9eb57a933031909288ce2/f/rust-1.47.patch
	validpgpkeys = 14F26682D0916CDD81E37B6D61B7B526D98F0353
	sha512sums = dd2aea61d172e5e6b6bebf1aeaa9fbafe38749bc435b791472d13e430446286fcd20e03c12e8f9acd6c74d4af0e7db1e50e08b2ff5cfdbdbae6462eb6984b5aa
	sha512sums = SKIP
	sha512sums = a0061fcb2a7f66061e336a8d95948592f56f4752e56467f14ba63846720ebf845cce7511d1a2637e3b80d5a1ffdaa2fb783fa37195103425ef65222d45372012
	sha512sums = 6918c0de63deeddc6f53b9ba331390556c12e0d649cf54587dfaabb98b32d6a597b63cf02809c7c58b15501720455a724d527375a8fb9d757ccca57460320734
	sha512sums = 5cd3ac4c94ef6dcce72fba02bc18b771a2f67906ff795e0e3d71ce7db6d8a41165bd5443908470915bdbdb98dddd9cf3f837c4ba3a36413f55ec570e6efdbb9f
	sha512sums = b04e8b11360f41e0cc0eb0c307f062569603372ed15112e33a0ca893c5622217c3155289b3560c0ba909306faf25ff98b7dc3944ad1493e0a8d940306be5167a
	sha512sums = e3ed2708b8354015cb3d2c81048d1ce4932d1effbe2b40efa7cf9b45c1b923b9fd708645e2f8aa0136a485a3f7ce6b396b85721aaf535a4a764fd5005fb7e222
	sha512sums = d337a77104d411df219f3ae1c7d136ae92f944a18969cc92e6257b4f909204677a58df43187d41f53d4c36c29f57f53bdbad90d8263e6a9b0781640944895cad

pkgname = thunderbird

