pkgbase = libstrophe
	pkgdesc = Simple, lightweight C library for writing XMPP clients
	pkgver = 0.12.0
	pkgrel = 1
	epoch = 1
	url = http://strophe.im/libstrophe/
	arch = x86_64
	license = GPL3
	license = MIT
	checkdepends = check
	makedepends = doxygen
	depends = glibc
	depends = openssl
	depends = expat
	source = https://github.com/strophe/libstrophe/archive/0.12.0/libstrophe-0.12.0.tar.gz
	sha512sums = 5823123d1a7b4f8db71352fe8ba53876ba91e579b7030814ad705d263011132e734282903bacef8feec8f411637f27bbff28e059c2a54a18bf0a91d5bebee36e
	b2sums = 12e17519a5214fc0c592de4631fe350a737d79cdd142888952ec277538fad1eecf760c3938b347edf92d2829f1ada5e2a36e875f72502f3ea2e6e073bb222925

pkgname = libstrophe
	depends = glibc
	depends = openssl
	depends = expat
	depends = libexpat.so
	provides = libstrophe.so

pkgname = libstrophe-doc
	pkgdesc = Simple, lightweight C library for writing XMPP clients (documentation and samples)
	depends = 
	optdepends = libstrophe
	options = !strip
