pkgbase = libstrophe
	pkgdesc = Simple, lightweight C library for writing XMPP clients
	pkgver = 0.9.1
	pkgrel = 1
	epoch = 1
	url = http://strophe.im/libstrophe/
	arch = i686
	arch = x86_64
	license = GPL3
	license = MIT
	checkdepends = check
	makedepends = openssl
	makedepends = expat
	makedepends = pkg-config
	makedepends = doxygen
	options = staticlibs
	source = libstrophe-0.9.1.tar.gz::https://github.com/strophe/libstrophe/archive/0.9.1.tar.gz
	sha512sums = 4ae0ea7ad21fc566dc5372b1b6ed1dd47da87dadeb5771bb85c51b9119d781b7ec8e2b89d056cbfe81968a7f7db6d93fed435f28d28e552b9e61d5ffdddd4916

pkgname = libstrophe
	depends = openssl
	depends = expat

pkgname = libstrophe-doc
	pkgdesc = Simple, lightweight C library for writing XMPP clients (documentation and samples)
	optdepends = libstrophe
	options = !strip

