pkgbase = libstrophe
	pkgdesc = Simple, lightweight C library for writing XMPP clients
	pkgver = 0.9.3
	pkgrel = 1
	epoch = 1
	url = http://strophe.im/libstrophe/
	arch = x86_64
	license = GPL3
	license = MIT
	checkdepends = check
	makedepends = openssl
	makedepends = expat
	makedepends = pkg-config
	makedepends = doxygen
	options = staticlibs
	source = https://github.com/strophe/libstrophe/archive/0.9.3/libstrophe-0.9.3.tar.gz
	sha512sums = 8f3a886e96ff327cb6c45940aaaa9509d4c01c6b306b30ed25941da33a99d0fde568769b30567e8442fe86c41eb28c226d14bff53a57da5f6fb4a34f4484b0f9

pkgname = libstrophe
	depends = openssl
	depends = expat

pkgname = libstrophe-doc
	pkgdesc = Simple, lightweight C library for writing XMPP clients (documentation and samples)
	optdepends = libstrophe
	options = !strip

