pkgbase = perl-module-find
	pkgdesc = Find and use installed perl modules in a (sub)category
	pkgver = 0.16
	pkgrel = 1
	url = https://search.cpan.org/dist/Module-Find
	arch = any
	license = PerlArtistic
	license = GPL
	checkdepends = perl-test-pod
	checkdepends = perl-test-pod-coverage
	depends = perl
	options = !emptydirs
	source = perl-module-find-0.16.tar.gz::https://search.cpan.org/CPAN/authors/id/C/CR/CRENZ/Module-Find-0.16.tar.gz
	sha512sums = a0c935fd229320ce74052180571c0da9667dc87a717e039bec27120a8ac1552988352038efd1805d62ac40fcaf7985c44b6d9c56648b379f1ca0f03727e550bd

pkgname = perl-module-find
