pkgbase = hwloc
	pkgdesc = Portable Hardware Locality is a portable abstraction of hierarchical architectures
	pkgver = 2.2.0
	pkgrel = 1
	url = https://www.open-mpi.org/projects/hwloc/
	arch = x86_64
	license = BSD
	makedepends = cairo
	makedepends = libxml2
	makedepends = pciutils
	makedepends = systemd
	depends = libtool
	depends = systemd-libs
	depends = libpciaccess
	optdepends = cairo
	optdepends = libxml2
	optdepends = pciutils
	options = !docs
	source = https://www.open-mpi.org/software/hwloc/v2.2/downloads/hwloc-2.2.0.tar.bz2
	sha512sums = 23efd1d5e2df870ca7a0abb9b3c28c5c5d60dd0cc650ee95d20d5934f48947cbe1d3cf4e90e02b2dc61062ddf7afd67f2c1cf6e1862a48397078d66dd798e850
	b2sums = 00e10f9c7467e6342e14a45d583ed307103428085a9b88398464f0439fec48647949aa80e099042b915b2c371fe105d61e8490d0555383d94740f3e6dab5aeee

pkgname = hwloc

