pkgbase = python-argcomplete
	pkgdesc = Easy, extensible command line tab completion of arguments for your Python script
	pkgver = 1.9.4
	pkgrel = 1
	url = https://github.com/kislyuk/argcomplete
	arch = any
	license = Apache
	checkdepends = python-pexpect
	checkdepends = python2-pexpect
	checkdepends = tcsh
	makedepends = python-setuptools
	makedepends = python2-setuptools
	source = python-argcomplete-1.9.4.tar.gz::https://github.com/kislyuk/argcomplete/archive/v1.9.4.tar.gz
	sha256sums = 0ac6fdaa989242e122573eba92976ee9bb27e93cf6f0234324df498ed820f411
	sha512sums = 2b0900b55136739f409c32172933af985f4cdde1c018a4687d02f0c5ecdaf36eb8f960270d16bbd157e79f76992c437ab42fd4c6aa9b6aeb3c7302935bf00970

pkgname = python-argcomplete
	depends = python

pkgname = python2-argcomplete
	depends = python2

