pkgbase = python-argcomplete
	pkgdesc = Easy, extensible command line tab completion of arguments for your Python script
	pkgver = 1.11.1
	pkgrel = 2
	url = https://github.com/kislyuk/argcomplete
	arch = any
	license = Apache
	checkdepends = python-pexpect
	checkdepends = tcsh
	checkdepends = fish
	checkdepends = python-pip
	makedepends = git
	makedepends = python-setuptools
	depends = python
	source = argcomplete::git+https://github.com/kislyuk/argcomplete#commit=ee975823f997367b74169ce98744bbe48c9ce573?signed
	validpgpkeys = 29BCBADB4ECAAAC2382699388AFAFCD242818A52
	sha512sums = SKIP

pkgname = python-argcomplete

