pkgbase = haskell-iwlib
	pkgdesc = Binding to the iw library for getting info about the current WiFi connection
	pkgver = 0.1.1
	pkgrel = 1
	url = https://codeberg.org/jao/iwlib
	arch = x86_64
	license = BSD
	makedepends = ghc
	depends = ghc-libs
	depends = wireless_tools
	source = https://hackage.haskell.org/packages/archive/iwlib/0.1.1/iwlib-0.1.1.tar.gz
	sha512sums = ea4da0a4e9ec8a38f0db4060777988c7d1c954c5f3b17919e9ed23d3793f9ff0bdf0535b63dc75c10a29b52e7f06f8661d93f43905f4a45b43cbecc71f559a31

pkgname = haskell-iwlib
