pkgbase = mpg123
	pkgdesc = Console based real time MPEG Audio Player for Layer 1, 2 and 3
	pkgver = 1.26.3
	pkgrel = 2
	url = https://sourceforge.net/projects/mpg123
	arch = x86_64
	license = LGPL2.1
	makedepends = sdl
	makedepends = jack
	makedepends = libpulse
	depends = libltdl
	depends = alsa-lib
	optdepends = sdl: for sdl audio support
	optdepends = jack: for jack audio support
	optdepends = libpulse: for pulse audio support
	optdepends = perl: for conplay
	provides = libmpg123.so
	provides = libout123.so
	source = https://downloads.sourceforge.net/sourceforge/mpg123/mpg123-1.26.3.tar.bz2
	source = https://downloads.sourceforge.net/sourceforge/mpg123/mpg123-1.26.3.tar.bz2.sig
	validpgpkeys = D021FF8ECF4BE09719D61A27231C4CBC60D5CAFE
	sha512sums = 7574331afaecf3f867455df4b7012e90686ad6ac8c5b5e820244204ea7088bf2b02c3e75f53fe71c205f9eca81fef93f1d969c8d0d1ee9775dc05482290f7b2d
	sha512sums = SKIP

pkgname = mpg123

