pkgbase = lib32-libxml2
	pkgdesc = XML C parser and toolkit (32-bit)
	pkgver = 2.10.2
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/libxml2/-/wikis/home
	arch = x86_64
	license = custom:MIT
	makedepends = git
	depends = lib32-zlib
	depends = lib32-xz
	depends = lib32-icu
	depends = libxml2
	options = debug
	source = git+https://gitlab.gnome.org/GNOME/libxml2.git#commit=21b24b51608d471bb9f7c4225e23d0db2acecc52
	sha256sums = SKIP

pkgname = lib32-libxml2
	provides = libxml2.so
