pkgbase = python-pyelftools
	pkgdesc = Python library for analyzing ELF files and DWARF debugging information
	pkgver = 0.25
	pkgrel = 1
	url = https://github.com/eliben/pyelftools
	arch = any
	license = custom:Public Domain
	makedepends = python
	makedepends = python-setuptools
	makedepends = python2
	makedepends = python2-setuptools
	options = !strip
	source = pyelftools-0.25.tar.gz::https://github.com/eliben/pyelftools/archive/v0.25.tar.gz
	sha512sums = 84fbff3a8abc1d0d47e2113d14f509a6a0e8fb97d09c6abf91cefb416b7237d31f53945627e3958901b2a5229f57d5d2ffc9e0b7b4cd271f61689781dc6871bc

pkgname = python2-pyelftools
	depends = python2

pkgname = python-pyelftools
	depends = python

