pkgbase = diffoscope
	pkgdesc = Tool for in-depth comparison of files, archives, and directories
	pkgver = 238
	pkgrel = 1
	url = https://diffoscope.org/
	arch = x86_64
	license = GPL3
	checkdepends = python-pytest
	checkdepends = python-jsbeautifier
	checkdepends = python-h5py
	checkdepends = acl
	checkdepends = binutils
	checkdepends = bzip2
	checkdepends = cdrtools
	checkdepends = cpio
	checkdepends = diffutils
	checkdepends = e2fsprogs
	checkdepends = enjarify
	checkdepends = hdf5
	checkdepends = imagemagick
	checkdepends = java-environment=11
	checkdepends = fontforge
	checkdepends = gettext
	checkdepends = ghc
	checkdepends = gnupg
	checkdepends = mono
	checkdepends = pgpdump
	checkdepends = poppler
	checkdepends = sqlite
	checkdepends = squashfs-tools
	checkdepends = libxmlb
	checkdepends = lz4
	checkdepends = unzip
	checkdepends = gzip
	checkdepends = tar
	checkdepends = tcpdump
	checkdepends = vim
	checkdepends = xz
	checkdepends = llvm
	checkdepends = colord
	checkdepends = fpc
	checkdepends = openssh
	checkdepends = openssl
	checkdepends = odt2txt
	checkdepends = docx2txt
	checkdepends = r
	checkdepends = dtc
	checkdepends = giflib
	checkdepends = gnumeric
	checkdepends = python-progressbar
	checkdepends = binwalk
	checkdepends = python-argcomplete
	checkdepends = zstd
	checkdepends = uboot-tools
	makedepends = help2man
	makedepends = python-docutils
	makedepends = git
	makedepends = python-setuptools
	depends = python-magic
	depends = python-libarchive-c
	depends = python-distro
	depends = python-defusedxml
	depends = python-tlsh
	optdepends = acl: access control list utilities support
	optdepends = binutils: binary utilities support
	optdepends = binwalk: binwalk support
	optdepends = bzip2: bzip2 utilities support
	optdepends = cdrtools: ISO utilities support
	optdepends = colord: ICC profiles support
	optdepends = cpio: cpio archive support
	optdepends = diffutils: diff utilities support
	optdepends = docx2txt: docx comparing support
	optdepends = dtc: device tree comparing support
	optdepends = e2fsprogs: Ext2/3/4 filesystem utilities support
	optdepends = enjarify: Android dex file support
	optdepends = hdf5: Hierarchical Data Format support
	optdepends = imagemagick: ImageMagick identify support
	optdepends = fpc: Free Pascal utilities support
	optdepends = java-environment: java utilities support
	optdepends = libcaca: image compare support
	optdepends = libxmlb: binary XML blobs support
	optdepends = llvm: LLVM bitcode files support
	optdepends = lz4: lz4 compression support
	optdepends = odt2txt: odt comparing support
	optdepends = fontforge: bitmap font utilities support
	optdepends = gettext: GNU internationalization utilities support
	optdepends = ghc: haskell utilities support
	optdepends = giflib: gifbuild utilities support
	optdepends = gnupg: GNU privacy guard support
	optdepends = gnumeric: GNOME Spreadsheet support
	optdepends = mono: mono support
	optdepends = openssh: OpenSSH key comparing support
	optdepends = openssl: .p7c and .p7b certificates. support
	optdepends = pgpdump: PGP files support
	optdepends = poppler: PDF utilities support
	optdepends = r: R language support
	optdepends = radare2: decompiler for executables
	optdepends = sqlite: SQLite support
	optdepends = squashfs-tools: squashfs filesystem support
	optdepends = python-guestfs: guestfs filesystem support
	optdepends = python-argcomplete: completion support
	optdepends = python-jsbeautifier: javascript beautifier support
	optdepends = python-progressbar: show progressbar support
	optdepends = tcpdump: pcap matching support
	optdepends = uboot-tools: FIT image support
	optdepends = unzip: zip utilities support
	optdepends = gzip: gzip utilities support
	optdepends = tar: tar utilities support
	optdepends = xxd: xxd utilities support
	optdepends = xz: XZ and LZMA utilities support
	optdepends = zstd: zst compression
	source = https://diffoscope.org/archive/diffoscope-238.tar.bz2
	source = https://diffoscope.org/archive/diffoscope-238.tar.bz2.asc
	validpgpkeys = C2FE4BD271C139B86C533E461E953E27D4311E58
	validpgpkeys = 66AE2B4AFCCF3F52DA184D184B043FCDB9444540
	sha512sums = a38b477dd7ce6b7e810fb20bd52eae3cccc7df3d92c6e3a7ad9c8360bb7a5abee6f0b418304b99eb43ef66d2bec84191a7cdf9c5022602f9602779f9f8a1be5d
	sha512sums = SKIP
	b2sums = a5260663d78e1be0e7c124083294182d38a5eed67700a31a6c571c4d8123e74bd282cfacd09d87c31f1e95fc69ba0c1adedca94c6621c743fbb5f006b25d790f
	b2sums = SKIP

pkgname = diffoscope
