pkgbase = scanmem
	pkgdesc = Memory scanner designed to isolate the address of an arbitrary variable in an executing process
	pkgver = 0.15.8
	pkgrel = 2
	url = https://github.com/scanmem/scanmem
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = intltool
	depends = gtk3
	depends = python-gobject
	depends = polkit
	source = scanmem-0.15.8.tar.gz::https://github.com/scanmem/scanmem/archive/v0.15.8.tar.gz
	sha512sums = d43d6967105882db93f39ef80169904366969c7ad3a58798218a7b38cca650f3ef705304143e5afe938c0a1345dd9e3cc33e30888e96f4e2e1cf7519b38713da

pkgname = scanmem

