pkgbase = hcxtools
	pkgdesc = Portable solution for capturing wlan traffic and conversion to hashcat and John the Ripper formats
	pkgver = 6.0.3
	pkgrel = 1
	url = https://github.com/ZerBea/hcxtools
	arch = x86_64
	license = MIT
	depends = curl
	depends = libpcap
	depends = zlib
	depends = openssl
	source = https://github.com/ZerBea/hcxtools/archive/6.0.3/hcxtools-6.0.3.tar.gz
	source = https://github.com/ZerBea/hcxtools/releases/download/6.0.3/hcxtools-6.0.3.tar.gz.asc
	validpgpkeys = 5920CE1C567948AFD2C0A9B7375516A45DB88630
	sha512sums = 6c111456ec2aee75c3a3b86f9afb3cb9395d6be0ca79ece5c673369fab5a4694980a2ce6bc3d031b5cc9bb492ce7e37006b78ab787cf63e292714dc8245711f6
	sha512sums = SKIP

pkgname = hcxtools

