pkgbase = hcxtools
	pkgdesc = Portable solution for capturing wlan traffic and conversion to hashcat and John the Ripper formats
	pkgver = 6.1.2
	pkgrel = 1
	url = https://github.com/ZerBea/hcxtools
	arch = x86_64
	license = MIT
	depends = curl
	depends = libpcap
	depends = zlib
	depends = openssl
	source = https://github.com/ZerBea/hcxtools/archive/6.1.2/hcxtools-6.1.2.tar.gz
	source = https://github.com/ZerBea/hcxtools/releases/download/6.1.2/hcxtools-6.1.2.tar.gz.asc
	validpgpkeys = 5920CE1C567948AFD2C0A9B7375516A45DB88630
	sha512sums = 587bb02d81aced67514aa5e2a40c1d1961423e9d9af9c2e51d41cb492146e8d6864c0e1f8505361aed1b59fccdafd148e8370b83c87e5723ea1353e41183531c
	sha512sums = SKIP

pkgname = hcxtools

