pkgbase = hcxtools
	pkgdesc = Portable solution for capturing wlan traffic and conversion to hashcat and John the Ripper formats
	pkgver = 6.1.3
	pkgrel = 1
	url = https://github.com/ZerBea/hcxtools
	arch = x86_64
	license = MIT
	depends = curl
	depends = libpcap
	depends = zlib
	depends = openssl
	source = https://github.com/ZerBea/hcxtools/archive/6.1.3/hcxtools-6.1.3.tar.gz
	source = https://github.com/ZerBea/hcxtools/releases/download/6.1.3/hcxtools-6.1.3.tar.gz.asc
	validpgpkeys = 5920CE1C567948AFD2C0A9B7375516A45DB88630
	sha512sums = 276167a553b248232b7ba6c9e580ed617698d6a9ba684d4fffc5785c1e182dee6a83f84b832e610b13f887519d1edb747e091931d0c47a06f0c396396662b323
	sha512sums = SKIP

pkgname = hcxtools

