pkgbase = ruby-rack
	pkgdesc = Minimal, modular, and adaptable interface for developing web applications
	pkgver = 2.0.5
	pkgrel = 1
	url = https://rack.github.io/
	arch = any
	license = MIT
	depends = ruby
	depends = ruby-rdoc
	options = !emptydirs
	source = ruby-rack-2.0.5.tar.gz::https://github.com/rack/rack/archive/2.0.5.tar.gz
	sha256sums = 2bbe5edd09c5b4e6b1940b16932d96df573bae90a8f06b48efcb5010262733cc
	sha512sums = cbfd837a685ef04f4732cb234d7b8d5740ceab826d88bee0505d7e27981843f080e82d022f8bb138be9efd86aca90b27244b9269c6ad69846eddcca1c43d1f7e

pkgname = ruby-rack

