pkgbase = ruby-rack
	pkgdesc = Minimal, modular, and adaptable interface for developing web applications
	pkgver = 2.2.3
	pkgrel = 1
	url = https://rack.github.io/
	arch = any
	license = MIT
	makedepends = ruby-rdoc
	makedepends = ruby-rake
	makedepends = ruby-bundler
	makedepends = ruby-minitest
	makedepends = ruby-minitest-global_expectations
	makedepends = ruby-minitest-sprint
	depends = ruby
	options = !emptydirs
	source = https://github.com/rack/rack/archive/2.2.3/ruby-rack-2.2.3.tar.gz
	sha256sums = d9faed72b1751494a88b7d1379ab0777114ca5fb25a2d850fbefab50482bb365
	sha512sums = 0daefd1fd7d1c83a5aaf0e8a3c0d734f805f6718c3f2d20673e78242f10fa99c24f8e8d480cb7f0ee299d96a4b691e4a19c967785de946dc863e9b78e0c3ac53

pkgname = ruby-rack

