pkgbase = ruby-rspec-core
	pkgdesc = RSpec runner and formatters
	pkgver = 3.5.4
	pkgrel = 1
	url = https://github.com/rspec/rspec-core
	arch = any
	license = MIT
	depends = ruby-rspec-support
	noextract = rspec-core-3.5.4.gem
	options = !emptydirs
	source = https://rubygems.org/downloads/rspec-core-3.5.4.gem
	sha512sums = 0d6aa97ff13497dd84c5a1c49c1ebe979bb4237832d090f6c2fc1b07d396712dba407d99d9cbcef129635d518b8f50d269ca47809bff15d365bef0814cae3dd6

pkgname = ruby-rspec-core

