pkgbase = rabbitmqadmin
	pkgdesc = Command-line tool for managing RabbitMQ server (requires "management" plugin)
	pkgver = 3.6.9
	pkgrel = 1
	url = https://www.rabbitmq.com/management-cli.html
	arch = any
	license = MPL
	depends = python
	source = rabbitmqadmin-3.6.9.tar.gz::https://github.com/rabbitmq/rabbitmq-management/archive/rabbitmq_v3_6_9.tar.gz
	sha512sums = abf460dc711ebb0d02a810d345bd9d529d76ed34c9d6dff97eec599be8a39a90fcae0acadd6d4ccdb67bc45005cfc6305cb61682ea734ebea340eb02c1c5d83a

pkgname = rabbitmqadmin

