pkgbase = gitui
	pkgdesc = Blazing fast terminal-ui for git written in Rust
	pkgver = 0.15.0
	pkgrel = 1
	url = https://github.com/extrawurst/gitui
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = python
	depends = glibc
	depends = libgit2
	depends = libgit2.so
	depends = libxcb
	source = https://github.com/extrawurst/gitui/archive/v0.15.0/gitui-0.15.0.tar.gz
	sha256sums = 19476b4be4d383e316cc533f003a612f6d10caabda7ba757cfb3327b4210f923
	b2sums = 75773f16c5dcb82d17d9954b08fd2a72277b73f8a0fa8896ef56b139ab8177e31efd11d054af3730151c7e621e45c9c11cce4ac81633ac612500f469fed110b3

pkgname = gitui

