pkgbase = python-cle
	pkgdesc = Loads binaries and their libraries, resolves imports and provides an abstraction of process memory
	pkgver = 9.2.27
	pkgrel = 1
	url = https://github.com/angr/cle
	arch = any
	license = custom:BSD
	checkdepends = python-pytest
	checkdepends = python-minidump
	checkdepends = python-pyxbe
	checkdepends = python-arpy
	checkdepends = python-claripy
	checkdepends = python-pyaxmlparser
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-pyelftools
	depends = python-cffi
	depends = python-pyvex
	depends = python-pefile
	depends = python-sortedcontainers
	optdepends = python-claripy: symbolic constraints
	optdepends = python-minidump: minidump
	optdepends = python-pyxbe: xbe
	optdepends = python-arpy: ar
	optdepends = python-pyaxmlparser: apk
	source = https://github.com/angr/cle/archive/v9.2.27/python-cle-9.2.27.tar.gz
	source = https://github.com/angr/binaries/archive/v9.2.27/angr-binaries-9.2.27.tar.gz
	sha512sums = 24e2b699c4036e5a94138761e79b02dbee080fb72bb6d109c5de9f2b6971687ba9fc059fc8dd15d70f23299601cbbd466d8c6dcac1735dabbf1905397b605dce
	sha512sums = 2e790b3d6f60145349e673f0491e0a5ba4be2c78cbb82b7b1245bb2c35f7f555656d2997b8b02c214ef2b61e5ab841e19ab284934ab74f63bb8ce278d6e57a4f
	b2sums = 4afac6fc8b9aa73527b7b65a8051113f4478bf0dc338b40f4ab9b9a83bc6c1a403ef8b3bfc3239633b9a36317ab9cb2197469d8c40d80ff040f2bf8361209d28
	b2sums = 12b3257464c7e64dd5f4b227cb4f73723687fdad15cf9119847d005213c796591ee705cd8d1546e3440dedf3f628fdc199f39aa25b07e0e823b6088eb75f4219

pkgname = python-cle
