pkgbase = irssi
	pkgdesc = Modular text mode IRC client with Perl scripting
	pkgver = 1.0.3
	pkgrel = 1
	url = https://irssi.org/
	arch = i686
	arch = x86_64
	license = GPL
	depends = glib2
	depends = openssl
	optdepends = perl-libwww: for the scriptassist script
	backup = etc/irssi.conf
	source = https://github.com/irssi/irssi/releases/download/1.0.3/irssi-1.0.3.tar.xz
	source = https://github.com/irssi/irssi/releases/download/1.0.3/irssi-1.0.3.tar.xz.asc
	validpgpkeys = 7EE65E3082A5FB06AC7C368D00CCB587DDBEF0E1
	sha512sums = 3a369d9bad4e2016a6a0395b35e3db1f1a6ff7ff6b8361fe5d828c29dd6f81c4b8d1bdfe0304cb05402eecddde97f6d369a5e98f215bfd177287f303d3d714eb
	sha512sums = SKIP

pkgname = irssi

