pkgbase = irssi
	pkgdesc = Modular text mode IRC client with Perl scripting
	pkgver = 1.1.1
	pkgrel = 2
	url = https://irssi.org/
	arch = x86_64
	license = GPL
	depends = glib2
	depends = openssl
	optdepends = perl-libwww: for the scriptassist script
	backup = etc/irssi.conf
	source = https://github.com/irssi/irssi/releases/download/1.1.1/irssi-1.1.1.tar.xz
	source = https://github.com/irssi/irssi/releases/download/1.1.1/irssi-1.1.1.tar.xz.asc
	validpgpkeys = 7EE65E3082A5FB06AC7C368D00CCB587DDBEF0E1
	sha512sums = b2fc0805d6213c31bc34c48237baf2e33ac509c0fa09c483fd39f1473e32eee227ff4532efc60fb495c2ec263c05290578bca7ad6d39149e0594f864da5986c0
	sha512sums = SKIP

pkgname = irssi

