pkgbase = irssi
	pkgdesc = Modular text mode IRC client with Perl scripting
	pkgver = 1.1.2
	pkgrel = 1
	url = https://irssi.org/
	arch = x86_64
	license = GPL
	depends = glib2
	depends = openssl
	optdepends = perl-libwww: for the scriptassist script
	backup = etc/irssi.conf
	source = https://github.com/irssi/irssi/releases/download/1.1.2/irssi-1.1.2.tar.xz
	source = https://github.com/irssi/irssi/releases/download/1.1.2/irssi-1.1.2.tar.xz.asc
	validpgpkeys = 7EE65E3082A5FB06AC7C368D00CCB587DDBEF0E1
	sha512sums = 706f811c810b976888101a29bab6ff6b9aa6116678994b3710d6b266bfbc0ae2be1d4fd889aedfbf0a13a2e3da3f1affcce0018346ecc582865eaccd8cc79f84
	sha512sums = SKIP

pkgname = irssi

