pkgbase = flawfinder
	pkgdesc = Searches through source code for potential security flaws
	pkgver = 2.0.9
	pkgrel = 1
	url = https://www.dwheeler.com/flawfinder
	arch = any
	license = GPL2
	makedepends = python-setuptools
	depends = python
	source = https://www.dwheeler.com/flawfinder/flawfinder-2.0.9.tar.gz
	sha256sums = d7aefd002cb63e125ff20bc2960388cf63e202b7e7f971e47129f2214faca90a
	sha512sums = d359bbb63d8eba5bb1eec354e8843295100c1e3fe228c6326bc5c623e4b9ddebb33ce1ba68d2be6a9dd75adaa0f8b5f410fc26c2bdb56ff5900ab9b87dad543d

pkgname = flawfinder

