pkgbase = alicloud-vault
	pkgdesc = Vault for securely storing and accessing Alibaba Cloud credentials in development environments
	pkgver = 1.3.1
	pkgrel = 1
	url = https://github.com/arafato/alicloud-vault
	arch = x86_64
	license = MIT
	makedepends = go
	depends = glibc
	source = https://github.com/arafato/alicloud-vault/archive/v1.3.1/alicloud-vault-1.3.1.tar.gz
	sha512sums = 5cbdddc0cc94e5da00762c29aff1cbf144abc9cd45be5fdcdcd4f88fca266de178c86c68393cb23f25b8b0ed4d2fe42efa0f0a6d673600f2b38d75ad0eae347e
	b2sums = 69a909afe211814f50cd0557cb4537395387908ec64e1a616e414cd033abddaa18a3371707db9285f0fef60fb0fc030eeb87418edea8806a6693a58a8570c8ee

pkgname = alicloud-vault

