pkgbase = capstone
	pkgdesc = A lightweight multi-platform, multi-architecture disassembly framework
	pkgver = 3.0.4
	pkgrel = 4
	url = http://www.capstone-engine.org/index.html
	arch = i686
	arch = x86_64
	license = BSD
	makedepends = glibc
	makedepends = python
	makedepends = python2
	options = staticlibs
	source = capstone-3.0.4.tar.gz::https://github.com/aquynh/capstone/archive/3.0.4.tar.gz
	sha512sums = a5c29e7c559b5391d6a4ec9a7f766699ea6d321aa2f1fc57fdcec893107fa3ef2f5f6323629971c1129f1ca087df4f3ad03d0a8234d2eae368c8ccfec04dbf4d

pkgname = capstone
	depends = glibc

pkgname = python-capstone
	depends = capstone
	depends = python

pkgname = python2-capstone
	depends = capstone
	depends = python2

