pkgbase = lib32-libpsl
	pkgdesc = Public Suffix List library
	pkgver = 0.18.0
	pkgrel = 1
	url = https://github.com/rockdaboot/libpsl
	arch = x86_64
	license = MIT
	makedepends = publicsuffix-list
	makedepends = python
	depends = lib32-icu
	depends = libpsl
	source = https://github.com/rockdaboot/libpsl/releases/download/libpsl-0.18.0/libpsl-0.18.0.tar.gz
	sha512sums = ff61a6a49411ab6968cff820bccfd25b92790cd503ef2fce8e754a92af5bc9d43d224b36c60f815354022c384635eb47d56231301b36d639e86908e9cafb8cb7

pkgname = lib32-libpsl

