pkgbase = radare2
	pkgdesc = Open-source tools to disasm, debug, analyze and manipulate binary files
	pkgver = 1.2.1
	pkgrel = 3
	url = http://radare.org
	arch = i686
	arch = x86_64
	license = GPL3
	license = LGPL3
	depends = sh
	depends = capstone
	depends = openssl
	depends = libzip
	options = !emptydirs
	source = radare2-1.2.1.tar.gz::https://github.com/radare/radare2/archive/1.2.1.tar.gz
	sha512sums = f6993ee3a581f5f643f370c2e8be8f756e1b2cde82e451784b6254ee1347ffac471aa687a51ecba3200c2d5ddcd40ed93c97ab03d8e569ba18ed428e3e72fee2

pkgname = radare2

