pkgbase = ruby-rouge
	pkgdesc = Pure-ruby code highlighter that is compatible with pygments
	pkgver = 3.3.0
	pkgrel = 1
	url = http://rouge.jneen.net/
	arch = any
	license = MIT
	depends = ruby
	depends = ruby-rdoc
	options = !emptydirs
	source = ruby-rouge-3.3.0.tar.gz::https://github.com/jneen/rouge/archive/v3.3.0.tar.gz
	sha256sums = 328a8aacbc6c783ac99eb814eb13fb1c2b3962217a725cc616363500ba4d89ca
	sha512sums = b9a765e4f1efb9958d0e12ffdd4a28a83045fdccef12c9ff8138665a5efdbe3817682c06b99313b542968282e53c993266adaf79dd6512b8eda50c33bcab4753

pkgname = ruby-rouge

