pkgbase = pinentry
	pkgdesc = Collection of simple PIN or passphrase entry dialogs which utilize the Assuan protocol
	pkgver = 1.2.1
	pkgrel = 1
	url = https://gnupg.org/related_software/pinentry/
	arch = x86_64
	license = GPL
	makedepends = gtk2
	makedepends = qt5-base
	makedepends = gcr
	depends = glibc
	depends = ncurses
	depends = libcap
	depends = libassuan
	depends = libsecret
	depends = glib2
	depends = libsecret-1.so
	depends = libcap.so
	depends = libncursesw.so
	depends = libassuan.so
	depends = libglib-2.0.so
	optdepends = gtk2: gtk2 backend
	optdepends = qt5-base: qt backend
	optdepends = gcr: gnome3 backend
	backup = etc/pinentry/preexec
	source = https://www.gnupg.org/ftp/gcrypt/pinentry/pinentry-1.2.1.tar.bz2
	source = https://www.gnupg.org/ftp/gcrypt/pinentry/pinentry-1.2.1.tar.bz2.sig
	source = pinentry
	source = preexec
	validpgpkeys = D8692123C4065DEA5E0F3AB5249B39D24F25E3B6
	validpgpkeys = 6DAA6E64A76D2840571B4902528897B826403ADA
	validpgpkeys = AC8E115BF73E2D8D47FA9908E98E9B2D19C6C8BD
	sha256sums = 457a185e5a85238fb945a955dc6352ab962dc8b48720b62fc9fa48c7540a4067
	sha256sums = SKIP
	sha256sums = af7c27139b20a7f1b9a227f3663abb21bb2b954523352b7844da27db1b0c1c86
	sha256sums = f428f08d77f1f7830eadb8435af282a833fc13d8b623b122eefd9d3b628bef90

pkgname = pinentry
