pkgbase = dosemu
	pkgdesc = DOS emulator
	pkgver = 1.4.0.8+753+g18f6f5cd
	pkgrel = 1
	epoch = 1
	url = http://www.dosemu.org/
	arch = x86_64
	license = GPL
	license = custom
	makedepends = git
	makedepends = xorg-mkfontdir
	makedepends = xorg-bdftopcf
	makedepends = gendesk
	makedepends = imagemagick
	depends = gpm
	depends = slang
	depends = sdl
	depends = libxxf86vm
	depends = libsndfile
	backup = etc/dosemu/dosemu.conf
	backup = etc/dosemu/dosemu.users
	backup = etc/dosemu/global.conf
	source = dosemu::git://git.code.sf.net/p/dosemu/code#commit=18f6f5cdf1beceae8c7532718bfaf423e4a44f6a
	source = https://downloads.sourceforge.net/sourceforge/dosemu/dosemu-freedos-1.0-bin.tgz
	sha512sums = SKIP
	sha512sums = d0c4235ceac55de63ce5f72e51b7d57a82b8104f4bf2df6f4dc25c9889d3337b40d75665c2dfc98492ec7123e0959a725f5c7579e145895024bd80a07036e3bd

pkgname = dosemu

