pkgbase = vala
	pkgdesc = Compiler for the GObject type system
	pkgver = 0.34.6
	pkgrel = 1
	url = https://wiki.gnome.org/Projects/Vala
	arch = i686
	arch = x86_64
	license = LGPL
	checkdepends = dbus
	checkdepends = libx11
	checkdepends = gobject-introspection
	makedepends = libxslt
	makedepends = git
	makedepends = vala
	depends = glib2
	source = git+https://git.gnome.org/browse/vala#commit=b5c353a01c764d400099a64d3516a289a5bd289e
	sha256sums = SKIP

pkgname = vala

