pkgbase = vala
	pkgdesc = Compiler for the GObject type system
	pkgver = 0.40.4
	pkgrel = 1
	url = https://wiki.gnome.org/Projects/Vala
	arch = x86_64
	license = LGPL
	checkdepends = dbus
	checkdepends = libx11
	checkdepends = gobject-introspection
	makedepends = libxslt
	makedepends = vala
	makedepends = git
	makedepends = help2man
	depends = glib2
	depends = gtk-doc
	depends = graphviz
	depends = ttf-font
	depends = pkg-config
	depends = gcc
	provides = valadoc
	conflicts = valadoc
	replaces = valadoc
	source = git+https://git.gnome.org/browse/vala#commit=75234a338d103c4d2ed097f8388c375d0f65e117
	sha256sums = SKIP

pkgname = vala

