pkgbase = vala
	pkgdesc = Compiler for the GObject type system
	pkgver = 0.52.5
	pkgrel = 1
	url = https://wiki.gnome.org/Projects/Vala
	arch = x86_64
	license = LGPL
	checkdepends = dbus
	checkdepends = libx11
	checkdepends = gobject-introspection
	makedepends = libxslt
	makedepends = vala
	makedepends = git
	makedepends = help2man
	makedepends = autoconf-archive
	depends = glib2
	depends = gtk-doc
	depends = graphviz
	depends = ttf-font
	depends = pkg-config
	depends = gcc
	provides = valadoc
	provides = libvala-0.52.so
	provides = libvaladoc-0.52.so
	conflicts = valadoc
	replaces = valadoc
	source = git+https://gitlab.gnome.org/GNOME/vala.git#commit=f8bad6ef427c15af35e49a92f653f0c84ba989fc
	sha256sums = SKIP

pkgname = vala
