pkgbase = ruby-sqlite3
	pkgdesc = Ruby bindings for the SQLite3 embedded database
	pkgver = 1.4.2
	pkgrel = 3
	url = https://github.com/luislavena/sqlite3-ruby
	arch = x86_64
	license = BSD
	makedepends = ruby-rdoc
	makedepends = ruby-rake
	makedepends = ruby-rake-compiler
	makedepends = ruby-hoe
	makedepends = ruby-mini_portile
	makedepends = ruby-minitest
	depends = ruby
	depends = sqlite
	options = !emptydirs
	source = https://github.com/sparklemotion/sqlite3-ruby/archive/v1.4.2/ruby-sqlite3-v1.4.2.tar.gz
	sha256sums = 7e876104c0feb6e0e69befc3f6055fb7f20f37b13a667c8f9782d22272f37479
	sha512sums = c30938f0ad835e23f9e857323ea654d111d1ef5d6f055471ca5f8f080bcdcbb56ac773be9aab34b6432cdb53d69a842c99dcebbd3ea9808967f04907863abc89

pkgname = ruby-sqlite3

