pkgbase = python-eventlet
	pkgdesc = Highly concurrent networking library
	pkgver = 0.29.1
	pkgrel = 1
	url = https://eventlet.net
	arch = any
	license = MIT
	checkdepends = python-psycopg2
	checkdepends = python-nose
	checkdepends = python-pyopenssl
	checkdepends = python-httplib2
	checkdepends = python-mock
	checkdepends = python-pyzmq
	makedepends = python-setuptools
	makedepends = python-sphinx
	depends = python
	depends = python-greenlet
	depends = python-monotonic
	depends = python-dnspython
	optdepends = python-psycopg2: non-blocking PostgreSQL support
	optdepends = python-pyopenssl: non-blocking SSL support
	optdepends = python-httplib2: non-blocking HTTP support
	optdepends = python-pyzmq: non-blocking ZeroMQ support
	optdepends = python-dnspython: non-blocking DNS support
	options = !makeflags
	source = https://github.com/eventlet/eventlet/archive/v0.29.1/eventlet-0.29.1.tar.gz
	source = python-eventlet-py39.patch::https://github.com/eventlet/eventlet/commit/087ba743c7af.patch
	sha512sums = fc3563baa0df210fb62b53d821c1013feea4e680feb34958ba6cd37ed1b8967beebfe696754bd07c60345152ed7a291f0a439d2f12bf47d974f7543d3b60c775
	sha512sums = a40750ef2ed0eb8e895328bef6474e46a242e7fda6445f4b1a4e3ae309ea06bbcef72fa3610147284499d6b784a0ab838463c5596eda14c7fb6e2d78cff31c5e
	b2sums = b1ac914276f429050c9e233618360107bd5504a87368355aa3b2effcefe2195ac4c7bfa27fb3d40fc1dbdbe3d85044f9aa5c3dc18bae777965851205f47567f7
	b2sums = 4a933aa4346b9460b496c3534c622216fd965bdd83303bbc77cc7c333a752c3a204380bea57ac1e7f3e347c828089c35c981899447195b201bb55f9dcf9d0546

pkgname = python-eventlet

