pkgbase = lib32-sdl2_ttf
	pkgdesc = Library that allows you to use TrueType fonts in your SDL applications (Version 2) (32-bit)
	pkgver = 2.0.18
	pkgrel = 1
	url = https://www.libsdl.org/projects/SDL_ttf
	arch = x86_64
	license = MIT
	depends = lib32-sdl2
	depends = lib32-freetype2
	source = https://www.libsdl.org/projects/SDL_ttf/release/SDL2_ttf-2.0.18.tar.gz
	sha512sums = 9a211c07d4180fe3fb2f7614e907d1002ddf3bb77b57f62116f22dc29a6043f091deb6a8113656d26a44d2f06b9abcc372aa3e0761500fcf47b455406973a1c7

pkgname = lib32-sdl2_ttf
