pkgbase = volatility
	pkgdesc = Advanced memory forensics framework
	pkgver = 2.6
	pkgrel = 2
	url = https://github.com/volatilityfoundation/volatility/wiki
	arch = any
	license = GPL2
	makedepends = python2-setuptools
	depends = python2-distorm
	depends = python2-crypto
	depends = python2-ujson
	optdepends = python2-yara: classify malware support
	optdepends = python2-pillow: screenshots plugin support
	optdepends = python2-pytz: timezone conversion support
	optdepends = ipython2: enhanced volshell support
	optdepends = python2-libforensic1394: firewire live analysis support
	optdepends = libraw1394: alternative firewire live analysis support
	optdepends = python2-openpyxl: Excel xlsx/xlsm files support
	source = volatility-2.6.tar.gz::https://github.com/volatilityfoundation/volatility/archive/2.6.tar.gz
	sha512sums = 7f71ae5aac38d66dd1e3ff830d0859d7da72d65c5f729bb2d73a374088c3116cdf8a69a419749ee3c92cd084c9a4cf3e20da5de94588a4c0424ca55a55c1e793

pkgname = volatility

