pkgbase = volatility
	pkgdesc = Advanced memory forensics framework
	pkgver = 2.5
	pkgrel = 1
	url = https://github.com/volatilityfoundation/volatility/wiki
	arch = any
	license = GPL2
	makedepends = python2-setuptools
	depends = distorm
	depends = python2-crypto
	depends = python2-ujson
	optdepends = python2-yara: classify malware support
	optdepends = python2-pillow: screenshots plugin support
	optdepends = python2-pytz: timezone conversion support
	optdepends = ipython2: enhanced volshell support
	optdepends = libforensic1394: firewire live analysis support
	optdepends = libraw1394: alternative firewire live analysis support
	optdepends = python2-openpyxl: Excel xlsx/xlsm files support
	source = volatility-2.5.tar.gz::https://github.com/volatilityfoundation/volatility/archive/2.5.tar.gz
	sha512sums = 137a0727106beb2321f956c53f304ae4ff00397da935d490c595e7b657bdec348cd5ac4472ba9da8c7ce2a1a8559e33535df7b68efb815084217f131cb044632

pkgname = volatility

