pkgbase = fwknop
	pkgdesc = FireWall KNock OPerator: Single Packet Authorization and Port Knocking
	pkgver = 2.6.9
	pkgrel = 4
	url = https://www.cipherdyne.org/fwknop
	arch = x86_64
	license = GPL2
	depends = gpgme
	depends = iptables
	depends = libpcap
	depends = wget
	options = !libtool
	backup = etc/fwknop/access.conf
	backup = etc/fwknop/fwknopd.conf
	source = https://cipherdyne.org/fwknop/download/fwknop-2.6.9.tar.bz2
	source = https://cipherdyne.org/fwknop/download/fwknop-2.6.9.tar.bz2.asc
	source = fwknopd.service
	validpgpkeys = 4D6644A9DA036904BDA2CB90E6C9E3350D3E7410
	sha512sums = d37b1f72c1b0e690e23523aa15e180dcc2bd6100854487f5bf56e0d4943b8bc47e989c9779fb2b12c83dc2cc707b8a870067dfd893cf3906bcb7b3dfc9fb472e
	sha512sums = SKIP
	sha512sums = a171682a054495bb10315e98a300ddbe4adf1f653b719d3344ecb6cfb8ccd15043cffbbd28304c4f15569a12ddcd9733409448d596f0c706e48d4fda2c877a6a

pkgname = fwknop

