pkgbase = afl-utils
	pkgdesc = Utilities for automated crash sample processing/analysis, easy afl-fuzz job management and corpus optimization
	pkgver = 1.17a
	pkgrel = 1
	url = https://github.com/rc0r/afl-utils
	arch = any
	license = Apache
	makedepends = python-setuptools
	depends = afl
	depends = coreutils
	depends = python
	optdepends = sqlite: database support
	optdepends = screen: interactive/screen mode support
	optdepends = gdb: gdb script execution support
	optdepends = python-twitter: afl-stat support
	source = afl-utils-1.17a.tar.gz::https://github.com/rc0r/afl-utils/archive/v1.17a.tar.gz
	sha512sums = 2188def4866fe4a44a9482e763cdb09342da3a58850efccae11970dcbf719811879111030ec10492105c77e58e0d4b37359789ff0c0fd3969c0eadb5c473f560

pkgname = afl-utils

