pkgbase = afl-utils
	pkgdesc = Utilities for automated crash sample processing/analysis, easy afl-fuzz job management and corpus optimization
	pkgver = 1.34a
	pkgrel = 1
	url = https://github.com/rc0r/afl-utils
	arch = any
	license = Apache
	makedepends = python-setuptools
	depends = afl
	depends = coreutils
	depends = python
	depends = rsync
	optdepends = sqlite: database support
	optdepends = screen: interactive/screen mode support
	optdepends = gdb: gdb script execution support
	source = afl-utils-1.34a.tar.gz::https://gitlab.com/rc0r/afl-utils/-/archive/v1.34a/afl-utils-v1.34a.tar.gz
	sha256sums = 8ec99f4832a80400a0457612af487bb430ca4a53a17f63f9f8d72af03d97ab96
	sha512sums = d65ecaf022641cffe8466c1d47d5b14455c41c42f5604c2ee50dbe35a044a80d07931bc8b99192b4ad5ef4464e9bb3e9f05dfff195943b37435142dc6abcd1af

pkgname = afl-utils

