pkgbase = afl-utils
	pkgdesc = Utilities for automated crash sample processing/analysis, easy afl-fuzz job management and corpus optimization
	pkgver = 1.31a
	pkgrel = 1
	url = https://github.com/rc0r/afl-utils
	arch = any
	license = Apache
	makedepends = python-setuptools
	depends = afl
	depends = coreutils
	depends = python
	depends = rsync
	optdepends = sqlite: database support
	optdepends = screen: interactive/screen mode support
	optdepends = gdb: gdb script execution support
	source = afl-utils-1.31a.tar.gz::https://github.com/rc0r/afl-utils/archive/v1.31a.tar.gz
	sha512sums = 3d4095ea85179ed8cb27ed720db09d28b4cbe461ffa55605e488efab4f991bb5939967b7968d6d93e19b50b3af45d5be6be714f70e7ca8da31ab067c37da3308

pkgname = afl-utils

