pkgbase = python-gevent-websocket
	pkgdesc = WebSocket library for the gevent networking library
	pkgver = 0.10.1
	pkgrel = 2
	url = https://www.gitlab.com/noppo/gevent-websocket
	arch = any
	license = Apache
	makedepends = python
	makedepends = python-gevent
	makedepends = gunicorn
	makedepends = python-ujson
	makedepends = cython
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = python2
	makedepends = python2-gevent
	makedepends = python2-gunicorn
	makedepends = python2-ujson
	makedepends = cython2
	makedepends = python2-setuptools
	makedepends = python2-sphinx
	source = https://gitlab.com/noppo/gevent-websocket/-/archive/0.10.1/gevent-websocket-0.10.1.tar.gz
	sha512sums = 33473bd20bf8bdab95784bc46093c4f3567d61290731e1980de3b8bf96d71976dca658547320329d5ee5291f54e423a1c7ae8300358bc641eae3c71a1943ea84

pkgname = python-gevent-websocket
	depends = python
	depends = python-gevent
	depends = gunicorn
	depends = python-ujson

pkgname = python2-gevent-websocket
	depends = python2
	depends = python2-gevent
	depends = python2-gunicorn
	depends = python2-ujson

