pkgbase = hcxdumptool
	pkgdesc = Small tool to capture packets from wlan devices
	pkgver = 5.1.4
	pkgrel = 1
	url = https://github.com/ZerBea/hcxdumptool
	arch = x86_64
	license = MIT
	depends = glibc
	source = https://github.com/ZerBea/hcxdumptool/archive/5.1.4/hcxdumptool-5.1.4.tar.gz
	source = https://github.com/ZerBea/hcxdumptool/releases/download/5.1.4/hcxdumptool-5.1.4.tar.gz.asc
	validpgpkeys = 5920CE1C567948AFD2C0A9B7375516A45DB88630
	sha512sums = 2e0eed2de167c4d1cb9ff804e3272dc072ede45aa82bd8cdca020a3375b976df55e5620689d0b0a142eb29e40b82334e8b59a5c0a93ced66e98d5f0b5d532397
	sha512sums = SKIP

pkgname = hcxdumptool

