pkgbase = python-flask-paranoid
	pkgdesc = Simple user session protection for Flask applications
	pkgver = 0.3.0
	pkgrel = 2
	url = https://github.com/miguelgrinberg/flask-paranoid/
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = python-sphinx
	makedepends = python-setuptools
	depends = python
	depends = python-flask
	source = python-flask-paranoid-0.3.0.tar.gz::https://github.com/miguelgrinberg/flask-paranoid/archive/v0.3.0.tar.gz
	sha256sums = cab9f54e382707c31eb5ad58e1ce3b371ecd0d5d4f3385f9cf01bd13a2e1d9ec
	sha512sums = 68e49a79e7e00c3a89bcc0347c41b80634b3f5f64227f4ae44db95a286a57b6101dff8f7aba592b8d325b38effc58744ee15d56bd8be30507b76c5dc836fc112

pkgname = python-flask-paranoid
