pkgbase = yara
	pkgdesc = Tool aimed at helping malware researchers to identify and classify malware samples
	pkgver = 4.1.3
	pkgrel = 1
	url = https://github.com/VirusTotal/yara
	arch = x86_64
	license = BSD
	depends = openssl
	depends = file
	depends = libmagic.so
	provides = libyara.so
	source = https://github.com/VirusTotal/yara/archive/v4.1.3/yara-4.1.3.tar.gz
	sha512sums = 1bfa1787c62dfd9a87fa8db5e8c2fa68f082ae66b16b5373bdcc6bc66b32016fcaffd4baa7e59a7c1f6d3426c972eca9cc22f70d475067d7557b1014a4ab65fc
	b2sums = abfdd5918abe3641056ccde3eebb754cbd66eff5569978d3b1aad5d925d62fcb96b1f7367d0d014dd165db8634418259667be3b2441f93e0848bfbd905ca32dd

pkgname = yara
