pkgbase = python-pysnmp
	pkgdesc = Open source and free implementation of v1/v2c/v3 SNMP engine
	pkgver = 4.4.10
	pkgrel = 1
	url = https://github.com/etingof/pysnmp
	arch = any
	license = BSD
	makedepends = python
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = python-pysmi
	makedepends = python-pyasn1
	makedepends = python2
	makedepends = python2-setuptools
	makedepends = python2-sphinx
	makedepends = python2-pysmi
	makedepends = python2-pyasn1
	options = !makeflags
	source = https://github.com/etingof/pysnmp/archive/v4.4.10/pysnmp-v4.4.10.tar.gz
	sha256sums = b60ca2f9980c44d1879f66511378e95c5ccf294f17b7b8809f6f0d514e330e65
	sha512sums = aa272067a4478d7bf7a1832fed40b8dc747490460c54ba6c9d7cef50ce708cd6249b1dbef48f1efe4679cf12cafa19c8b818737b5720cadecfcfea3422df15a4

pkgname = python-pysnmp
	depends = python
	depends = python-pysmi
	depends = python-pyasn1

pkgname = python2-pysnmp
	depends = python2
	depends = python2-pysmi
	depends = python2-pyasn1

