pkgbase = python-pysnmp
	pkgdesc = Open source and free implementation of v1/v2c/v3 SNMP engine
	pkgver = 4.4.11
	pkgrel = 1
	url = https://github.com/etingof/pysnmp
	arch = any
	license = BSD
	makedepends = python
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = python-pysmi
	makedepends = python-pyasn1
	makedepends = python2
	makedepends = python2-setuptools
	makedepends = python2-sphinx
	makedepends = python2-pysmi
	makedepends = python2-pyasn1
	options = !makeflags
	source = https://github.com/etingof/pysnmp/archive/v4.4.11/pysnmp-v4.4.11.tar.gz
	sha256sums = e09aa9f9089f14f05db43be214be9c854b6fa9036820864774305285b9ea8fd6
	sha512sums = 1b4312c425765d9fc10a5382a93a171f98afa9f53dd053d6254ac741c8fa08b3bd5639cf1483e5cbf6986a5fd1aaace65c4486d6c3df56f7f0b01aaf45d87016

pkgname = python-pysnmp
	depends = python
	depends = python-pysmi
	depends = python-pyasn1

pkgname = python2-pysnmp
	depends = python2
	depends = python2-pysmi
	depends = python2-pyasn1

