pkgbase = ruby-mini_portile2
	pkgdesc = Simple autoconf builder for developers
	pkgver = 2.8.0
	pkgrel = 1
	url = https://github.com/flavorjones/mini_portile
	arch = any
	license = MIT
	makedepends = ruby-rdoc
	depends = ruby
	options = !emptydirs
	source = https://github.com/flavorjones/mini_portile/archive/v2.8.0/ruby-mini_portile2-2.8.0.tar.gz
	sha256sums = 33285113315568cbd67659a09b0c596f061517a20bd5c33676810ed02836c2cd
	sha512sums = c30d9387ee206dc1ef52b779a1e66e3c8a4247bea94009741911246371a74aebbe27c6f92cacc4a74c064fdaac3cec8e926232467377ad5c0fe501629e623b10

pkgname = ruby-mini_portile2
