pkgbase = ruby-mini_portile2
	pkgdesc = Simple autoconf builder for developers
	pkgver = 2.5.0
	pkgrel = 2
	url = https://github.com/flavorjones/mini_portile
	arch = any
	license = MIT
	makedepends = ruby-rdoc
	depends = ruby
	options = !emptydirs
	source = ruby-mini_portile2-2.5.0.tar.gz::https://github.com/flavorjones/mini_portile/archive/v2.5.0.tar.gz
	sha256sums = 3f644e67e529c9a2f0af98cded2a511766e402e3e506455a922adc121383f2bf
	sha512sums = 4e07a2a510b189468967212cdd3307ddc97322849834a4e7d099d3866fd259e27519e923367865138f121b3401fd847e0fed1468dbe7270eb35e4bcdb86339ff

pkgname = ruby-mini_portile2

