pkgbase = hcxkeys
	pkgdesc = Set of tools to generate plainmasterkeys (rainbowtables) and hashes for hashcat and John the Ripper
	pkgver = 6.2.0
	pkgrel = 1
	url = https://github.com/ZerBea/hcxkeys
	arch = x86_64
	license = MIT
	makedepends = opencl-headers
	depends = openssl
	depends = opencl-driver
	depends = opencl-icd-loader
	source = https://github.com/ZerBea/hcxkeys/archive/6.2.0/hcxkeys-6.2.0.tar.gz
	source = https://github.com/ZerBea/hcxkeys/releases/download/6.2.0/hcxkeys-6.2.0.tar.gz.asc
	validpgpkeys = 5920CE1C567948AFD2C0A9B7375516A45DB88630
	sha512sums = 50a29aa145a4b0995c394915e92236a436b82885f28bbe30a18f5821e5267e5be6eb21defe6e9daaf50be122ffef2f5fa12dfcb08de03bf58b1d824c344f729a
	sha512sums = SKIP
	b2sums = f372bf4ce6e46075272d041d18f9d2f393cb439986127f09ec5334936e19541a3ece5d1e70ce48a6f8a04718b66f654962edd77466441b1f7ede879e5e475cde
	b2sums = SKIP

pkgname = hcxkeys
