pkgbase = python-alembic
	pkgdesc = Lightweight database migration tool for usage with SQLAlchemy
	pkgver = 1.9.4
	pkgrel = 1
	url = https://github.com/sqlalchemy/alembic
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = python-setuptools
	makedepends = python-mako
	makedepends = python-sqlalchemy
	makedepends = python-editor
	makedepends = python-dateutil
	depends = python
	depends = python-mako
	depends = python-sqlalchemy
	depends = python-editor
	depends = python-dateutil
	depends = python-importlib-metadata
	source = https://pypi.org/packages/source/a/alembic/alembic-1.9.4.tar.gz
	source = https://pypi.org/packages/source/a/alembic/alembic-1.9.4.tar.gz.asc
	validpgpkeys = 83AF7ACE251C13E6BB7DEFBD330239C1C4DAFEE1
	sha512sums = 76e6f86e789cecff78f8e86c34d22a70615158833bc24a26f38fe2d0d5ccd098920e0fe4cbebaadd2c9a4a2e63152720945645000d46a2b6b8b6696ce873f899
	sha512sums = SKIP
	b2sums = 5b740803b6bf5b715e9572a91d87d5403d64e665647776d28511704fa17ed81825fe6f5cdab2cec77a0806abb02ef2a7acf5f9702ff87639b90e74d9e22a4b1a
	b2sums = SKIP

pkgname = python-alembic
