pkgbase = wpscan
	pkgdesc = Black box WordPress vulnerability scanner
	pkgver = 3.7.5
	pkgrel = 2
	epoch = 1
	url = https://wpscan.org
	install = wpscan.install
	arch = x86_64
	license = custom:WPScan
	depends = ruby-bundler
	depends = libxslt
	depends = libyaml
	depends = curl
	depends = libxml2
	options = !strip
	options = !emptydirs
	source = https://github.com/wpscanteam/wpscan/archive/v3.7.5/wpscan-3.7.5.tar.gz
	sha256sums = 220ce775967b71137b23710939b51ef8caf2e5770d3b6239831fda2bd3fd8be8
	sha512sums = d5418ce9c41af75705ad0bea6c8726901a117656d399e850b28ab2b82ed7eca0f606dffb2cf28529ebdd72516bf6e2444d961077a1324a05dd516f16024af0d7

pkgname = wpscan

