pkgbase = python-yara
	pkgdesc = Tool aimed at helping malware researchers to identify and classify malware samples
	pkgver = 3.8.1
	pkgrel = 1
	url = https://github.com/VirusTotal/yara-python
	arch = x86_64
	license = Apache
	makedepends = git
	makedepends = yara
	makedepends = glibc
	makedepends = python
	makedepends = python-setuptools
	makedepends = python2
	makedepends = python2-setuptools
	source = python-yara::git+https://github.com/VirusTotal/yara-python#commit=a73270276df017d660f438d5ff235bd5f3259bc8
	sha512sums = SKIP

pkgname = python-yara
	depends = python
	depends = yara
	depends = glibc

pkgname = python2-yara
	depends = python2
	depends = yara
	depends = glibc

