pkgbase = ruby-timers
	pkgdesc = Schedule procs to run after a certain time, or at periodic intervals, using any API that accepts a timeout
	pkgver = 4.3.2
	pkgrel = 2
	url = https://github.com/celluloid/timers
	arch = any
	license = MIT
	makedepends = ruby-rdoc
	depends = ruby
	depends = ruby-hitimes
	options = !emptydirs
	source = https://github.com/celluloid/timers/archive/v4.3.2/ruby-timers-4.3.2.tar.gz
	sha512sums = 306669da275e26f2902c05c94fd94caf15a37dafa6dc5ec16b3780091dea72ed6c2ff41d05139244ff1191f5630d3ffbab2718e04be67f784643386ca456f450
	b2sums = 2f04c012f161c3af53103e5c5f05da53f089b2db2b356cb271f3ad318c2b66d78a2275665b27fb718dfeab7e8f76993637153eae193616f84f3da1c3db42680d

pkgname = ruby-timers

