pkgbase = ruby-timers
	pkgdesc = Schedule procs to run after a certain time, or at periodic intervals, using any API that accepts a timeout
	pkgver = 4.3.0
	pkgrel = 1
	url = https://github.com/celluloid/timers
	arch = any
	license = MIT
	makedepends = ruby-rdoc
	depends = ruby
	depends = ruby-hitimes
	options = !emptydirs
	source = https://github.com/celluloid/timers/archive/v4.3.0/ruby-timers-4.3.0.tar.gz
	sha512sums = 58cda357826f8744a673f0abae9e9670d38cf125b90668c06de12a14666ede000b62f79be004593ae04154c8cf5db0992da0f7cb5739120d4f95c8fb04397e75

pkgname = ruby-timers

