pkgbase = python-flask-babelex
	pkgdesc = Adds i18n/l10n support to Flask applications
	pkgver = 0.9.3.r2.gd699306
	pkgrel = 3
	url = https://github.com/mrjoes/flask-babelex
	arch = any
	license = BSD
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-sphinx
	makedepends = python-setuptools
	depends = python
	depends = python-flask
	depends = python-babel
	depends = python-speaklater
	depends = python-jinja
	source = python-flask-babelex::git+https://github.com/mrjoes/flask-babelex#commit=d6993064993635ace5af98cbf5368dca593603db
	sha512sums = SKIP

pkgname = python-flask-babelex

