pkgbase = python-flask-migrate
	pkgdesc = SQLAlchemy database migrations for Flask applications using Alembic..
	pkgver = 2.4.0
	pkgrel = 1
	url = https://github.com/miguelgrinberg/Flask-Migrate/
	arch = any
	license = MIT
	makedepends = python-alembic
	makedepends = python-flask
	makedepends = python-flask-script
	makedepends = python-flask-sqlalchemy
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = python2-alembic
	makedepends = python2-flask
	makedepends = python2-flask-script
	makedepends = python2-flask-sqlalchemy
	makedepends = python2-setuptools
	makedepends = python2-sphinx
	source = python-flask-migrate-2.4.0.tar.gz::https://github.com/miguelgrinberg/Flask-Migrate/archive/v2.4.0.tar.gz
	sha256sums = 507ad1d83be82efc923c951921843050044098908ead0b76ee52fffef552471e
	sha512sums = aec265c506483af5117c4866f96e9fc95c779e7a96461bd8a816638836b6e8b66bd75e4bb7e1ce06729411b0be9b7cb6f6971be7b5649619cd9087a09f70a5ca

pkgname = python-flask-migrate
	depends = python-alembic
	depends = python-flask
	depends = python-flask-script
	depends = python-flask-sqlalchemy
	depends = python-setuptools

pkgname = python2-flask-migrate
	depends = python2-alembic
	depends = python2-flask
	depends = python2-flask-script
	depends = python2-flask-sqlalchemy
	depends = python2-setuptools

