pkgbase = afl
	pkgdesc = Security-oriented fuzzer using compile-time instrumentation and genetic algorithms
	pkgver = 2.44b
	pkgrel = 1
	url = http://lcamtuf.coredump.cx/afl/
	arch = i686
	arch = x86_64
	license = Apache
	makedepends = clang
	makedepends = llvm
	makedepends = gcc
	makedepends = wget
	makedepends = python
	depends = glibc
	depends = bash
	optdepends = gcc: gcc instrumentation support
	optdepends = clang: clang instrumentation support
	optdepends = llvm: experimental clang-fast instrumentation support
	optdepends = gnuplot: graph plotting support
	provides = american-fuzzy-lop
	replaces = american-fuzzy-lop
	options = !emptydirs
	options = !strip
	source = afl-2.44b.tgz::http://lcamtuf.coredump.cx/afl/releases/afl-2.44b.tgz
	sha512sums = 35441049835e90e50a5f2aae09c154d00eab45abffc0b76b78cf34bc1343928fa12ca9e7fb083f3bdeac87a36cde9a0b8d958cf8f6c30fa419954b4b46fea4c3

pkgname = afl

