pkgbase = afl
	pkgdesc = Security-oriented fuzzer using compile-time instrumentation and genetic algorithms
	pkgver = 1.94b
	pkgrel = 2
	url = http://lcamtuf.coredump.cx/afl/
	arch = i686
	arch = x86_64
	license = Apache
	makedepends = clang
	makedepends = llvm
	makedepends = gcc
	depends = glibc
	depends = bash
	optdepends = gcc: gcc instrumentation support
	optdepends = clang: clang instrumentation support
	optdepends = llvm: experimental clang-fast instrumentation support
	provides = american-fuzzy-lop
	replaces = american-fuzzy-lop
	options = !emptydirs
	options = !strip
	source = afl-1.94b.tgz::http://lcamtuf.coredump.cx/afl/releases/afl-1.94b.tgz
	sha512sums = 513c01348c7087f3f1f716440af273d342466089400822784d670739bec4ab6094b8d085933ffecc0fb69f966bdc99ed3bfad5966065036c2b8a5015a39683c4

pkgname = afl

