pkgbase = gist
	pkgdesc = Potentially the best command line gister
	pkgver = 4.6.1
	pkgrel = 1
	url = https://github.com/defunkt/gist
	arch = any
	license = custom:MIT
	depends = ruby
	optdepends = xclip: put pasted gist's url into X selection automagically
	optdepends = xsel: put pasted gist's url into X selection automagically
	source = gist-4.6.1.tar.gz::https://github.com/defunkt/gist/archive/v4.6.1.tar.gz
	sha512sums = 25e80a2cf17c271acc1ad40600ddd3573092c34ae2dadfef5ba7385ac7d64e7798fdfe61a21356d8d5fe91e40ccd62f7d3defcd4a36acfa4bf61ec11c864e432

pkgname = gist

