pkgbase = python-engineio
	pkgdesc = Python implementation of the Engine.IO realtime server
	pkgver = 2.0.3
	pkgrel = 1
	url = https://github.com/miguelgrinberg/python-engineio
	arch = any
	license = MIT
	checkdepends = python-mock
	checkdepends = python-eventlet
	checkdepends = python-pytest
	checkdepends = python-pytest-runner
	checkdepends = python-aiohttp
	checkdepends = python2-mock
	checkdepends = python2-eventlet
	checkdepends = python2-pytest
	checkdepends = python2-pytest-runner
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = python-six
	makedepends = python2-setuptools
	makedepends = python2-sphinx
	makedepends = python2-six
	options = !makeflags
	source = python-engineio-2.0.3.tar.gz::https://github.com/miguelgrinberg/python-engineio/archive/v2.0.3.tar.gz
	sha256sums = 175c26b101da445b191aa33c680f44565aef5e6aeaa0ab2a786b39404105b419
	sha512sums = 77ade0dd76010659e0948f2e89c7eb16909e6d50e46045c2c0dfa351e8fba862009416ae760321453f37bb8e5cff2f61bd950cebc735f7a57511114317a1f76e

pkgname = python-engineio
	depends = python-six
	optdepends = python-eventlet: eventlet support
	optdepends = python-aiohttp: aiohttp support

pkgname = python2-engineio
	depends = python2-six
	optdepends = python2-eventlet: eventlet support

