pkgbase = aws-vault
	pkgdesc = Vault for securely storing and accessing AWS credentials in development environments
	pkgver = 6.5.0
	pkgrel = 1
	url = https://github.com/99designs/aws-vault
	arch = x86_64
	license = MIT
	makedepends = go
	depends = glibc
	optdepends = zenity: graphical prompt
	optdepends = kdialog: graphical prompt
	source = https://github.com/99designs/aws-vault/archive/v6.5.0/aws-vault-6.5.0.tar.gz
	sha256sums = b2127b20a58fd75d92a2af28e77368dd9ab3c576dc73c3d56c3817e496a45515
	b2sums = 1b7620a74a0e3445a8cd13468f6a31bc27a7773bc7fec5740853b05974fcfa970e1215ca551dd66081e7e94325ab8757053814f13cb26585a8bdd6c1c414467d

pkgname = aws-vault
