pkgbase = asciidoc
	pkgdesc = Text document format for short documents, articles, books and UNIX man pages
	pkgver = 10.1.4
	pkgrel = 1
	url = https://asciidoc.org/
	arch = any
	license = GPL
	checkdepends = dblatex
	checkdepends = graphviz
	checkdepends = lilypond
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	checkdepends = source-highlight
	makedepends = python-pip
	depends = python
	depends = libxslt
	depends = docbook-xsl
	optdepends = graphviz: graphviz-filter
	optdepends = lilypond: music-filter
	optdepends = imagemagick: music-filter
	optdepends = source-highlight: source-highlight-filter
	optdepends = dblatex: pdf generation
	optdepends = fop: alternative pdf generation
	optdepends = w3m: text generation
	optdepends = lynx: alternative text generation
	source = https://github.com/asciidoc-py/asciidoc-py/releases/download/10.1.4/asciidoc-10.1.4.tar.gz
	sha256sums = e4da7cc2af7fa12029156c0788fde2a53db1352d7dcb3e674a9d546b3bdba93f
	b2sums = 86715b0d03fe112483e9e774af1b1bed8f9f88972c5de2b147e86f6501e7639e6683a96c93248efb71cf38f89b15a2ecf0b2d098c4e57af8768e8bedc2ef7e70

pkgname = asciidoc
