pkgbase = asciidoc
	pkgdesc = Text document format for short documents, articles, books and UNIX man pages
	pkgver = 9.1.1
	pkgrel = 2
	url = https://asciidoc.org/
	arch = any
	license = GPL
	checkdepends = dblatex
	checkdepends = graphviz
	checkdepends = lilypond
	checkdepends = source-highlight
	depends = python
	depends = libxslt
	depends = docbook-xsl
	optdepends = graphviz: graphviz-filter
	optdepends = lilypond: music-filter
	optdepends = imagemagick: music-filter
	optdepends = source-highlight: source-highlight-filter
	optdepends = dblatex: pdf generation
	optdepends = fop: alternative pdf generation
	optdepends = w3m: text generation
	optdepends = lynx: alternative text generation
	source = https://github.com/asciidoc-py/asciidoc-py/archive/9.1.1/asciidoc-9.1.1.tar.gz
	sha256sums = 914dfc1542c30bd47faa0aaaae0985cb57d0ca584015729ccd1b94d90da3a616
	b2sums = 6968f95f03684f54c241cf2db8b8b1e264cc53f400feeb618b20325001b52d5086c7f105e583d6bae41b1e0370ebd9a6a3021b956b0d0d63f1765436cccd39a2

pkgname = asciidoc
