pkgbase = asciidoc
	pkgdesc = Text document format for short documents, articles, books and UNIX man pages
	pkgver = 10.2.0
	pkgrel = 2
	url = https://asciidoc.org/
	arch = any
	license = GPL
	checkdepends = dblatex
	checkdepends = graphviz
	checkdepends = lilypond
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	checkdepends = source-highlight
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = libxslt
	depends = docbook-xsl
	optdepends = graphviz: graphviz-filter
	optdepends = lilypond: music-filter
	optdepends = imagemagick: music-filter
	optdepends = source-highlight: source-highlight-filter
	optdepends = dblatex: pdf generation
	optdepends = fop: alternative pdf generation
	optdepends = w3m: text generation
	optdepends = lynx: alternative text generation
	source = https://github.com/asciidoc-py/asciidoc-py/releases/download/10.2.0/asciidoc-10.2.0.tar.gz
	sha256sums = 237b2ba5c35c0ae7ccd4cd44ebf1d87c20b2695dae01798954416d492ef7fa0e
	b2sums = ed5db8fd1432b255e9c03e17805c26c76a42392c2ebeaf839b8c0aaaf38cd1a36d79b645ca4474503181200924df91218eb0997dd82335a30d6a0a1b35eb5730

pkgname = asciidoc
