pkgbase = r2ghidra-dec
	pkgdesc = Deep ghidra decompiler integration for radare2 and Cutter
	pkgver = 4.4.0
	pkgrel = 1
	url = https://github.com/radareorg/r2ghidra-dec
	arch = x86_64
	license = LGPL3
	makedepends = git
	makedepends = cmake
	makedepends = qt5-base
	depends = radare2
	depends = glibc
	provides = radare2-cutter-r2ghidra-dec
	provides = radare2-r2ghidra-dec
	source = git+https://github.com/radareorg/r2ghidra-dec#commit=3bf10b2bc94a3a7289723c76e9f02735bb623b56
	source = git+https://github.com/radareorg/cutter#commit=1aad797722f9fc60b80792a4cc02380c9241714a
	source = thestr4ng3r-ghidra::git+https://github.com/thestr4ng3r/ghidra.git
	source = git+https://github.com/zeux/pugixml.git
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP

pkgname = r2ghidra-dec

