pkgbase = eksctl
	pkgdesc = Command line tool for creating clusters on Amazon EKS
	pkgver = 0.108.0
	pkgrel = 1
	url = https://github.com/weaveworks/eksctl
	arch = x86_64
	license = Apache
	makedepends = go
	depends = kubectl
	depends = glibc
	source = https://github.com/weaveworks/eksctl/archive/0.108.0/eksctl-0.108.0.tar.gz
	sha256sums = 03a1b82b8890fa684c98d9df2cfb6ae7740ccf685fe516f9c7497ff73093ed0c
	b2sums = 312fb09602063bba019d65c48d66d3fabca340c51a0f0f6572129cf14d3ce77ac1e6e3ec58aa9384eb81de0f40a6c39fd80ab2ed2a43a6564692c31a07363fb2

pkgname = eksctl
