pkgbase = eksctl
	pkgdesc = Command line tool for creating clusters on Amazon EKS
	pkgver = 0.106.0
	pkgrel = 1
	url = https://github.com/weaveworks/eksctl
	arch = x86_64
	license = Apache
	makedepends = go
	depends = kubectl
	depends = glibc
	source = https://github.com/weaveworks/eksctl/archive/0.106.0/eksctl-0.106.0.tar.gz
	sha256sums = b6acc4936a550abd8994c2dd28b3c53430ccfb74d2a75db8d41107cd794db1b6
	b2sums = cabb9b696ab2a4b46fa0e0835e4428a270d193d0cf45ff8f945026b093e1371d057af66c6f6a30bcf2e5ef09715ec72a89c0626fe4f90f712d2ccb45985693f0

pkgname = eksctl
