pkgbase = python-sqlalchemy-continuum
	pkgdesc = Versioning and auditing extension for SQLAlchemy
	pkgver = 1.3.7
	pkgrel = 1
	url = https://github.com/kvesteri/sqlalchemy-continuum
	arch = any
	license = BSD
	checkdepends = sqlite
	checkdepends = python-pytest
	checkdepends = python-flexmock
	checkdepends = python-psycopg2
	checkdepends = python-mysql-connector
	checkdepends = python-six
	checkdepends = python-anyjson
	checkdepends = python-flask
	checkdepends = python-flask-login
	checkdepends = python-flask-sqlalchemy
	checkdepends = python-sqlalchemy-i18n
	makedepends = python-setuptools
	makedepends = python-sphinx
	depends = python
	depends = python-sqlalchemy
	depends = python-sqlalchemy-utils
	optdepends = python-flask: flask plugin
	optdepends = python-flask-login: flask plugin
	optdepends = python-flask-sqlalchemy: flask plugin
	optdepends = python-sqlalchemy-i18n: internationalization
	options = !makeflags
	source = python-sqlalchemy-continuum-1.3.7.tar.gz::https://github.com/kvesteri/sqlalchemy-continuum/archive/1.3.7.tar.gz
	sha512sums = f41017c8b5b5611b2a119d0b937d54bc4caa25d736ed0c3bbb48fb224a617c3cc5185d818ab12b77622b1586bb3312cc3673446e48c709c2e569a468b1379575

pkgname = python-sqlalchemy-continuum

