pkgbase = nimble
	pkgdesc = Package manager for the Nim programming language
	pkgver = 0.11.0
	pkgrel = 1
	epoch = 1
	url = https://github.com/nim-lang/nimble
	arch = x86_64
	license = BSD
	makedepends = nim
	depends = glibc
	depends = openssl
	source = https://github.com/nim-lang/nimble/archive/v0.11.0/nimble-0.11.0.tar.gz
	sha256sums = a31d06128f3d1014d68297aa5cd264023d202cae74746d78ba84e335af3399d2
	sha512sums = b396599554bb51a40774cdb5c90beab21e9cfef2683fd479fc925de4ae4f5c0d90e821f176b40cda241a3ad8542504cd552f97f2dca88ca32a4edeedbd422fa4

pkgname = nimble

