pkgbase = ruby-async-dns
	pkgdesc = Asynchronous DNS resolver and server
	pkgver = 1.2.4
	pkgrel = 1
	url = https://github.com/socketry/async-dns
	arch = any
	license = MIT
	depends = ruby
	depends = ruby-async-io
	options = !emptydirs
	source = https://github.com/socketry/async-dns/archive/v1.2.4/ruby-async-dns-1.2.4.tar.gz
	sha256sums = f288e22aadee0488829cceacc9badaab1aaca07623a54aaf9a0c95aff61997ef
	sha512sums = c2fc6cf2367c63bb72fb9c9934d261cf793043678d1f6ad9f6a327934e39645cfb7ab4f8dd98ab6739627fa63c58f573538edefd18186a7dbc87f89336354628

pkgname = ruby-async-dns

