pkgbase = python-multidict
	pkgdesc = Asyncio-based multidict implementation for Python
	pkgver = 3.2.0
	pkgrel = 1
	url = https://github.com/aio-libs/multidict
	arch = i686
	arch = x86_64
	license = APACHE
	checkdepends = python-pytest
	checkdepends = python-psutil
	makedepends = cython
	makedepends = python-setuptools
	depends = python
	depends = glibc
	source = python-multidict-3.2.0.tar.gz::https://github.com/aio-libs/multidict/archive/v3.2.0.tar.gz
	sha256sums = cefa2da44fea2248c967a2de5ac4cb5a17dfe23a19118c40bf99204b3fb848b7
	sha512sums = 20a127706eaecbaafd19953625aef9dbee4dfddca3a74f5972d6ff0fb3e1a3c0e336a5b305b4b4dd1cf0c447835f362e363445d51c5b311c5db6035a232fad70

pkgname = python-multidict

