pkgbase = python-multidict
	pkgdesc = Asyncio-based multidict implementation for Python
	pkgver = 4.5.1
	pkgrel = 1
	url = https://github.com/aio-libs/multidict
	arch = x86_64
	license = APACHE
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	checkdepends = python-pytest-runner
	checkdepends = python-psutil
	checkdepends = python-perf
	makedepends = cython
	makedepends = python-setuptools
	depends = python
	depends = glibc
	source = python-multidict-4.5.1.tar.gz::https://github.com/aio-libs/multidict/archive/v4.5.1.tar.gz
	sha256sums = fa065dbb3b7de377973d9c193c5b67618d012f337c57a5c3998ee3da325fcd02
	sha512sums = a497279cb28c80523965668ff434eafb471d4612355823540de18c791d98b41be2f55843bba1a799d30b5110c7234393932bee39b1469fdbfc82ae3c4391c57d

pkgname = python-multidict

