pkgbase = python-multidict
	pkgdesc = Asyncio-based multidict implementation for Python
	pkgver = 4.4.0
	pkgrel = 1
	url = https://github.com/aio-libs/multidict
	arch = x86_64
	license = APACHE
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	checkdepends = python-pytest-runner
	checkdepends = python-psutil
	checkdepends = python-perf
	makedepends = cython
	makedepends = python-setuptools
	depends = python
	depends = glibc
	source = python-multidict-4.4.0.tar.gz::https://github.com/aio-libs/multidict/archive/v4.4.0.tar.gz
	sha256sums = d2346c1ee53b352f3e51e80c14400853d13a32c01c497375ded16082fde97211
	sha512sums = 87350e298b2f9ccea08d884d41404fac7b47c5818ebb76059680e69df77dce05f6d2d18b24872ef5c846a383b7a81e0c36f44c69f19ff3d4f14881a4f88fb048

pkgname = python-multidict

