pkgbase = ruby-jekyll-sass-converter
	pkgdesc = Sass converter for Jekyll
	pkgver = 2.2.0
	pkgrel = 1
	url = https://github.com/jekyll/jekyll-sass-converter
	arch = any
	license = MIT
	depends = ruby
	depends = ruby-rdoc
	depends = ruby-sassc
	options = !emptydirs
	source = ruby-jekyll-sass-converter-2.2.0.tar.gz::https://github.com/jekyll/jekyll-sass-converter/archive/v2.2.0.tar.gz
	sha512sums = 2704defb5ded854afb3620e876045e222e3f4bf03344f9a060fcfc0b1f2e6bebfef776aff69e592ba8484516060d4c5a75499fc343fcab5f9c96cc2f6658f344

pkgname = ruby-jekyll-sass-converter
