pkgbase = ruby-jekyll-sass-converter
	pkgdesc = Sass converter for Jekyll
	pkgver = 2.1.0
	pkgrel = 2
	url = https://github.com/jekyll/jekyll-sass-converter
	arch = any
	license = MIT
	depends = ruby
	depends = ruby-rdoc
	depends = ruby-sassc
	options = !emptydirs
	source = ruby-jekyll-sass-converter-2.1.0.tar.gz::https://github.com/jekyll/jekyll-sass-converter/archive/v2.1.0.tar.gz
	sha512sums = 336420ee5cf099af94c6f6d9a1cf5bae971f4720f625040f722f502acf05b94e17fdfaac4ccab8b1e58768b653df6c4640dfc835a6425a56a41ddfe709e7009d

pkgname = ruby-jekyll-sass-converter

