pkgbase = ruby-pg
	pkgdesc = Ruby interface to the PostgreSQL RDBMS
	pkgver = 1.2.3
	pkgrel = 1
	url = https://github.com/ged/ruby-pg
	arch = x86_64
	license = custom:BSDL
	depends = ruby
	depends = ruby-rspec-core
	depends = postgresql-libs
	options = !emptydirs
	source = ruby-pg-1.2.3.tar.gz::https://github.com/ged/ruby-pg/archive/v1.2.3.tar.gz
	b2sums = 27249d2916bdf3707d485a2ccebd582a6e8a9231501027b400bd9a4a540392e4428b4ec55e2e42d16be909ad80a8b45e5cef10973f2e95904160a9170314cb65

pkgname = ruby-pg
