pkgbase = libedit
	pkgdesc = Command line editor library providing generic line editing, history, and tokenization functions
	pkgver = 20210216_3.1
	pkgrel = 1
	url = https://thrysoee.dk/editline/
	arch = x86_64
	license = BSD
	depends = glibc
	depends = ncurses
	depends = libncursesw.so
	provides = libedit.so
	source = https://thrysoee.dk/editline//libedit-20210216-3.1.tar.gz
	sha256sums = 2283f741d2aab935c8c52c04b57bf952d02c2c02e651172f8ac811f77b1fc77a
	b2sums = 4b29f08ddccd77148c7ae810c3c4e378f6eab4b6d2c530f21aa9c0da1bc156d646bac6404408510639c34298ef3583fd7f2bde5051c0dac8b3a125e2659d8412

pkgname = libedit

