pkgbase = libedit
	pkgdesc = Command line editor library providing generic line editing, history, and tokenization functions
	pkgver = 20210714_3.1
	pkgrel = 1
	url = https://thrysoee.dk/editline/
	arch = x86_64
	license = BSD
	depends = glibc
	depends = ncurses
	depends = libncursesw.so
	provides = libedit.so
	source = https://thrysoee.dk/editline//libedit-20210714-3.1.tar.gz
	sha256sums = 3023b498ad593fd7745ae3b20abad546de506b67b8fbb5579637ca69ab82dbc9
	b2sums = e2559e85151ce21e97caf008b96d07a6432d3b1b243cd9b08636bb3a44db68b2aa406f33c165d279bd07745d1e69531f6daa4ac362f3299c035b0dbe4724be8a

pkgname = libedit
