pkgbase = ccache
	pkgdesc = Compiler cache that speeds up recompilation by caching previous compilations
	pkgver = 4.5.1
	pkgrel = 1
	url = https://ccache.dev/
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = asciidoctor
	makedepends = perl
	depends = glibc
	depends = gcc-libs
	depends = hiredis
	depends = zstd
	depends = libzstd.so
	source = https://github.com/ccache/ccache/releases/download/v4.5.1/ccache-4.5.1.tar.xz
	source = https://github.com/ccache/ccache/releases/download/v4.5.1/ccache-4.5.1.tar.xz.asc
	validpgpkeys = 5A939A71A46792CF57866A51996DDA075594ADB8
	sha512sums = 267dcc6b41270eeffe029d13e58eca3399540037cc19dc58bb5ebeb7dcc51b201fbde91c9824eaee5b14fbf28bb7304b78d1340118bc72e56b80ff148575bc56
	sha512sums = SKIP
	b2sums = 637b6d36c169bc742efd165569879a47405c2884918ed3731186e8176c926fa0e8e9cd648756d501ae3b741c671e2399cfdb0bc216410bc64826d4fe00d69498
	b2sums = SKIP

pkgname = ccache
