pkgbase = ccache
	pkgdesc = Compiler cache that speeds up recompilation by caching previous compilations
	pkgver = 3.7.4
	pkgrel = 1
	url = https://ccache.samba.org/
	arch = x86_64
	license = GPL3
	depends = zlib
	source = https://github.com/ccache/ccache/releases/download/v3.7.4/ccache-3.7.4.tar.xz
	source = https://github.com/ccache/ccache/releases/download/v3.7.4/ccache-3.7.4.tar.xz.asc
	validpgpkeys = 5A939A71A46792CF57866A51996DDA075594ADB8
	sha256sums = 04c0af414b8cf89e541daed59735547fbfd323b1aaa983da0216f6b6731e6836
	sha256sums = SKIP
	sha512sums = cc382f37f7efb30a64f6fc2b136ef7424fe51795a778dbb18dde7c9e80636515f242f51c3ef3231f74d154e65ed9e815abf8241eb1a8f4e0b4fe4f533ea27146
	sha512sums = SKIP

pkgname = ccache

