pkgbase = xmonad-contrib
	pkgdesc = Add-ons for xmonad
	pkgver = 0.13
	pkgrel = 7
	url = http://xmonad.org/
	arch = x86_64
	license = BSD
	makedepends = ghc
	depends = ghc-libs
	depends = xmonad
	depends = sh
	depends = haskell-x11
	depends = haskell-x11-xft
	depends = haskell-utf8-string
	depends = haskell-random
	depends = haskell-old-time
	source = xmonad-contrib-0.13.tar.gz::https://github.com/xmonad/xmonad-contrib/archive/v0.13.tar.gz
	sha512sums = d8cc89184edd3fdc531f28de2f94a3b3c57522494dd5f1c1c899c81fbd5c0a8211777ee9b5618932f069fc025894e39e049113b7d271f13c3e3f8d21ffc566e6

pkgname = xmonad-contrib

