pkgbase = xmonad-contrib
	pkgdesc = Add-ons for xmonad
	pkgver = 0.13.20180518
	pkgrel = 1
	url = http://xmonad.org/
	arch = x86_64
	license = BSD
	makedepends = ghc
	depends = ghc-libs
	depends = xmonad
	depends = sh
	depends = haskell-x11
	depends = haskell-x11-xft
	depends = haskell-utf8-string
	depends = haskell-random
	depends = haskell-old-time
	source = xmonad-contrib-d3d0818e9b9ef6e270b1b0e8c0e6ac683274da80.tar.gz::https://github.com/xmonad/xmonad-contrib/archive/d3d0818e9b9ef6e270b1b0e8c0e6ac683274da80.tar.gz
	sha512sums = 5efeb94294a50ab35b8eee255edadbc788b941f504f7a6b0317344cabc8b29ce370c83f56b935fb63cbe4176aa8100bed91e867666ec48bb68df80c703f9edde

pkgname = xmonad-contrib

