pkgbase = librabbitmq-c
	pkgdesc = RabbitMQ(amqp) library written in C-language
	pkgver = 0.11.0
	pkgrel = 2
	url = https://github.com/alanxz/rabbitmq-c
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = docbook-xsl
	makedepends = doxygen
	makedepends = xmlto
	makedepends = ninja
	depends = popt
	depends = openssl
	source = https://github.com/alanxz/rabbitmq-c/archive/v0.11.0/librabbitmq-c-0.11.0.tar.gz
	sha512sums = 0c3dbb6e2b862e9f25e3f76df798ea272bbd81de2865950b95adf1f1e5791eb20d7c9d5a76cb7d2fda54bad5f12bdf69cbfa7e9fd1afdede6f9ec729ca2287de
	b2sums = dce862d132d4bca010dbc284957f34a35d55407ea0eb4fb79369f699207c01cc7ed64c1bd58bea2d1178bd2c02176c3e93b66177fc975175b1da9ab9baaf661f

pkgname = librabbitmq-c
