pkgbase = uutils-coreutils
	pkgdesc = Cross-platform Rust rewrite of the GNU coreutils
	pkgver = 0.0.12
	pkgrel = 1
	url = https://github.com/uutils/coreutils
	arch = x86_64
	license = MIT
	makedepends = rust
	makedepends = cargo
	makedepends = python-sphinx
	depends = glibc
	depends = gcc-libs
	options = !lto
	source = uutils-coreutils-0.0.12.tar.gz::https://github.com/uutils/coreutils/archive/0.0.12.tar.gz
	source = tests.patch
	sha512sums = 9c78c1ffe8495e95ddb07ce104f68e48dc7ed0d5c156f9095a579b4a27fafbded276314b2a3a239dac693aa0e9bde9bfda6513dcf30ddb17c1925cea27a4578f
	sha512sums = 1a84aefb95cf6d4ae7582948c5ab3c357269dcd5b2261006b006f7a1b37d3d2a336c47479ab98a390661ee376b9813408af849a91ba0f2bd2493c6a680e07f2a

pkgname = uutils-coreutils
