pkgbase = python-werkzeug
	pkgdesc = Swiss Army knife of Python web development
	pkgver = 2.1.0
	pkgrel = 2
	url = https://werkzeug.palletsprojects.com/
	arch = any
	license = custom:BSD
	checkdepends = python-pytest
	checkdepends = python-pytest-timeout
	checkdepends = python-pytest-xprocess
	checkdepends = python-requests
	checkdepends = python-ephemeral-port-reserve
	checkdepends = python-greenlet
	checkdepends = python-watchdog
	checkdepends = python-cryptography
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	source = https://github.com/pallets/werkzeug/archive/2.1.0/python-werkzeug-2.1.0.tar.gz
	sha512sums = acda1e4037e1d525cbd82ed2310ddf55968d14df6656018b910d7200b51569e88cf58957f94f377deb7fe100db03d30016e9dc91e033a298ad54cb34922be30e

pkgname = python-werkzeug
