pkgbase = python-sphinx-autodoc-typehints
	pkgdesc = Type hints support for the Sphinx autodoc extension
	pkgver = 1.12.0
	pkgrel = 1
	url = https://github.com/agronholm/sphinx-autodoc-typehints
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-sphobjinv
	makedepends = git
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	depends = python
	depends = python-sphinx
	depends = python-typing_extensions
	source = git+https://github.com/agronholm/sphinx-autodoc-typehints#commit=1b85ff5306f02985ab00c73b41504bb5b17943eb
	source = python-3.10.patch
	sha512sums = SKIP
	sha512sums = c5fca0339d1ad2e0226006396c7e39f66e71d02e11dd883f8e4ee2c195293cf54afa8e13ef0164e7249ee9d8a296314b5c7ad4d707688855838cd4e3de1bba44

pkgname = python-sphinx-autodoc-typehints
