pkgbase = mypaint-brushes
	pkgdesc = Brushes used by MyPaint and other software using libmypaint
	pkgver = 2.0.1
	pkgrel = 1
	url = https://github.com/mypaint/mypaint-brushes
	arch = any
	license = custom:CC0
	depends = libmypaint
	source = https://github.com/mypaint/mypaint-brushes/archive/v2.0.1/mypaint-brushes-2.0.1.tar.gz
	sha256sums = 5572c849c3cf01c33bceddb97f9ced55a219265738a46e406ddb5220ac59e22a
	sha512sums = 9dfaea56f6f1383cb3405afd05e339c00bad5e5bf383a9176cf24135899930bc719ff62787f1c6882c6b295440214dfc17815f81c043154cf9389756b8e85b65

pkgname = mypaint-brushes

