pkgbase = ruby-nio4r
	pkgdesc = Abstract, cross-platform stateful I/O selector API for Ruby
	pkgver = 2.5.2
	pkgrel = 2
	url = https://github.com/celluloid/nio4r
	arch = x86_64
	license = MIT
	makedepends = ruby-rdoc
	depends = ruby
	options = !emptydirs
	source = https://github.com/celluloid/nio4r/archive/v2.5.2/ruby-nio4r-2.5.2.tar.gz
	sha256sums = f8a3e12f51c2ee01644f5ebb5e33795be8ece6dd9345bf5fc1ab6d0a72f5118b
	sha512sums = 4188be15b674e65373c056bdf86ee7dc71ebbabf1e0a3eb5a10edfbe0dfe761c5cba6e89c4a0fc822037901c7e83831c26682770129e023ab9223a6467b9e83c

pkgname = ruby-nio4r

