pkgbase = python-pyaxmlparser
	pkgdesc = Parser for Android XML file and get Application Name without using Androguard
	pkgver = 0.3.28
	pkgrel = 1
	url = https://github.com/appknox/pyaxmlparser
	arch = any
	license = Apache
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-lxml
	depends = python-click
	depends = python-asn1crypto
	depends = python-magic
	source = https://github.com/appknox/pyaxmlparser/archive/v0.3.28/python-pyaxmlparser-0.3.28.tar.gz
	sha512sums = ede5d9821ceb71b121731462830252eade8114b9f3fb3cd1d767072f0b0a5d50764ad8d97dbacaf1cbfacd323b7aae52968bd63217beaa6290a4be442682c397
	b2sums = 8b04b2e635d87501f909d592c696613b66fb33ca4fbaaa6b6b914aed7eacb5233085eb45a76f7fda440e802c972ec86682036eea53f6d87989b1bf44b0336c33

pkgname = python-pyaxmlparser
