pkgbase = nvidia-settings
	pkgdesc = Tool for configuring the NVIDIA graphics driver
	pkgver = 387.12
	pkgrel = 1
	url = https://github.com/NVIDIA/nvidia-settings
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = git
	makedepends = inetutils
	makedepends = gtk2
	makedepends = jansson
	makedepends = gtk3
	makedepends = libxv
	makedepends = libvdpau
	makedepends = nvidia-utils
	makedepends = libxext
	options = staticlibs
	source = nvidia-settings-387.12.tar.gz::https://github.com/NVIDIA/nvidia-settings/archive/387.12.tar.gz
	source = libxnvctrl_so.patch
	sha512sums = d21b93758300080c1c9de945b138402ac0e5a914a05d8691f8aa8bdce47d15b06b623ffdf1edd6794fa2698f56d4c02d049638d4de213c43fab4e91b26fc4de7
	sha512sums = f69f5dc84fe624579a3c9ce877f4ae4e34c2184877576afbea07b8abdd7ff01e470517f2b77cd11a904518cbcb83fb388ca1d08888006f0ef2854723920c9cf8

pkgname = nvidia-settings
	depends = jansson
	depends = gtk3
	depends = libxv
	depends = libvdpau
	depends = nvidia-utils
	depends = libxnvctrl

pkgname = libxnvctrl
	pkgdesc = NVIDIA NV-CONTROL X extension
	depends = libxext

