pkgbase = nvidia-settings
	pkgdesc = Tool for configuring the NVIDIA graphics driver
	pkgver = 418.56
	pkgrel = 1
	url = https://github.com/NVIDIA/nvidia-settings
	arch = x86_64
	license = GPL2
	makedepends = git
	makedepends = inetutils
	makedepends = gtk2
	makedepends = jansson
	makedepends = gtk3
	makedepends = libxv
	makedepends = libvdpau
	makedepends = nvidia-utils
	makedepends = libxext
	options = staticlibs
	source = nvidia-settings-418.56.tar.gz::https://github.com/NVIDIA/nvidia-settings/archive/418.56.tar.gz
	source = libxnvctrl_so.patch
	sha512sums = 06dbd423ae57cf165fd392386cecd89671a7cf63642d4824d9ad62bc731e0a4aa63afae0aa7b6e06397b65f7d6d7f703c29c95dd06088b219a929580cf21f0aa
	sha512sums = f69f5dc84fe624579a3c9ce877f4ae4e34c2184877576afbea07b8abdd7ff01e470517f2b77cd11a904518cbcb83fb388ca1d08888006f0ef2854723920c9cf8

pkgname = nvidia-settings
	depends = jansson
	depends = gtk3
	depends = libxv
	depends = libvdpau
	depends = nvidia-utils
	depends = libxnvctrl

pkgname = libxnvctrl
	pkgdesc = NVIDIA NV-CONTROL X extension
	depends = libxext

