pkgbase = ruby-kramdown
	pkgdesc = Fast, pure Ruby Markdown superset converter, using a strict syntax definition
	pkgver = 1.16.2
	pkgrel = 2
	url = https://kramdown.gettalong.org/
	arch = any
	license = MIT
	depends = ruby
	options = !emptydirs
	source = ruby-kramdown-1.16.2.tar.gz::https://github.com/gettalong/kramdown/archive/REL_1_16_2.tar.gz
	sha256sums = 28f3e9ec689aa15334f2b027f890e55c6196fc974015e4c8f27f4a4312a8d0cb
	sha512sums = 789e2eff48d4f4a613432ffb165d6a82134cf4bd49a03c4030a246f6835580a536a36c86f23206671b3dde049de1bc2ca55ca9947c9e9f2b179fd9a59f4f91f1

pkgname = ruby-kramdown

