pkgbase = cjdns
	pkgdesc = Routing engine designed for security, scalability, speed and ease of use
	pkgver = 20
	pkgrel = 2
	url = https://github.com/cjdelisle/cjdns
	install = cjdns.install
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = nodejs
	makedepends = python2
	depends = glibc
	depends = sh
	optdepends = nodejs: optional utilities support
	source = cjdns-20.tar.gz::https://github.com/cjdelisle/cjdns/archive/cjdns-v20.tar.gz
	source = 1107.patch
	sha256sums = e8c849fca47012412c640969f09a44300010ef5e9649e08a0d39f87795d124f5
	sha256sums = 0af8770c9b9948cb90fe9b4823a4abed4db9b72f6e13a26435000a4ea6cad732

pkgname = cjdns

