pkgbase = cjdns
	pkgdesc = Routing engine designed for security, scalability, speed and ease of use
	pkgver = 20
	pkgrel = 2
	url = https://github.com/cjdelisle/cjdns
	install = cjdns.install
	arch = x86_64
	license = GPL3
	makedepends = nodejs
	makedepends = python2
	depends = glibc
	depends = sh
	optdepends = nodejs: optional utilities support
	source = cjdns-20.tar.gz::https://github.com/cjdelisle/cjdns/archive/cjdns-v20.tar.gz
	source = 1107.patch
	sha512sums = afa63daea3c3bd3e16dd0a326ebdc2afcb411c595e66552c3156c59c36af21c0b2278b3299b1053b98d381790311beeb14547afdf3d182170c446867d2199a94
	sha512sums = 3ad5bd71b706a99a429b54d3fe2241c21c0fb417a76df27b30db46e8c6fec22d952c1a1643bac2540f79a3790fd2cc1177fd4c1fe8562df86623fb6d64bc5d68

pkgname = cjdns

