pkgbase = smplayer
	pkgdesc = Media player with built-in codecs that can play virtually all video and audio formats
	pkgver = 17.2.0
	pkgrel = 1
	url = http://smplayer.sourceforge.net/
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = qt5-tools
	depends = qt5-script
	depends = mpv
	depends = hicolor-icon-theme
	optdepends = smplayer-themes: icon themes collection
	optdepends = smplayer-skins: skin themes collection
	optdepends = smtube: browse and play youtube videos
	optdepends = youtube-dl: youtube videos and streaming
	optdepends = mplayer: alternative multimedia engine
	source = https://downloads.sourceforge.net/smplayer/smplayer-17.2.0.tar.bz2
	sha512sums = dbe22c5bf7da4d4635b0d47837d3e03c12cea40ec4fbca58009567995547c4a065d35feb149d7ff3f799604f3107527ce4e1f564d860161ada84b499cb42d9c8

pkgname = smplayer

