pkgbase = smplayer
	pkgdesc = Media player with built-in codecs that can play virtually all video and audio formats
	pkgver = 19.1.0
	pkgrel = 1
	url = https://www.smplayer.info/
	arch = x86_64
	license = GPL
	makedepends = qt5-tools
	depends = qt5-script
	depends = mpv
	depends = hicolor-icon-theme
	depends = libx11
	depends = zlib
	depends = gcc-libs
	optdepends = smplayer-themes: icon themes collection
	optdepends = smplayer-skins: skin themes collection
	optdepends = smtube: browse and play youtube videos
	optdepends = youtube-dl: youtube videos and streaming
	optdepends = mplayer: alternative multimedia engine
	source = https://downloads.sourceforge.net/smplayer/smplayer-19.1.0.tar.bz2
	sha256sums = 7a483d24c928fa51e8d48322cfd7d747fa5bf6cf587505d29a44c256abb64360
	sha512sums = aee009f0ff6dcfe8e5b0b80c99d44c41a02c34d7974c1a15b21235e3daaf3142f5c936adb043327804412309b88e0ff8f0ef440c1835541adb6bf703d486ff79

pkgname = smplayer

