pkgbase = smplayer
	pkgdesc = Media player with built-in codecs that can play virtually all video and audio formats
	pkgver = 18.2.2
	pkgrel = 1
	url = https://www.smplayer.info/
	arch = x86_64
	license = GPL
	makedepends = qt5-tools
	depends = qt5-script
	depends = mpv
	depends = hicolor-icon-theme
	depends = libx11
	depends = zlib
	depends = gcc-libs
	optdepends = smplayer-themes: icon themes collection
	optdepends = smplayer-skins: skin themes collection
	optdepends = smtube: browse and play youtube videos
	optdepends = youtube-dl: youtube videos and streaming
	optdepends = mplayer: alternative multimedia engine
	source = https://downloads.sourceforge.net/smplayer/smplayer-18.2.2.tar.bz2
	sha256sums = 3ac276da3438140151baea3938bb17a6a5e44d1bd805375f81d1fc410c4e1560
	sha512sums = 47ce8dd2b59f182e7826c5e7b8193111889441dc7d5145ed8c4df21137625cbe67da7a991d4121d41453127d1413535efbc0d6197d514a03885d652606610275

pkgname = smplayer

