pkgbase = python-perf
	pkgdesc = Toolkit to run Python benchmarks
	pkgver = 2.3.0
	pkgrel = 1
	url = https://github.com/haypo/perf
	arch = any
	license = MIT
	makedepends = python
	makedepends = python-setuptools
	makedepends = python-six
	depends = python
	depends = python-setuptools
	depends = python-six
	source = python-perf-2.3.0.tar.gz::https://github.com/vstinner/perf/archive/2.3.0.tar.gz
	sha256sums = b86fca9733edd35709cf09fbdf4e3f093b35121e9ba9bb2a319ecf2780a04dd0
	sha512sums = 905e61fee8a6d635d4ad965888409dfeb4e6ceeac42c88d7ce2719adc4ae10210c1d700dad1fccc469ac589114e5e8052bd0ca2da4203a5e7efbdc3fa0d97dd5

pkgname = python-perf
