pkgbase = powerdns
	pkgdesc = Authoritative DNS server
	pkgver = 4.0.5
	pkgrel = 3
	url = http://www.powerdns.com/
	arch = x86_64
	license = GPL2
	makedepends = boost
	makedepends = setconf
	makedepends = libmariadbclient
	makedepends = postgresql-libs
	makedepends = lua
	makedepends = libldap
	makedepends = sqlite
	makedepends = geoip
	makedepends = yaml-cpp
	makedepends = pkg-config
	depends = boost-libs
	depends = libsodium
	depends = systemd
	depends = lua
	depends = openssl
	depends = protobuf
	depends = sqlite
	optdepends = libmariadbclient: MariaDB/MySQL backend
	optdepends = postgresql-libs: PostgreSQL backend
	optdepends = libldap: LDAP backend
	optdepends = geoip: GeoIP backend
	optdepends = yaml-cpp: GeoIP backend
	provides = pdns
	conflicts = pdns
	backup = etc/powerdns/pdns.conf
	source = https://downloads.powerdns.com/releases/pdns-4.0.5.tar.bz2
	source = https://downloads.powerdns.com/releases/pdns-4.0.5.tar.bz2.asc
	validpgpkeys = B76CD4671C0968BAA87DE61C5E50715BF2FFE1A7
	validpgpkeys = 16E12866B7738C73976A57436FFC33439B0D04DF
	sha512sums = 4b0fa932c1d9caf35b988916447aa21c64ebe2a58bdd84417cf09321a21b264cf1057206dc6993a45a3b591eb1dfa49463710c06b6bdfaf6fb17ae6dec6086d9
	sha512sums = SKIP

pkgname = powerdns

