pkgbase = powerdns
	pkgdesc = Authoritative DNS server
	pkgver = 4.0.3
	pkgrel = 1
	url = http://www.powerdns.com/
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = boost
	makedepends = setconf
	makedepends = libmariadbclient
	makedepends = postgresql-libs
	makedepends = lua
	makedepends = libldap
	makedepends = sqlite
	makedepends = geoip
	makedepends = yaml-cpp
	makedepends = pkg-config
	depends = boost-libs
	depends = libsodium
	depends = systemd
	depends = lua
	depends = openssl
	depends = protobuf
	depends = sqlite
	optdepends = libmariadbclient: MariaDB/MySQL backend
	optdepends = postgresql-libs: PostgreSQL backend
	optdepends = libldap: LDAP backend
	optdepends = geoip: GeoIP backend
	optdepends = yaml-cpp: GeoIP backend
	provides = pdns
	conflicts = pdns
	backup = etc/powerdns/pdns.conf
	source = https://downloads.powerdns.com/releases/pdns-4.0.3.tar.bz2
	source = https://downloads.powerdns.com/releases/pdns-4.0.3.tar.bz2.asc
	source = fix-4.0.3-tests.patch
	validpgpkeys = B76CD4671C0968BAA87DE61C5E50715BF2FFE1A7
	sha512sums = 58d33ac6cf457a916bae6abd8d2dc17f76fbcd1bd9e649948584dd669f5596b43e3e4d91841700ea1ea2cd1ac102749e503cd9075273540f33a2321e20d8bfc2
	sha512sums = SKIP
	sha512sums = 9f6b3d794495c21280f1077b644dd6ecc10112823806c9a4db9b0819445e6450eb1a874c95199e918b7a1ad09e83192cc09d3ecf02d11b7da7488e6e03c3810a

pkgname = powerdns

