pkgbase = powerdns
	pkgdesc = Authoritative DNS server
	pkgver = 4.6.0
	pkgrel = 1
	url = https://www.powerdns.com/
	arch = x86_64
	license = GPL2
	makedepends = boost
	makedepends = geoip
	makedepends = libldap
	makedepends = mariadb-libs
	makedepends = curl
	makedepends = libmaxminddb
	makedepends = postgresql-libs
	makedepends = systemd
	makedepends = tinycdb
	makedepends = unixodbc
	makedepends = yaml-cpp
	depends = boost-libs
	depends = gnutls
	depends = libcurl.so
	depends = libsodium
	depends = lmdb
	depends = luajit
	depends = openssl
	depends = sqlite
	depends = systemd-libs
	optdepends = geoip: GeoIP backend
	optdepends = mariadb-libs: MariaDB/MySQL and MyDNS backend
	optdepends = libldap: LDAP backend
	optdepends = libmaxminddb: MaxMindDB GeoIP2 database for the GeoIP backend
	optdepends = postgresql-libs: PostgreSQL backend
	optdepends = unixodbc: ODBC backend
	optdepends = tinycdb: TinyDNS backend
	optdepends = yaml-cpp: GeoIP backend
	provides = pdns
	conflicts = pdns
	backup = etc/powerdns/pdns.conf
	source = https://downloads.powerdns.com/releases/pdns-4.6.0.tar.bz2
	source = https://downloads.powerdns.com/releases/pdns-4.6.0.tar.bz2.asc
	source = openssl-3.0.patch::https://patch-diff.githubusercontent.com/raw/PowerDNS/pdns/pull/11233.diff
	source = sysusers.conf
	validpgpkeys = B76CD4671C0968BAA87DE61C5E50715BF2FFE1A7
	validpgpkeys = 16E12866B7738C73976A57436FFC33439B0D04DF
	validpgpkeys = FBAE0323821C7706A5CA151BDCF513FA7EED19F3
	sha512sums = bbe64ad01fed0ea93cec90d47b2fe71228b9298999f14456dd4b5617929c0e370b5b7cb568deeb17cbf3fd42873bb8c986e655ddda8c7b93b4591361ddef2397
	sha512sums = SKIP
	sha512sums = f180ae8111244f3a0faf884f6f5997b1fcef0eefa30c154d7d44bd2948acdfd742cb4e2410f0855579f36c02e39a3afab6966661d4201400ebc191c5b669d86e
	sha512sums = 522bde8b76367db6edd461fca8f81d50304a4d764addf33774b3e2c5c93a9e72d93993f54ddd4ee887ceeccf70280aceea3ffaf6370d26310e0a7ebbbf61f26a

pkgname = powerdns
