pkgbase = vim-nerdtree
	pkgdesc = Tree explorer plugin for navigating the filesystem
	pkgver = 6.7.5
	pkgrel = 1
	url = https://github.com/scrooloose/nerdtree
	arch = any
	groups = vim-plugins
	license = custom:WTFPL
	depends = vim
	source = https://github.com/scrooloose/nerdtree/archive/6.7.5/vim-nerdtree-6.7.5.tar.gz
	sha512sums = 0720c0b62904ff7e0cbafb650680746332369e456c0c4c316b3757e2a8f99eec054c61b3db4adf156aa7851db30f72a57a4d1acca6ab1a2e625ba0a8b8f4acb6

pkgname = vim-nerdtree

