pkgbase = vim-nerdtree
	pkgdesc = Tree explorer plugin for navigating the filesystem
	pkgver = 6.9.7
	pkgrel = 1
	url = https://github.com/scrooloose/nerdtree
	arch = any
	groups = vim-plugins
	license = custom:WTFPL
	depends = vim
	source = https://github.com/scrooloose/nerdtree/archive/6.9.7/vim-nerdtree-6.9.7.tar.gz
	sha512sums = 99ece2c20fd40e3648da03b350a809dd3bfe2d41230bf14ad924d9a3cb6e34bbed1a8a2e06e873f2212ce7180b456d3a212c8c2e790d6762023a46c684b759db

pkgname = vim-nerdtree

