pkgbase = python-service_identity
	pkgdesc = Service Identity Verification for Python
	pkgver = 18.1.0
	pkgrel = 2
	url = https://service-identity.readthedocs.io/
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python2-pytest
	makedepends = python
	makedepends = python-setuptools
	makedepends = python-attrs
	makedepends = python-pyasn1
	makedepends = python-pyasn1-modules
	makedepends = python-idna
	makedepends = python-sphinx
	makedepends = python2
	makedepends = python2-setuptools
	makedepends = python2-attrs
	makedepends = python2-pyasn1
	makedepends = python2-pyasn1-modules
	makedepends = python2-idna
	makedepends = python2-sphinx
	source = python-service_identity-18.1.0.tar.gz::https://github.com/pyca/service_identity/archive/18.1.0.tar.gz
	sha512sums = 0d1abf6ba1e725e923171fd3b809b2cf7ba757ca47f773e8c99a2e2265425b253549609c76955c4d67fcd2fd305d479a1d7541cb26811e94db26ab853d3d3441

pkgname = python-service_identity
	depends = python
	depends = python-attrs
	depends = python-pyasn1
	depends = python-pyasn1-modules
	depends = python-idna

pkgname = python2-service_identity
	depends = python2
	depends = python2-attrs
	depends = python2-pyasn1
	depends = python2-pyasn1-modules
	depends = python2-idna

