pkgbase = boost
	pkgver = 1.67.0
	pkgrel = 2
	url = http://www.boost.org/
	arch = x86_64
	license = custom
	makedepends = icu
	makedepends = python
	makedepends = python2
	makedepends = python-numpy
	makedepends = python2-numpy
	makedepends = bzip2
	makedepends = zlib
	makedepends = openmpi
	source = https://downloads.sourceforge.net/project/boost/boost/1.67.0/boost_1_67_0.tar.bz2
	source = 776.patch
	sha256sums = 2684c972994ee57fc5632e03bf044746f6eb45d4920c343937a465fd67a5adba
	sha256sums = 43cdc2081f90d2acc7e4d9de6689bce07b2a1b4754e85dc7fa50872afa330ffa

pkgname = boost-libs
	pkgdesc = Free peer-reviewed portable C++ source libraries - runtime libraries
	depends = bzip2
	depends = zlib
	depends = icu
	optdepends = openmpi: for mpi support
	provides = libboost_context.so

pkgname = boost
	pkgdesc = Free peer-reviewed portable C++ source libraries - development headers
	depends = boost-libs=1.67.0
	optdepends = python: for python bindings
	optdepends = python2: for python2 bindings
	options = staticlibs

