pkgbase = teamspeak3-server
	pkgdesc = TeamSpeak is software for quality voice communication via the Internet (server)
	pkgver = 3.13.7
	pkgrel = 1
	url = https://www.teamspeak.com/en/
	install = teamspeak3-server.install
	arch = x86_64
	license = custom
	depends = glibc
	depends = gcc-libs
	optdepends = mariadb-connector-c: MariaDB backend
	optdepends = postgresql-libs: PostgreSQL backend
	backup = etc/teamspeak3-server.ini
	backup = etc/tsdns_settings.ini
	source = teamspeak3-server.ini
	source = teamspeak3-server.service
	source = PERMISSION.eml
	sha256sums = a5ec72d7b8b199e37fc2277d68ef470a6a441e1f964c77f46f0c82d4b586ce6d
	sha256sums = 73c38a5e70caf042a5997ae831e33be7ba83e5c31ccca01c257c929569149acd
	sha256sums = 98e3331a803ce0ff85500a3908a61fe105d47ea3c31affc2f605d8385315ca5b
	source_x86_64 = https://files.teamspeak-services.com/releases/server/3.13.7/teamspeak3-server_linux_amd64-3.13.7.tar.bz2
	sha256sums_x86_64 = 775a5731a9809801e4c8f9066cd9bc562a1b368553139c1249f2a0740d50041e

pkgname = teamspeak3-server
