pkgbase = hashcat
	pkgdesc = Multithreaded advanced password recovery utility
	pkgver = 3.10
	pkgrel = 1
	url = https://hashcat.net/hashcat
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = opencl-headers
	depends = gmp
	depends = libcl
	optdepends = libxnvctrl: NVIDIA X driver configuration support
	optdepends = opencl-nvidia: OpenCL support for NVIDIA
	optdepends = opencl-mesa: OpenCL support for AMD/ATI Radeon mesa drivers
	source = hashcat-3.10.tar.gz::https://github.com/hashcat/hashcat/archive/v3.10.tar.gz
	source = hashcat-3.10.tar.gz.asc::https://hashcat.net/files/hashcat-3.10.tar.gz.asc
	validpgpkeys = A70833229D040B4199CC00523C17DA8B8A16544F
	sha512sums = 2adf16513118b91085fe587c53b15f142abb7673f659b2721dcba8aacdac6f024b65e7b50b916f86c161c21e98eb4758f187d25ad1ca4c66cdb67a259b07ae04
	sha512sums = SKIP

pkgname = hashcat

