pkgbase = nasm
	pkgdesc = 80x86 assembler designed for portability and modularity
	pkgver = 2.15.05
	pkgrel = 1
	url = https://www.nasm.us
	arch = x86_64
	license = BSD
	makedepends = perl-font-ttf
	makedepends = perl-sort-versions
	makedepends = fontconfig
	makedepends = adobe-source-sans-pro-fonts
	makedepends = ttf-liberation
	makedepends = ghostscript
	makedepends = xmlto
	makedepends = asciidoc
	depends = glibc
	source = https://www.nasm.us/pub/nasm/releasebuilds/2.15.05/nasm-2.15.05.tar.xz
	sha512sums = 512f90a2584f1c5811429274b97c64a2cedf37b9fdeffb1bcd0ea64afd9ecc19a2d7877ca8f1e05393aa324153fc9f39ea51dacbf8d25a7d5a2d7728c925dba7
	b2sums = a41434965c2125577b762d907a0a3c251c75d9f9beac230fba4099182c7f7beb08c6d2c05c2432b0dc8ba829f24077f44c3096faea9bd0a533250e6dbbfaef35

pkgname = nasm

