pkgbase = nasm
	pkgdesc = 80x86 assembler designed for portability and modularity
	pkgver = 2.14.02
	pkgrel = 1
	url = https://www.nasm.us
	arch = x86_64
	license = BSD
	makedepends = perl-font-ttf
	makedepends = perl-sort-versions
	makedepends = fontconfig
	makedepends = adobe-source-sans-pro-fonts
	makedepends = ttf-liberation
	makedepends = ghostscript
	makedepends = xmlto
	makedepends = asciidoc
	depends = glibc
	source = https://www.nasm.us/pub/nasm/releasebuilds/2.14.02/nasm-2.14.02.tar.xz
	sha512sums = c7a228095f37321d57f2813d04f58ee66949e8f81fc49ef6c4ecd391301e308217583ce1a265d4fe8c13d54b5b9c72aeb132caa3caee36e31b6555fbfff34c81

pkgname = nasm

