pkgbase = python-pyotp
	pkgdesc = Python library for generating and verifying one-time passwords
	pkgver = 2.6.0
	pkgrel = 5
	url = https://pyotp.readthedocs.io/
	arch = any
	license = MIT
	makedepends = git
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = python-guzzle-sphinx-theme
	depends = python
	options = !makeflags
	source = git+https://github.com/pyotp/pyotp#commit=a50b2701e1ecaaafc62b90a7424f602ce8edfceb?signed
	validpgpkeys = 29BCBADB4ECAAAC2382699388AFAFCD242818A52
	sha512sums = SKIP

pkgname = python-pyotp
