pkgbase = meson
	pkgdesc = High productivity build system
	pkgver = 0.52.0
	pkgrel = 3
	url = https://mesonbuild.com/
	arch = any
	license = Apache
	checkdepends = gcc-objc
	checkdepends = vala
	checkdepends = rust
	checkdepends = gcc-fortran
	checkdepends = mono
	checkdepends = boost
	checkdepends = qt5-base
	checkdepends = git
	checkdepends = cython
	checkdepends = gtkmm3
	checkdepends = gtest
	checkdepends = gmock
	checkdepends = protobuf
	checkdepends = wxgtk
	checkdepends = python-gobject
	checkdepends = gobject-introspection
	checkdepends = itstool
	checkdepends = gtk3
	checkdepends = java-environment=8
	checkdepends = gtk-doc
	checkdepends = llvm
	checkdepends = clang
	checkdepends = sdl2
	checkdepends = graphviz
	checkdepends = doxygen
	checkdepends = vulkan-validation-layers
	checkdepends = openssh
	checkdepends = mercurial
	checkdepends = gtk-sharp-2
	checkdepends = qt5-tools
	checkdepends = libwmf
	checkdepends = valgrind
	checkdepends = cmake
	checkdepends = netcdf-fortran
	checkdepends = openmpi
	checkdepends = cuda
	checkdepends = nasm
	checkdepends = gnustep-base
	checkdepends = libelf
	checkdepends = python-pytest-xdist
	depends = python-setuptools
	depends = ninja
	source = https://github.com/mesonbuild/meson/releases/download/0.52.0/meson-0.52.0.tar.gz
	source = https://github.com/mesonbuild/meson/releases/download/0.52.0/meson-0.52.0.tar.gz.asc
	source = skip-test.diff
	source = meson-python-3.8.patch
	source = arch-meson
	validpgpkeys = 95181F4EED14FDF4E41B518D3BF4693BFEEB9428
	sha512sums = 9efe962c60e21bf4159ce0b113caba0119751a5f6217cd116f6e43b0b4150af0eb7ab484a74d8e9438d78a5d0458dda4215e9b6b9c96bfc0d07e23d709d2929f
	sha512sums = SKIP
	sha512sums = fd1694e74cfa628bda81b1056061d75fa288e04d72bda733f3667be43cfb21c60f2e89455e4a101a7f6bef5754fe112dc84e18ec7a0807bc791015c34deea347
	sha512sums = 343d49889942d1cd3f5dc0c573dba226ca9a6c6c5845ff4e74d3c672532ba6fb7cbfeaadb6e053e8793cd7cbfbc936fb753c2dcd95dd236476f07129ac07f67c
	sha512sums = f451f8a7ef9cf1dd724c2ce20bb85a3f1611b87b2e7a17ef0fdbe8ab82a67389f818ea30a5adfe8413143e4eac77ea2e0b8234b5b2466b41a892e2bd0435376c

pkgname = meson

