pkgbase = meson
	pkgdesc = High productivity build system
	pkgver = 0.56.2
	pkgrel = 1
	url = https://mesonbuild.com/
	arch = any
	license = Apache
	checkdepends = gcc-objc
	checkdepends = vala
	checkdepends = rust
	checkdepends = gcc-fortran
	checkdepends = mono
	checkdepends = boost
	checkdepends = qt5-base
	checkdepends = git
	checkdepends = cython
	checkdepends = gtkmm3
	checkdepends = gtest
	checkdepends = gmock
	checkdepends = protobuf
	checkdepends = wxgtk3
	checkdepends = python-gobject
	checkdepends = gobject-introspection
	checkdepends = itstool
	checkdepends = gtk3
	checkdepends = java-environment=8
	checkdepends = gtk-doc
	checkdepends = llvm
	checkdepends = clang
	checkdepends = sdl2
	checkdepends = graphviz
	checkdepends = doxygen
	checkdepends = vulkan-validation-layers
	checkdepends = openssh
	checkdepends = mercurial
	checkdepends = gtk-sharp-2
	checkdepends = qt5-tools
	checkdepends = libwmf
	checkdepends = valgrind
	checkdepends = cmake
	checkdepends = netcdf-fortran
	checkdepends = openmpi
	checkdepends = nasm
	checkdepends = gnustep-base
	checkdepends = libelf
	checkdepends = python-pytest-xdist
	checkdepends = python2-setuptools
	depends = python-setuptools
	depends = ninja
	source = https://github.com/mesonbuild/meson/releases/download/0.56.2/meson-0.56.2.tar.gz
	source = https://github.com/mesonbuild/meson/releases/download/0.56.2/meson-0.56.2.tar.gz.asc
	source = skip-test.diff
	source = arch-meson
	validpgpkeys = 19E2D6D9B46D8DAA6288F877C24E631BABB1FE70
	sha512sums = 3b6cc5cae31d756b251ecde3483d3710bceff50cfd03ef6cf6f939d9e599998e61fcb03a2ee09d6a6f9bfa2198f43e7f20447359de3bff1055febcf03e82e514
	sha512sums = SKIP
	sha512sums = 26ba3e3f0644a3cc6da716a6ea33f5b33caa1be87532aac51d71d2cb45d0b6d41a7ba309cb778da8836e759c42647c3b60b6674f713b6dbdfa49f23ce4276c46
	sha512sums = f451f8a7ef9cf1dd724c2ce20bb85a3f1611b87b2e7a17ef0fdbe8ab82a67389f818ea30a5adfe8413143e4eac77ea2e0b8234b5b2466b41a892e2bd0435376c

pkgname = meson

