pkgbase = impacket
	pkgdesc = Collection of classes for working with network protocols
	pkgver = 0.9.19
	pkgrel = 1
	url = https://github.com/CoreSecurity/impacket
	arch = any
	license = Apache
	checkdepends = python2-pytest
	checkdepends = python2-pytest-runner
	depends = python2-crypto
	depends = python2-pyasn1
	depends = python2-pcapy
	depends = python2-pyopenssl
	depends = python2-six
	depends = python2-ldap3
	depends = python2-flask
	source = impacket-0.9.19.tar.gz::https://github.com/CoreSecurity/impacket/archive/impacket_0_9_19.tar.gz
	sha512sums = 92866065e8d30fc0c586cbb073836cbdaa9e685b386588570f74d1f59aa8e6182b67b1ba11d77465a52063baa8f0da76080030bfc71ce2d67dc3bb03abe3e352

pkgname = impacket

