pkgbase = impacket
	pkgdesc = Collection of classes for working with network protocols
	pkgver = 0.9.24
	pkgrel = 1
	url = https://github.com/CoreSecurity/impacket
	arch = any
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-pytest-runner
	checkdepends = python-cryptography
	depends = python
	depends = python-pycryptodome
	depends = python-pycryptodomex
	depends = python-pyasn1
	depends = python-pcapy
	depends = python-pyopenssl
	depends = python-six
	depends = python-ldap3
	depends = python-flask
	source = https://github.com/CoreSecurity/impacket/archive/impacket_0_9_24.tar.gz
	sha256sums = da3a6ff23122576d805d6841561f7de8a3edbd9e706a5acdb156d12982cae099
	sha512sums = 4e5ca6554353c0e6d73ba9feaf93338961862cc17d176fdf7cf734306a385ecadf1febbd06cf1ddbd179de8941b52768678dbf3f86c106a27f0992aa002305c0

pkgname = impacket
