pkgbase = wireshark
	pkgver = 2.6.3
	pkgrel = 1
	url = https://www.wireshark.org/
	arch = x86_64
	license = GPL2
	makedepends = c-ares
	makedepends = geoip
	makedepends = qt5-tools
	makedepends = qt5-multimedia
	makedepends = gtk3
	makedepends = krb5
	makedepends = libpcap
	makedepends = bash
	makedepends = libssh
	makedepends = gnutls
	makedepends = portaudio
	makedepends = lua52
	makedepends = python
	makedepends = desktop-file-utils
	makedepends = hicolor-icon-theme
	options = !emptydirs
	source = https://www.wireshark.org/download/src/wireshark-2.6.3.tar.xz
	source = wireshark.sysusers
	source = do_not_use_svn_version.patch
	sha256sums = d158a8a626dc0997a826cf12b5316a3d393fb9f93d84cc86e75b212f0044a3ec
	sha256sums = df07748152443c7d727bd51cd57af950c345b7141986b4f0e476cd6aa3623ac4
	sha256sums = 3981bb46f592e319f9c679c5e215ae0af828044a3b64d49d2cf0305ecacf4691

pkgname = wireshark-cli
	pkgdesc = a free network protocol analyzer for Unix/Linux and Windows - CLI version
	install = wireshark.install
	depends = c-ares
	depends = geoip
	depends = krb5
	depends = libgcrypt
	depends = libcap
	depends = libpcap
	depends = gnutls
	depends = glib2
	depends = lua52
	depends = libssh
	depends = libxml2
	depends = libnghttp2
	conflicts = wireshark

pkgname = wireshark-common
	pkgdesc = Common files used by wireshark-gtk and wireshark-qt
	depends = hicolor-icon-theme
	depends = shared-mime-info
	depends = xdg-utils

pkgname = wireshark-gtk
	pkgdesc = a free network protocol analyzer for Unix/Linux and Windows - GTK frontend
	depends = desktop-file-utils
	depends = gtk3
	depends = portaudio
	depends = wireshark-cli
	depends = wireshark-common
	conflicts = wireshark
	replaces = wireshark

pkgname = wireshark-qt
	pkgdesc = a free network protocol analyzer for Unix/Linux and Windows - Qt frontend
	depends = desktop-file-utils
	depends = qt5-multimedia
	depends = wireshark-cli
	depends = wireshark-common

