pkgbase = ropper
	pkgdesc = Show information about binary files and find gadgets to build rop chains for different architectures
	pkgver = 1.13.5
	pkgrel = 1
	url = https://github.com/sashs/Ropper
	arch = any
	license = GPL2
	makedepends = python-setuptools
	makedepends = python-capstone
	makedepends = python-filebytes
	source = https://github.com/sashs/Ropper/archive/v1.13.5/ropper-1.13.5.tar.gz
	sha512sums = ef9d308352ba4a662ef3eb9da77b7dcd458582d3840acd2c197c20d91023a6a1a2d68340b1557f053b45096a5dad0443e64bb5e48e20c30a953c9a4e8c89b7f2

pkgname = ropper
	depends = python
	depends = python-ropper>=1.13.5
	optdepends = python-keystone: assemble command support

pkgname = python-ropper
	depends = python-capstone
	depends = python-filebytes
	optdepends = python-keystone: assemble command support

