pkgbase = steam-native-runtime
	pkgdesc = Native replacement for the Steam runtime
	pkgver = 1.0.0.52
	pkgrel = 10
	url = https://wiki.archlinux.org/index.php/Steam/Troubleshooting#Native_runtime
	arch = i686
	arch = x86_64
	license = None
	depends = alsa-lib
	depends = alsa-plugins
	depends = atk
	depends = cairo
	depends = curl
	depends = dbus-glib
	depends = fontconfig
	depends = freetype2
	depends = freeglut
	depends = gconf
	depends = gdk-pixbuf2
	depends = glew1.10
	depends = glib2
	depends = glu
	depends = gtk2
	depends = libappindicator-gtk2
	depends = libcaca
	depends = libcanberra
	depends = libcups
	depends = libcurl-compat
	depends = libcurl-gnutls
	depends = dbus
	depends = libdrm
	depends = libgcrypt15
	depends = libice
	depends = libjpeg6
	depends = libnm-glib
	depends = libpng12
	depends = libpulse
	depends = librtmp0
	depends = libsm
	depends = libtheora
	depends = libtiff4
	depends = libudev0-shim
	depends = libusb
	depends = libvorbis
	depends = libvpx1.3
	depends = libwrap
	depends = libxcomposite
	depends = libxcursor
	depends = libxft
	depends = libxi
	depends = libxinerama
	depends = libxmu
	depends = libxrandr
	depends = libxrender
	depends = libxtst
	depends = libxxf86vm
	depends = nspr
	depends = nss
	depends = openal
	depends = pango
	depends = sdl
	depends = sdl2
	depends = sdl2_image
	depends = sdl2_mixer
	depends = sdl2_ttf
	depends = sdl_image
	depends = sdl_mixer
	depends = sdl_ttf
	depends = librsvg
	optdepends = vulkan-icd-loader: vulkan support
	replaces = steam-libs
	depends_x86_64 = lib32-alsa-lib
	depends_x86_64 = lib32-alsa-plugins
	depends_x86_64 = lib32-atk
	depends_x86_64 = lib32-cairo
	depends_x86_64 = lib32-curl
	depends_x86_64 = lib32-dbus-glib
	depends_x86_64 = lib32-fontconfig
	depends_x86_64 = lib32-freetype2
	depends_x86_64 = lib32-freeglut
	depends_x86_64 = lib32-gconf
	depends_x86_64 = lib32-gdk-pixbuf2
	depends_x86_64 = lib32-glew1.10
	depends_x86_64 = lib32-glib2
	depends_x86_64 = lib32-glu
	depends_x86_64 = lib32-gtk2
	depends_x86_64 = lib32-libappindicator-gtk2
	depends_x86_64 = lib32-libcaca
	depends_x86_64 = lib32-libcanberra
	depends_x86_64 = lib32-libcups
	depends_x86_64 = lib32-libcurl-compat
	depends_x86_64 = lib32-libcurl-gnutls
	depends_x86_64 = lib32-dbus
	depends_x86_64 = lib32-libdrm
	depends_x86_64 = lib32-libgcrypt15
	depends_x86_64 = lib32-libice
	depends_x86_64 = lib32-libjpeg6
	depends_x86_64 = lib32-libnm-glib
	depends_x86_64 = lib32-libpng12
	depends_x86_64 = lib32-libpulse
	depends_x86_64 = lib32-librtmp0
	depends_x86_64 = lib32-libsm
	depends_x86_64 = lib32-libtheora
	depends_x86_64 = lib32-libtiff4
	depends_x86_64 = lib32-libudev0-shim
	depends_x86_64 = lib32-libusb
	depends_x86_64 = lib32-libvorbis
	depends_x86_64 = lib32-libvpx1.3
	depends_x86_64 = lib32-libwrap
	depends_x86_64 = lib32-libxcomposite
	depends_x86_64 = lib32-libxcursor
	depends_x86_64 = lib32-libxft
	depends_x86_64 = lib32-libxi
	depends_x86_64 = lib32-libxinerama
	depends_x86_64 = lib32-libxmu
	depends_x86_64 = lib32-libxrandr
	depends_x86_64 = lib32-libxrender
	depends_x86_64 = lib32-libxtst
	depends_x86_64 = lib32-libxxf86vm
	depends_x86_64 = lib32-nspr
	depends_x86_64 = lib32-nss
	depends_x86_64 = lib32-openal
	depends_x86_64 = lib32-pango
	depends_x86_64 = lib32-sdl
	depends_x86_64 = lib32-sdl2
	depends_x86_64 = lib32-sdl2_image
	depends_x86_64 = lib32-sdl2_mixer
	depends_x86_64 = lib32-sdl2_ttf
	depends_x86_64 = lib32-sdl_image
	depends_x86_64 = lib32-sdl_mixer
	depends_x86_64 = lib32-sdl_ttf

pkgname = steam-native-runtime

