pkgbase = python-flask-sqlalchemy
	pkgdesc = Adds SQLAlchemy support to your Flask application
	pkgver = 2.2
	pkgrel = 1
	url = http://flask-sqlalchemy.pocoo.org/
	arch = any
	license = BSD
	checkdepends = python-pytest
	checkdepends = python-blinker
	checkdepends = python2-pytest
	checkdepends = python2-blinker
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = python-flask
	makedepends = python-sqlalchemy
	makedepends = python2-setuptools
	makedepends = python2-sphinx
	makedepends = python2-flask
	makedepends = python2-sqlalchemy
	source = python-flask-sqlalchemy-2.2.tar.gz::https://github.com/mitsuhiko/flask-sqlalchemy/archive/2.2.tar.gz
	sha512sums = 73a8a088d67eed27c54b5becbb7319583fed0f89c59bc1170d62b237b21bc9037df3173699a9eb5e2cac2b2d59c84cfa9e1d2f142d46292e72d6bb283a35c1ce

pkgname = python-flask-sqlalchemy
	depends = python-flask
	depends = python-sqlalchemy

pkgname = python2-flask-sqlalchemy
	depends = python2-flask
	depends = python2-sqlalchemy

