pkgbase = python-flask-sqlalchemy
	pkgdesc = Adds SQLAlchemy support to your Flask application
	pkgver = 2.4.3
	pkgrel = 1
	url = http://flask-sqlalchemy.pocoo.org/
	arch = any
	license = BSD
	checkdepends = python-pytest
	checkdepends = python-blinker
	checkdepends = python-mock
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = python-pallets-sphinx-themes
	makedepends = python-sphinx-issues
	depends = python-flask
	depends = python-sqlalchemy
	source = python-flask-sqlalchemy-2.4.3.tar.gz::https://github.com/mitsuhiko/flask-sqlalchemy/archive/2.4.3.tar.gz
	sha512sums = 059927d93f29d48ae96239bd7deb53e1722be4296ed77b49beb709f1253b807f3de0d65c3deca220c497f2a4dab804041a0148447f06237a8167038b71d01975

pkgname = python-flask-sqlalchemy

