pkgbase = ruby-pathutil
	pkgdesc = Faster pure Ruby implementation of Pathname with extra bits
	pkgver = 0.16.1
	pkgrel = 1
	url = https://github.com/envygeeks/pathutil
	arch = any
	license = MIT
	depends = ruby
	depends = ruby-forwardable-extended
	options = !emptydirs
	source = ruby-pathutil-0.16.1.tar.gz::https://github.com/envygeeks/pathutil/archive/v0.16.1.tar.gz
	sha256sums = 6dec5d820dac6d70224176014704883dc99252a1bef980fef014078fdaf7c426
	sha512sums = bd6b2402d12cdceefacde92cb38a67c03a73bdfd9e5823255eef348c571f1347a5febe0cd6a89cf3e78028cee9ca176f8ff192b85e0a52d752319287dcdb6998

pkgname = ruby-pathutil

