pkgbase = reaver
	pkgdesc = Brute force attack against Wifi Protected Setup
	pkgver = 1.6.2
	pkgrel = 1
	url = https://github.com/t6x/reaver-wps-fork-t6x
	arch = i686
	arch = x86_64
	license = GPL2
	depends = glibc
	depends = libpcap
	source = reaver-1.6.2.tar.gz::https://github.com/t6x/reaver-wps-fork-t6x/archive/v1.6.2.tar.gz
	sha512sums = f7befb46d12b2d5884fae2fe6a504df7b4e87d64a25549513830b2ec20241227d249d22fd163b3fba1315a414756cd310b43eb7ce503ef2cc1ebee37ef298887

pkgname = reaver

