pkgbase = bettercap
	pkgdesc = Swiss army knife for network attacks and monitoring
	pkgver = 2.8
	pkgrel = 1
	url = https://github.com/bettercap/bettercap
	arch = x86_64
	license = GPL3
	makedepends = go-pie
	makedepends = git
	makedepends = dep
	depends = libpcap
	depends = libnetfilter_queue
	depends = iproute2
	depends = glibc
	depends = libnfnetlink
	options = !emptydirs
	source = bettercap-2.8.tar.gz::https://github.com/bettercap/bettercap/archive/v2.8.tar.gz
	sha512sums = f23f42d06e938d615d3d7033cdabdeeb571c606dd24ae8a412262b34871980d7e0bb3a13d9836668f7667a9d7fac1cfb27e0bb8b5bcf94854e9353991f748325

pkgname = bettercap

