pkgbase = bettercap
	pkgdesc = Swiss army knife for network attacks and monitoring
	pkgver = 2.29
	pkgrel = 1
	url = https://github.com/bettercap/bettercap
	arch = x86_64
	license = GPL3
	makedepends = go
	makedepends = git
	depends = glibc
	depends = libpcap
	depends = libpcap.so
	depends = libnetfilter_queue
	depends = iproute2
	depends = libnfnetlink
	depends = libusb
	depends = libusb-1.0.so
	optdepends = bettercap-caplets: scripts (caplets) and proxy modules
	options = !emptydirs
	source = https://github.com/bettercap/bettercap/archive/v2.29/bettercap-2.29.tar.gz
	sha512sums = 1a269b31d5aae5eb215efc5f0c531d2c7cec775fc43b1355fc57ed377c94b7b05e9f1cd3f68c2a2946a2324a78c371d59d8864ee703a56a8194188bf7a332513
	b2sums = 23af73462c2817d287262d3588a8cab7d7a138675d70a4ededad5b7fb308a17d293fc8a937ffbb4ebbcbad71249e2e7eab708af3a252025105d45b780bdc196f

pkgname = bettercap

