pkgbase = bettercap
	pkgdesc = Swiss army knife for network attacks and monitoring
	pkgver = 2.16
	pkgrel = 1
	url = https://github.com/bettercap/bettercap
	arch = x86_64
	license = GPL3
	makedepends = go-pie
	makedepends = git
	makedepends = dep
	depends = libpcap
	depends = libnetfilter_queue
	depends = iproute2
	depends = glibc
	depends = libnfnetlink
	options = !emptydirs
	source = bettercap-2.16.tar.gz::https://github.com/bettercap/bettercap/archive/v2.16.tar.gz
	sha512sums = 671ffa2bc0a3d568db6118c92e6d78f1ea58712a5f212984f7e7ba2076a38c30eadf6fdf91fbabfcb89e35422e77a0c308b4759b7c12c3b12296eefe582b9b24

pkgname = bettercap

