pkgbase = python-requests
	pkgdesc = Python HTTP for Humans
	pkgver = 2.28.2
	pkgrel = 4
	url = https://requests.readthedocs.io/
	arch = any
	license = Apache
	checkdepends = python-pytest-httpbin
	checkdepends = python-pytest-mock
	checkdepends = python-pysocks
	checkdepends = python-trustme
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	makedepends = python-chardet
	makedepends = python-urllib3
	makedepends = python-idna
	depends = python-urllib3
	depends = python-chardet
	depends = python-idna
	optdepends = python-pysocks: SOCKS proxy support
	source = https://github.com/psf/requests/archive/v2.28.2/python-requests-2.28.2.tar.gz
	source = certs.patch
	sha512sums = 88c5a92ea51cd18e7edd49a6259d7b56bc0c17f86067f796b5f668ed35202b8bc1395e4811ee2089350e08893dcd304c9801dbf087abfaff1d14859e31bce8ac
	sha512sums = 424a3bb01b23409284f6c9cd2bc22d92df31b85cfd96e1d1b16b5d68adeca670dfed4fff7977d8b10980102b0f780eacc465431021fcd661f3a17168a02a39a3

pkgname = python-requests
