pkgbase = python-sshtunnel
	pkgdesc = Pure python SSH tunnels
	pkgver = 0.4.0
	pkgrel = 3
	url = https://github.com/pahaz/sshtunnel
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-mock
	checkdepends = openssh
	makedepends = git
	makedepends = python-paramiko
	makedepends = python-sphinx
	makedepends = python-setuptools
	source = python-sshtunnel::git+https://github.com/pahaz/sshtunnel#commit=58a46ef8b66be5eded29cd9bda4dccedb46ec586
	sha512sums = SKIP

pkgname = sshtunnel
	pkgdesc = Pure python SSH tunnels (CLI)
	depends = python
	depends = python-sshtunnel
	depends = python-setuptools

pkgname = python-sshtunnel
	depends = python
	depends = python-paramiko
