pkgbase = strip-nondeterminism
	pkgdesc = Tool for stripping bits of non-deterministic information from files
	pkgver = 1.12.1
	pkgrel = 1
	url = https://salsa.debian.org/reproducible-builds/strip-nondeterminism
	arch = any
	license = GPL3
	makedepends = git
	depends = perl
	depends = perl-archive-zip
	depends = perl-archive-cpio
	depends = perl-sub-override
	options = !emptydirs
	source = https://salsa.debian.org/reproducible-builds/strip-nondeterminism/-/archive/1.12.1/strip-nondeterminism-1.12.1.tar.bz2
	source = https://salsa.debian.org/reproducible-builds/reproducible-lfs/raw/master/releases/strip-nondeterminism/strip-nondeterminism-1.12.1.tar.bz2.asc
	validpgpkeys = C2FE4BD271C139B86C533E461E953E27D4311E58
	validpgpkeys = EF5D84C1838F2EB6D8968C0410378EFC2080080C
	validpgpkeys = 2F5DAF3FC1F793D94F3D900CA721DA055374AA4F
	validpgpkeys = 66AE2B4AFCCF3F52DA184D184B043FCDB9444540
	sha512sums = f007bc442adfb1f28d944e1da2b666f9d8405175875158547f9efe7f2190e803ebef7d760b5ad3b65a9149cadc2a577cbe795f030a33d2bee3a80d4cff704aa6
	sha512sums = SKIP

pkgname = strip-nondeterminism
