pkgbase = doxygen
	pkgdesc = Documentation system for C++, C, Java, IDL and PHP
	pkgver = 1.8.20
	pkgrel = 1
	url = http://www.doxygen.nl
	arch = x86_64
	license = GPL
	makedepends = cmake
	makedepends = gcc-libs
	makedepends = flex
	makedepends = qt5-base
	makedepends = texlive-core
	makedepends = ghostscript
	makedepends = texlive-latexextra
	makedepends = graphviz
	makedepends = python
	makedepends = git
	source = doxygen-1.8.20.tar.gz::https://github.com/doxygen/doxygen/archive/Release_1_8_20.tar.gz
	sha256sums = 3dbdf8814d6e68233d5149239cb1f0b40b4e7b32eef2fd53de8828fedd7aca15
	sha512sums = 25509cec8904b10431cf3d29f6e6bbdad49fbf3a763606b30c92c111f294ac0311aa13d53007d71ff1f55fcae6903e2ce8f80d1a6b4832fa43f6a9166184e005
	b2sums = d318d6c1543cbd17062231eb5a29ed129f4b743f64e4533fac355f50f944b2efa53901298730805bbecb411edbadc3f4afed76e84093257108bf8edf69d1ea00

pkgname = doxygen
	pkgdesc = Documentation system for C++, C, Java, IDL and PHP
	depends = gcc-libs
	optdepends = graphviz: for caller/callee graph generation
	optdepends = qt5-base: for doxywizard

pkgname = doxygen-docs
	pkgdesc = Developer documentation for doxygen

