pkgbase = reprotest
	pkgdesc = Run a process twice and check the output for reproducibility
	pkgver = 0.7.23
	pkgrel = 2
	url = https://salsa.debian.org/reproducible-builds/reprotest
	arch = any
	license = GPL3
	checkdepends = python-pytest
	checkdepends = disorderfs
	makedepends = help2man
	makedepends = python-docutils
	makedepends = git
	depends = python-setuptools
	depends = python
	depends = python-rstr
	depends = diffoscope
	depends = fakeroot
	depends = python-distro
	depends = python-wheel
	depends = libfaketime
	optdepends = disorderfs: to enable the shuffle-dirents option
	optdepends = python-progressbar: to show a progress bar during diffoscope
	source = git+https://salsa.debian.org/reproducible-builds/reprotest.git?signed#tag=0.7.23
	validpgpkeys = A405E58AB3725B396ED1B85C1318EFAC5FBBDBCE
	validpgpkeys = 66AE2B4AFCCF3F52DA184D184B043FCDB9444540
	validpgpkeys = 8B7868786C33E5C64C4D0A480816B9E18C762BAD
	validpgpkeys = F0ADA5240891831165DF98EA7CFCD8CD257721E9
	validpgpkeys = B8BF54137B09D35CF026FE9D091AB856069AAA1C
	sha512sums = SKIP

pkgname = reprotest
