pkgbase = ruby-rspec-expectations
	pkgdesc = Provides a readable API to express expected outcomes of a code example
	pkgver = 3.8.1
	pkgrel = 2
	url = https://github.com/rspec/rspec-expectations
	arch = any
	license = MIT
	depends = ruby-rspec-support
	depends = ruby-diff-lcs
	noextract = rspec-expectations-3.8.1.gem
	options = !emptydirs
	source = https://rubygems.org/downloads/rspec-expectations-3.8.1.gem
	sha512sums = 38964a6e98eb6be70ef097747956a441c5792fec7792c52a3a4801b7a567d4a4a70fc9de4c5f9c4254d9cfd9b5d8d21db7515e1ce0bc5018dfc565b380df6777

pkgname = ruby-rspec-expectations

