pkgbase = ruby-rspec-expectations
	pkgdesc = Provides a readable API to express expected outcomes of a code example
	pkgver = 3.3.1
	pkgrel = 1
	url = https://github.com/rspec/rspec-expectations
	arch = any
	license = MIT
	depends = ruby-rspec-support
	depends = ruby-diff-lcs
	noextract = rspec-expectations-3.3.1.gem
	options = !emptydirs
	source = https://rubygems.org/downloads/rspec-expectations-3.3.1.gem
	sha512sums = c0602c7aa81e831ccbe78cf0fcaaaf0b7ed51897aa3427a38b55f1ae5d16dea09f650a8005f5bffa07a465865b80fc4de192726f5e7d474e201b767464cb4704

pkgname = ruby-rspec-expectations

