pkgbase = python-pypcode
	pkgdesc = Python bindings to Ghidra's SLEIGH library for disassembly and lifting to p-code IR
	pkgver = 1.1.2
	pkgrel = 1
	url = https://github.com/angr/pypcode
	arch = x86_64
	license = custom
	checkdepends = python-pytest
	makedepends = cmake
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-cffi
	source = https://github.com/angr/pypcode/archive/v1.1.2/python-pypcode-1.1.2.tar.gz
	sha512sums = e4f81de74fe96be3c1260ee025ffb72d53ffb9800a2c5a1ee61c810e92e13c0130cd988c6b60c26d4859154a90abbb611c63e922f1a2a661ea3649d5efd4ae4b
	b2sums = 9990dec2f605872204c199e51016e25d4aef6a1936656755a6db3977d534d3548b5e18cff4efe20360725ca5f16e546f4f37a7f874a2a8501f415f192cce8bc6

pkgname = python-pypcode
