pkgbase = python-tblib
	pkgdesc = Python traceback fiddling library
	pkgver = 1.4.0
	pkgrel = 2
	url = https://github.com/ionelmc/python-tblib
	arch = any
	license = BSD
	makedepends = python-setuptools
	makedepends = python2-setuptools
	makedepends = python-six
	makedepends = python2-six
	source = https://github.com/ionelmc/python-tblib/archive/v1.4.0/python-tblib-1.4.0.tar.gz
	sha256sums = 7338abe80d82e319643064848f6d1cbd32d80c0d444c6e8de0088d170ed6cd95
	sha512sums = 955ccbeaade32b36681d66bff59c777a5dc03465b0e93d1de25f8f2156f485c82a0e6d9578b2a00b2e1b2c21ac182d86568b2b61221cf46a2196aa77b0fc3620

pkgname = python-tblib
	depends = python-six

pkgname = python2-tblib
	depends = python2-six

