pkgbase = keystone
	pkgdesc = Lightweight multi-platform, multi-architecture assembler framework
	pkgver = 0.9.1
	pkgrel = 3
	url = http://www.keystone-engine.org/
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = cmake
	makedepends = gcc-libs
	makedepends = python
	makedepends = python2
	options = staticlibs
	options = !emptydirs
	source = keystone-0.9.1.tar.gz::https://github.com/keystone-engine/keystone/archive/0.9.1.tar.gz
	sha512sums = 3bd9c3793d5862a0a8628b52da381625e62445f661dbd5ed715723e7d9db01ce3f9586e5ca0a5cc71e8ceb6c912050f5c28e3ccd540e72c8abcfd2f0d1bbae17

pkgname = keystone
	depends = gcc-libs

pkgname = python-keystone
	license = BSD
	depends = python
	depends = keystone

pkgname = python2-keystone
	license = BSD
	depends = python2
	depends = keystone

