pkgbase = gdb-dashboard
	pkgdesc = Modular visual interface for GDB in Python
	pkgver = 0.4.2
	pkgrel = 1
	url = https://github.com/cyrus-and/gdb-dashboard
	arch = any
	license = MIT
	depends = gdb
	depends = binutils
	optdepends = python-pygments: syntax highlighting support
	source = gdb-dashboard-0.4.2.tar.gz::https://github.com/cyrus-and/gdb-dashboard/archive/v0.4.2.tar.gz
	sha512sums = d5e66b0e0be27e494e74f6bd1609c18aac8ac6725ad7ceb66db3f4458ebc89c4fb194559ca36af8f53d2a4459f9c090c9b9cf3b7e664f80f9bc504cc4e956bf6

pkgname = gdb-dashboard

