pkgbase = openmpi
	pkgdesc = High performance message passing library (MPI)
	pkgver = 4.1.4
	pkgrel = 4
	url = https://www.open-mpi.org
	arch = x86_64
	license = custom:OpenMPI
	makedepends = cuda
	makedepends = gcc-fortran
	makedepends = inetutils
	makedepends = valgrind
	depends = gcc-libs
	depends = glibc
	depends = hwloc
	depends = libevent
	depends = libnl
	depends = openpmix
	depends = zlib
	optdepends = cuda: cuda support
	optdepends = gcc-fortran: fortran support
	optdepends = openssh: for offloading to remote hosts
	optdepends = perl: for aggregate_profile.pl and profile2mat.pl
	provides = libmca_common_cuda.so
	provides = libmca_common_monitoring.so
	provides = libmca_common_ompio.so
	provides = libmca_common_sm.so
	provides = libmpi.so
	provides = libmpi_cxx.so
	provides = libmpi_mpifh.so
	provides = libmpi_usempi_ignore_tkr.so
	provides = libmpi_usempif08.so
	provides = libompitrace.so
	provides = libopen-pal.so
	provides = libopen-rte.so
	options = debug
	source = https://www.open-mpi.org/software/ompi/v4.1/downloads/openmpi-4.1.4.tar.bz2
	sha256sums = 92912e175fd1234368c8730c03f4996fe5942e7479bb1d10059405e7f2b3930d
	b2sums = b020e3530ae5dde7b144e7c33b1a3f26f622526a4b48a97a0956fc6f49bbf9dfd5be9ebeeaf3bdc5168a307507408ba5dd8e2a537148821e1d476678177dc5d6

pkgname = openmpi
	depends = gcc-libs
	depends = glibc
	depends = hwloc
	depends = libevent
	depends = libnl
	depends = openpmix
	depends = zlib
	depends = libpmix.so
