pkgbase = openmpi
	pkgdesc = High performance message passing library (MPI)
	pkgver = 4.0.2
	pkgrel = 2
	url = https://www.open-mpi.org
	arch = x86_64
	license = custom:OpenMPI
	makedepends = inetutils
	makedepends = valgrind
	makedepends = gcc-fortran
	depends = libltdl
	depends = hwloc
	depends = openssh
	depends = zlib
	depends = libnl
	optdepends = gcc-fortran: fortran support
	options = staticlibs
	source = https://www.open-mpi.org/software/ompi/v4.0/downloads/openmpi-4.0.2.tar.bz2
	sha256sums = 900bf751be72eccf06de9d186f7b1c4b5c2fa9fa66458e53b77778dffdfe4057
	sha512sums = 634d45d989f1e0b8848bfb4eb4527c7edd76d4fccd77a5f8d85a46a5822f97ba653adf13df857c87ae56a8117b4ae2d45ec24249c6ee41a562446d4112ddb770

pkgname = openmpi

