pkgbase = openmpi
	pkgdesc = High performance message passing library (MPI)
	pkgver = 4.0.5
	pkgrel = 3
	url = https://www.open-mpi.org
	arch = x86_64
	license = custom:OpenMPI
	makedepends = inetutils
	makedepends = valgrind
	makedepends = gcc-fortran
	makedepends = cuda
	depends = glibc
	depends = libltdl
	depends = hwloc
	depends = openssh
	depends = zlib
	depends = libnl
	depends = perl
	depends = libevent
	optdepends = gcc-fortran: fortran support
	optdepends = cuda: cuda support
	options = staticlibs
	source = https://www.open-mpi.org/software/ompi/v4.0/downloads/openmpi-4.0.5.tar.bz2
	sha256sums = c58f3863b61d944231077f344fe6b4b8fbb83f3d1bc93ab74640bf3e5acac009
	b2sums = 9709dc8c251d4f2be14d0ab498c5d0d0e59f95db98fb16d9e84fe3d30af5a8e2f9636bbceaf7ae4086a3312bcd6299f0e9e1ca609d658930a1f5abe1018311e1

pkgname = openmpi

