pkgbase = fish
	pkgdesc = Smart and user friendly shell intended mostly for interactive use
	pkgver = 2.5.0
	pkgrel = 1
	url = http://fishshell.com/
	install = fish.install
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = doxygen
	depends = bc
	depends = gcc-libs
	depends = inetutils
	depends = ncurses
	depends = which
	optdepends = python: for manual page completion parser and web configuration tool
	source = fish-2.5.0.tar.gz::https://github.com/fish-shell/fish-shell/archive/2.5.0.tar.gz
	sha512sums = 1032f64987ab5632accffaf326fc56daad220d4edc66cf79b16730d9166ac61ff062f33560e5527cdd2ca0efc5299c2f736604c24ed9a3758dea30b91db70eb7

pkgname = fish

