pkgbase = fish
	pkgdesc = Smart and user friendly shell intended mostly for interactive use
	pkgver = 3.2.1
	pkgrel = 1
	url = https://fishshell.com/
	install = fish.install
	arch = x86_64
	license = GPL2
	checkdepends = expect
	checkdepends = procps-ng
	makedepends = cmake
	makedepends = python-sphinx
	depends = glibc
	depends = gcc-libs
	depends = ncurses
	depends = pcre2
	optdepends = python: man page completion parser / web config tool
	optdepends = pkgfile: command-not-found hook
	backup = etc/fish/config.fish
	source = https://github.com/fish-shell/fish-shell/releases/download/3.2.1/fish-3.2.1.tar.xz
	source = https://github.com/fish-shell/fish-shell/releases/download/3.2.1/fish-3.2.1.tar.xz.asc
	validpgpkeys = 003837986104878835FA516D7A67D962D88A709A
	sha256sums = d8e49f4090d3778df17dd825e4a2a80192015682423cd9dd02b6675d65c3af5b
	sha256sums = SKIP
	sha512sums = bf565bac93e7d163af5253b4053f9c9e760508b929624440fd8a160504a127c34013882576293c72a47ce7f285f87e0b594d61d7cebcefcc3be4e92c572926bc
	sha512sums = SKIP

pkgname = fish

