pkgbase = fish
	pkgdesc = Smart and user friendly shell intended mostly for interactive use
	pkgver = 3.1.2
	pkgrel = 2
	url = https://fishshell.com/
	install = fish.install
	arch = x86_64
	license = GPL2
	checkdepends = expect
	makedepends = cmake
	makedepends = python-sphinx
	depends = glibc
	depends = gcc-libs
	depends = ncurses
	depends = pcre2
	optdepends = python: man page completion parser / web config tool
	optdepends = pkgfile: command-not-found hook
	backup = etc/fish/config.fish
	source = https://github.com/fish-shell/fish-shell/releases/download/3.1.2/fish-3.1.2.tar.gz
	source = https://github.com/fish-shell/fish-shell/releases/download/3.1.2/fish-3.1.2.tar.gz.asc
	validpgpkeys = 003837986104878835FA516D7A67D962D88A709A
	sha256sums = d5b927203b5ca95da16f514969e2a91a537b2f75bec9b21a584c4cd1c7aa74ed
	sha256sums = SKIP
	sha512sums = b6ae2c928774a2eaccf35312d3a9446bfa3e1335182c8f2b2d6198161d0916904f4964fb20ed13a5bf850c1c819e003905d13db3bc8b1faa5b401a60b47dc563
	sha512sums = SKIP

pkgname = fish

