pkgbase = ruby-sass
	pkgdesc = Sass makes CSS fun again
	pkgver = 3.6.0
	pkgrel = 1
	url = http://sass-lang.com/
	arch = any
	license = MIT
	depends = ruby
	depends = ruby-sass-listen
	depends = ruby-yard
	depends = ruby-maruku
	depends = ruby-rdoc
	options = !emptydirs
	source = ruby-sass-3.6.0.tar.gz::https://github.com/sass/ruby-sass/archive/3.6.0.tar.gz
	sha256sums = cdcf25d4c7ba12137ac8858af66d7e90afde0b68072b83feb2df7f9d91b1eaa1
	sha512sums = fc29fcc46f735402940a5763353d9a20567e22e05f8f2bfad6c27e12307fec7b9eb1349c3fb202bb2bbb2ae8df83f726795fae5a54536ca0d31dfa5479ac3ee6

pkgname = ruby-sass

