pkgbase = postgresql-old-upgrade
	pkgdesc = PostgreSQL build for migrating between major versions with pg_upgrade
	pkgver = 9.5.7
	pkgrel = 3
	url = https://www.postgresql.org/
	arch = i686
	arch = x86_64
	license = custom:PostgreSQL
	makedepends = krb5
	makedepends = python2
	makedepends = perl
	makedepends = tcl>=8.6.0
	depends = postgresql-libs>=9.5
	depends = libxml2
	depends = openssl>=1.0.0
	depends = pam
	source = https://ftp.postgresql.org/pub/source/v9.5.7/postgresql-9.5.7.tar.bz2
	sha256sums = 8b1e936f82109325decc0f5575e846b93fb4fd384e8c4bde83ff5e7f87fc6cad
	sha512sums = 0f879a8d7587739aa9a696d60f909f819d567c67dff7c730d5e856639ed78ebc35beeb3cdaf782573d7e62c7056560a934f64cf11ccac6e309f58bb82d1ca78f

pkgname = postgresql-old-upgrade

