pkgbase = postgresql-old-upgrade
	pkgdesc = PostgreSQL build for migrating between major versions with pg_upgrade
	pkgver = 12.8
	pkgrel = 5
	url = https://www.postgresql.org/
	arch = x86_64
	license = custom:PostgreSQL
	makedepends = python
	makedepends = python2
	makedepends = perl
	makedepends = tcl>=8.6.0
	makedepends = systemd
	makedepends = llvm
	makedepends = clang
	depends = postgresql-libs>=12
	depends = libxml2
	depends = openssl>=1.0.0
	depends = pam
	depends = zlib
	depends = icu
	depends = systemd-libs
	depends = libldap
	depends = krb5
	depends = llvm-libs
	optdepends = python2: for PL/Python 2 support
	optdepends = python: for PL/Python 3 support
	optdepends = perl: for PL/Perl support
	optdepends = tcl: for PL/Tcl support
	source = https://ftp.postgresql.org/pub/source/v12.8/postgresql-12.8.tar.bz2
	sha256sums = e26401e090c34ccb15ffb33a111f340833833535a7b7c5cd11cd88ab57d9c62a
	sha512sums = 970fe1041e427ac1c8a786c93e2079b0a9c8b3fcaf9d38877894eb02e8a9afc7cd73d7ac28078c455845a922a1b7d9c1e22cb7990d8d523dd6496af9442fba01
	b2sums = 20ad970f03665b9c1f24c646096476398c1791c49eb4f34bb6c3b1c7cf3955bb79ef81e178e5d72ffb91625a9ec1cff409fa95d390caa02862fec2599e6d8a9b

pkgname = postgresql-old-upgrade
