pkgbase = postgresql-old-upgrade
	pkgdesc = PostgreSQL build for migrating between major versions with pg_upgrade
	pkgver = 14.6
	pkgrel = 1
	url = https://www.postgresql.org/
	arch = x86_64
	license = custom:PostgreSQL
	makedepends = python
	makedepends = perl
	makedepends = tcl>=8.6.0
	makedepends = systemd
	makedepends = llvm
	makedepends = clang
	depends = postgresql-libs>=14
	depends = libxml2
	depends = openssl>=1.0.0
	depends = pam
	depends = zlib
	depends = icu
	depends = systemd-libs
	depends = libldap
	depends = krb5
	depends = llvm-libs
	optdepends = python: for PL/Python 3 support
	optdepends = perl: for PL/Perl support
	optdepends = tcl: for PL/Tcl support
	source = https://ftp.postgresql.org/pub/source/v14.6/postgresql-14.6.tar.bz2
	md5sums = 427c62b6561e272dc3b41bfcefe87fc4
	sha256sums = 508840fc1809d39ab72274d5f137dabb9fd7fb4f933da4168aeebb20069edf22
	b2sums = 675283751a51500382395cb07a956fa0392987f938e12c0757c4c537327aa119d62fe86c78372d7607ae1ff4c811a567ffb89a8c087d2d029c32bd7271733fb6

pkgname = postgresql-old-upgrade
