pkgbase = trayer
	pkgdesc = lightweight GTK2-based systray for UNIX desktop
	pkgver = 1.1.7
	pkgrel = 1
	url = https://github.com/sargon/trayer-srg
	arch = x86_64
	license = MIT
	makedepends = libxmu
	depends = gtk2
	provides = trayer-srg
	conflicts = trayer-srg
	source = trayer-1.1.7.tar.gz::https://github.com/sargon/trayer-srg/archive/trayer-1.1.7.tar.gz
	sha512sums = 5bb049af01c3f3f62dc8a5c1932985b92c98e4e2083aebd1dc09256746e097239be54ebc739801773878882a5c8f168a4a13bdac292388f79079ad52c41b2cad

pkgname = trayer

