pkgbase = bash
	pkgdesc = The GNU Bourne Again shell
	pkgver = 5.0.018
	pkgrel = 1
	url = https://www.gnu.org/software/bash/bash.html
	arch = x86_64
	license = GPL
	depends = readline>=7.0
	depends = glibc
	depends = ncurses
	optdepends = bash-completion: for tab completion
	provides = sh
	backup = etc/bash.bashrc
	backup = etc/bash.bash_logout
	backup = etc/skel/.bashrc
	backup = etc/skel/.bash_profile
	backup = etc/skel/.bash_logout
	source = https://ftp.gnu.org/gnu/bash/bash-5.0.tar.gz
	source = https://ftp.gnu.org/gnu/bash/bash-5.0.tar.gz.sig
	source = dot.bashrc
	source = dot.bash_profile
	source = dot.bash_logout
	source = system.bashrc
	source = system.bash_logout
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-001
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-001.sig
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-002
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-002.sig
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-003
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-003.sig
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-004
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-004.sig
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-005
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-005.sig
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-006
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-006.sig
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-007
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-007.sig
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-008
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-008.sig
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-009
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-009.sig
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-010
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-010.sig
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-011
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-011.sig
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-012
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-012.sig
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-013
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-013.sig
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-014
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-014.sig
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-015
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-015.sig
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-016
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-016.sig
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-017
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-017.sig
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-018
	source = https://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-018.sig
	validpgpkeys = 7C0135FB088AAF6C66C650B9BB5869F064EA74AB
	md5sums = 2b44b47b905be16f45709648f671820b
	md5sums = SKIP
	md5sums = 027d6bd8f5f6a06b75bb7698cb478089
	md5sums = 2902e0fee7a9168f3a4fd2ccd60ff047
	md5sums = 42f4400ed2314bd7519c020d0187edc5
	md5sums = d8f3f334e72c0e30032eae1a1229aef1
	md5sums = 472f536d7c9e8250dc4568ec4cfaf294
	md5sums = b026862ab596a5883bb4f0d1077a3819
	md5sums = SKIP
	md5sums = 2f4a7787365790ae57f36b311701ea7e
	md5sums = SKIP
	md5sums = af7f2dd93fd5429fb5e9a642ff74f87d
	md5sums = SKIP
	md5sums = b60545b273bfa4e00a760f2c648bed9c
	md5sums = SKIP
	md5sums = 875a0bedf48b74e453e3997c84b5d8a4
	md5sums = SKIP
	md5sums = 4a8ee95adb72c3aba03d9e8c9f96ece6
	md5sums = SKIP
	md5sums = 411560d81fde2dc5b17b83c3f3b58c6f
	md5sums = SKIP
	md5sums = dd7cf7a784d1838822cad8d419315991
	md5sums = SKIP
	md5sums = c1b3e937cd6dccbb7fd772f32812a0da
	md5sums = SKIP
	md5sums = 19b41e73b03602d0e261c471b53e670c
	md5sums = SKIP
	md5sums = 414339330a3634137081a97f2c8615a8
	md5sums = SKIP
	md5sums = 1870268f62b907221b078ad109e1fa94
	md5sums = SKIP
	md5sums = 40d923af4b952b01983ed4c889ae2653
	md5sums = SKIP
	md5sums = 57857b22053c8167677e5e5ac5c6669b
	md5sums = SKIP
	md5sums = c4c6ea23d09a74eaa9385438e48fdf02
	md5sums = SKIP
	md5sums = a682ed6fa2c2e7a7c3ba6bdeada07fb5
	md5sums = SKIP
	md5sums = d9dcaa1d8e7a24850449a1aac43a12a9
	md5sums = SKIP
	md5sums = a64d950d5de72ae590455b13e6afefcb
	md5sums = SKIP

pkgname = bash

