pkgbase = python-filebytes
	pkgdesc = Library to read and edit executable binary files
	pkgver = 0.9.13
	pkgrel = 1
	url = https://github.com/sashs/filebytes
	arch = any
	license = GPL2
	makedepends = python
	makedepends = python2
	makedepends = python-setuptools
	makedepends = python2-setuptools
	source = python-filebytes-0.9.13.tar.gz::https://github.com/sashs/filebytes/archive/v0.9.13.tar.gz
	sha512sums = e6c8fe3647fc7a600ffc26883bc90724b5cfe18c8c5603d7a184e73e5fee3ae27ab01e793ef1ddbd8a69fe294bbc33cb5b3314d815d8f498f57876f83566de16

pkgname = python-filebytes
	depends = python

pkgname = python2-filebytes
	depends = python2

