pkgbase = python-filebytes
	pkgdesc = Library to read and edit executable binary files
	pkgver = 0.9.15
	pkgrel = 2
	url = https://github.com/sashs/filebytes
	arch = any
	license = GPL2
	makedepends = python
	makedepends = python-setuptools
	makedepends = python2
	makedepends = python2-setuptools
	source = python-filebytes-0.9.15.tar.gz::https://github.com/sashs/filebytes/archive/v0.9.15.tar.gz
	sha512sums = a5d9d8d85ab139491cc4f43c32aa72f985fecf106fe34ec531885fd930d91a0490eedc765fc0d06da1695ff32b0aec0adde8b97b95e7d3d3251496e49624a485

pkgname = python-filebytes
	depends = python

pkgname = python2-filebytes
	depends = python2

