pkgbase = python-libarchive-c
	pkgdesc = Python interface to libarchive
	pkgver = 2.7
	pkgrel = 2
	url = https://github.com/Changaco/python-libarchive-c
	arch = any
	license = CC0
	checkdepends = python-pytest-cov
	checkdepends = python2-pytest-cov
	makedepends = python-setuptools
	makedepends = python2-setuptools
	makedepends = libarchive
	source = python-libarchive-c-2.7.tar.gz::https://github.com/Changaco/python-libarchive-c/archive/2.7.tar.gz
	sha512sums = 15ef4e3689d412fa524858067fc7f68cc909ffb916367d7edb3e0940f114385bab5d0f97a89f90ced59a5cf6d63e78c89d652f7817d6e49f38d244cc6316a424

pkgname = python-libarchive-c
	depends = python
	depends = libarchive

pkgname = python2-libarchive-c
	depends = python2
	depends = libarchive

