pkgbase = libseccomp
	pkgdesc = Enhanced seccomp library
	pkgver = 2.4.0
	pkgrel = 1
	url = https://github.com/seccomp/libseccomp
	arch = x86_64
	license = LGPL2.1
	checkdepends = valgrind
	depends = glibc
	provides = libseccomp.so
	source = https://github.com/seccomp/libseccomp/releases/download/v2.4.0/libseccomp-2.4.0.tar.gz
	source = https://github.com/seccomp/libseccomp/releases/download/v2.4.0/libseccomp-2.4.0.tar.gz.asc
	validpgpkeys = 7100AADFAE6E6E940D2E0AD655E45A5AE8CA7C8A
	sha256sums = 2e74c7e8b54b340ad5d472e59286c6758e1e1e96c6b43c3dbdc8ddafbf0e525d
	sha256sums = SKIP

pkgname = libseccomp

