pkgbase = vicious
	pkgdesc = Widgets for the Awesome window manager
	pkgver = 2.3.0
	pkgrel = 1
	url = https://github.com/Mic92/vicious
	arch = any
	license = GPL2
	depends = lua
	optdepends = hddtemp: for the HDD Temp widget type
	optdepends = alsa-utils: for the Volume widget type
	optdepends = wireless_tools: for the Wireless widget type
	optdepends = curl: for widget types accessing network resources
	source = vicious-2.3.0.tar.gz::https://github.com/Mic92/vicious/archive/v2.3.0.tar.gz
	sha256sums = 12dc9a4e35db8e314ee936b45e5ad5fa740fc8d0936c3787e0854870267c208a
	sha512sums = a48fa87dfdcc94da878beac0d859859a4f3e77b58b65cfbf5f66fa05ecc677a5609ee05c0ff3cbd86c406c47eaa7a46dc87655b5f6fac900742a8f6a7a55e697

pkgname = vicious

