pkgbase = john
	pkgdesc = John the Ripper password cracker
	pkgver = 1.9.0.jumbo1
	pkgrel = 1
	url = https://www.openwall.com/john
	arch = x86_64
	license = GPL2
	license = custom
	makedepends = pkg-config
	makedepends = opencl-headers
	depends = openssl
	depends = gmp
	depends = libpcap
	depends = openmpi
	depends = gcc-libs
	depends = opencl-icd-loader
	optdepends = bash-completion: completion for bash
	optdepends = perl: perl based john scripts
	optdepends = ruby: ruby based john scripts
	optdepends = python2: python2 based john scripts
	optdepends = python: python based john scripts
	backup = etc/john/john.conf
	source = https://www.openwall.com/john/k/john-1.9.0-jumbo-1.tar.xz
	source = https://www.openwall.com/john/k/john-1.9.0-jumbo-1.tar.xz.sign
	validpgpkeys = 297AD21CF86C948081520C1805C027FD4BDC136E
	sha512sums = c5cb5dc739ee4c666f8479cdf10511fddc391b590c59f90c060d3ccd8449b794ac7b831a6d1f7553883892499e709a66578cfa4d62caef9b7e0a831eb827e808
	sha512sums = SKIP

pkgname = john

