pkgbase = sqlmap
	pkgdesc = Automatic SQL injection and database takeover tool
	pkgver = 1.0.10
	pkgrel = 1
	url = http://sqlmap.org
	arch = any
	license = GPL2
	depends = python2
	depends = sh
	backup = etc/sqlmap.conf
	source = sqlmap-1.0.10.tar.gz::https://github.com/sqlmapproject/sqlmap/archive/1.0.10.tar.gz
	sha512sums = 9e14d6fe88c19759b4c3997733a4e0a06d194c13281a9d8a161b400724eae0bc98cf65205938bc62edabdefe72ccbea0862c6ad111b2b37582fcb1e2870d896e

pkgname = sqlmap

