pkgbase = sqlmap
	pkgdesc = Automatic SQL injection and database takeover tool
	pkgver = 1.1.10
	pkgrel = 1
	url = http://sqlmap.org
	arch = any
	license = GPL2
	depends = python2
	depends = sh
	backup = etc/sqlmap.conf
	source = sqlmap-1.1.10.tar.gz::https://github.com/sqlmapproject/sqlmap/archive/1.1.10.tar.gz
	sha256sums = e2dcc5d939b082fbc8f32c4ceef8c3e37f2c86a40e569b7cd34c9d94a71e6a21
	sha512sums = d320e349b56011d2728a76c9a45a4bfbdc09249a7e9e61013aeda1c253aff7ab50ec75dc7d9f8ced44283de0730c551e952d33152d9d12d55ab7a7c33f07d86f

pkgname = sqlmap

