pkgbase = sqlmap
	pkgdesc = Automatic SQL injection and database takeover tool
	pkgver = 1.2.6
	pkgrel = 1
	url = http://sqlmap.org
	arch = any
	license = GPL2
	depends = python2
	depends = sh
	backup = etc/sqlmap.conf
	source = sqlmap-1.2.6.tar.gz::https://github.com/sqlmapproject/sqlmap/archive/1.2.6.tar.gz
	sha256sums = 7cc5bc683a4aee615a2a87e3e0c6c3483ce985296f02991cea1f7b839250842b
	sha512sums = e255243844378e9db1990ce1cefcf41692e4f9ce3c707bac93c7094abef88d5865a35e57392f7c788b2fe7619b7a316fbf5ebe8a2bed7d26e03bb532f9b7238d

pkgname = sqlmap

