pkgbase = python-yarl
	pkgdesc = Yet another URL library
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/aio-libs/yarl/
	arch = x86_64
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-pytest-runner
	makedepends = cython
	makedepends = python-setuptools
	depends = glibc
	depends = python
	depends = python-multidict
	depends = python-idna
	source = python-yarl-1.1.0.tar.gz::https://github.com/aio-libs/yarl/archive/v1.1.0.tar.gz
	sha256sums = bcdc3d7ebf96bacb1342d59525bc89df902b78fd50186f8e4d51bfbb02fd38ca
	sha512sums = 85e3fb0e756b9dcadbb472eb4256a1be9f653df25c118915db01866be39c92743aa98cd2dc56e698b11849840df37f53662f082431ee4549951459e3ffddfb76

pkgname = python-yarl

