pkgbase = python-yarl
	pkgdesc = Yet another URL library
	pkgver = 1.2.6
	pkgrel = 1
	url = https://github.com/aio-libs/yarl/
	arch = x86_64
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-pytest-runner
	makedepends = cython
	makedepends = python-setuptools
	depends = glibc
	depends = python
	depends = python-multidict
	depends = python-idna
	source = python-yarl-1.2.6.tar.gz::https://github.com/aio-libs/yarl/archive/v1.2.6.tar.gz
	sha256sums = 1083cb0eb2a68638c239d96ed6b3cfe8427f5fea62aa2e575ae5511a196b5df5
	sha512sums = bf714e1ba526a9c36361fbc852c3ab8b40db76eaf6b222eed2abaf1bbea6171a1d37cb0c5481905cc8eccfac8c2077e38fc744fdd6e8c83e33bac51747dceaf9

pkgname = python-yarl

