pkgbase = wifite
	pkgdesc = Tool to attack multiple WEP and WPA encrypted networks at the same time
	pkgver = 87.r139.918a499
	pkgrel = 2
	epoch = 1
	url = https://github.com/derv82/wifite
	arch = any
	license = GPL2
	makedepends = git
	depends = python2
	depends = aircrack-ng
	optdepends = reaver: WPS attack support
	optdepends = pyrit: detect WPA handshakes
	optdepends = wireshark-cli: detect handshakes
	optdepends = cowpatty: detect WPA handshakes
	optdepends = macchanger: change MAC for attacks
	source = wifite::git+https://github.com/derv82/wifite#commit=918a499786afdfefcc9582a29df79d0959294ba2
	sha512sums = SKIP

pkgname = wifite

