pkgbase = routersploit
	pkgdesc = Open-source exploitation framework dedicated to embedded devices
	pkgver = 3.4.0
	pkgrel = 6
	url = https://github.com/threat9/routersploit
	arch = any
	license = BSD
	checkdepends = python-pytest
	checkdepends = python-pytest-forked
	checkdepends = python-pytest-xdist
	checkdepends = flake8
	checkdepends = python-threat9-test-bed
	makedepends = python-setuptools
	depends = python
	depends = python-future
	depends = python-requests
	depends = python-paramiko
	depends = python-pysnmp
	depends = python-pycryptodome
	source = routersploit-3.4.0.tar.gz::https://github.com/threat9/routersploit/archive/v3.4.0.tar.gz
	source = routersploit-py38.patch::https://github.com/threat9/routersploit/commit/47183c74a49f.patch
	source = routersploit-py39.patch::https://github.com/threat9/routersploit/commit/8c4bc6f79ed6.patch
	sha512sums = 9182598105c4d1c971dc63ac24059469dd1862af204f59994cfc85012091663a85faee4c7c04cce573eef1fa91525b44a3963b8c24460d3b31595c4ef6a6c4e5
	sha512sums = b1f81e6bd8bba0a90b3a5bfc57b5ebb690d83e1e404adc49659dffa23c7dbac902815b3a75195902fcf6a4fb7acb1db627f29533d0e8fc60caaaa76f766fb3cb
	sha512sums = d05cb52139493e7026e1d8b199b121c8ada563e0a4a277e1f6a1cd9ed3719eb9036c7b8683e151aaa541c49eb965db0822050dc581d5d76e2b1a6278ac00d486

pkgname = routersploit
