pkgbase = ruby-async-io
	pkgdesc = Provides support for asynchonous TCP, UDP, UNIX and SSL sockets
	pkgver = 1.12.2
	pkgrel = 1
	url = https://github.com/socketry/async-io
	arch = any
	license = MIT
	makedepends = ruby-rdoc
	depends = ruby
	depends = ruby-async
	options = !emptydirs
	source = ruby-async-io-1.12.2.tar.gz::https://github.com/socketry/async-io/archive/v1.12.2.tar.gz
	sha256sums = 65a5466957f7ad844a6e7f0d60adb1e06013beb1598eab783460b68c0998374c
	sha512sums = aaecafbc7a4c4337b866929688b91a16d752ba74a7a3120f9a14ae308576fa71e7529790377d5767c2eda676f1223903edae9daa80892792704dc54a4502b16c

pkgname = ruby-async-io

