pkgbase = ruby-public_suffix
	pkgdesc = Domain name parser based on the Public Suffix List
	pkgver = 5.0.0
	pkgrel = 1
	url = https://simonecarletti.com/code/publicsuffix-ruby
	arch = any
	license = MIT
	checkdepends = ruby-minitest
	checkdepends = ruby-mocha
	makedepends = ruby-rake
	makedepends = ruby-bundler
	makedepends = ruby-yard
	makedepends = ruby-rdoc
	depends = ruby
	options = !emptydirs
	source = ruby-public_suffix-5.0.0.tar.gz::https://github.com/weppos/publicsuffix-ruby/archive/v5.0.0/ruby-public_suffix-v5.0.0.tar.gz
	sha512sums = 5854fc292dae3bd41c02259142ad85bbf2044b7423f58f791f91cc5cb16aff31552ddbe649366504d8c8a5678cabb93c07911583c6d5409ee89ee750269963c5

pkgname = ruby-public_suffix
