pkgbase = thunderbird-i18n
	pkgdesc = Language pack for Thunderbird
	pkgver = 60.3.3
	pkgrel = 1
	url = http://www.mozilla.com/
	arch = any
	license = MPL
	license = GPL
	noextract = thunderbird-i18n-60.3.3-ar.xpi
	noextract = thunderbird-i18n-60.3.3-ast.xpi
	noextract = thunderbird-i18n-60.3.3-be.xpi
	noextract = thunderbird-i18n-60.3.3-bg.xpi
	noextract = thunderbird-i18n-60.3.3-br.xpi
	noextract = thunderbird-i18n-60.3.3-ca.xpi
	noextract = thunderbird-i18n-60.3.3-cs.xpi
	noextract = thunderbird-i18n-60.3.3-cy.xpi
	noextract = thunderbird-i18n-60.3.3-da.xpi
	noextract = thunderbird-i18n-60.3.3-de.xpi
	noextract = thunderbird-i18n-60.3.3-dsb.xpi
	noextract = thunderbird-i18n-60.3.3-el.xpi
	noextract = thunderbird-i18n-60.3.3-en-GB.xpi
	noextract = thunderbird-i18n-60.3.3-en-US.xpi
	noextract = thunderbird-i18n-60.3.3-es-AR.xpi
	noextract = thunderbird-i18n-60.3.3-es-ES.xpi
	noextract = thunderbird-i18n-60.3.3-et.xpi
	noextract = thunderbird-i18n-60.3.3-eu.xpi
	noextract = thunderbird-i18n-60.3.3-fi.xpi
	noextract = thunderbird-i18n-60.3.3-fr.xpi
	noextract = thunderbird-i18n-60.3.3-fy-NL.xpi
	noextract = thunderbird-i18n-60.3.3-ga-IE.xpi
	noextract = thunderbird-i18n-60.3.3-gd.xpi
	noextract = thunderbird-i18n-60.3.3-gl.xpi
	noextract = thunderbird-i18n-60.3.3-he.xpi
	noextract = thunderbird-i18n-60.3.3-hr.xpi
	noextract = thunderbird-i18n-60.3.3-hsb.xpi
	noextract = thunderbird-i18n-60.3.3-hu.xpi
	noextract = thunderbird-i18n-60.3.3-hy-AM.xpi
	noextract = thunderbird-i18n-60.3.3-id.xpi
	noextract = thunderbird-i18n-60.3.3-is.xpi
	noextract = thunderbird-i18n-60.3.3-it.xpi
	noextract = thunderbird-i18n-60.3.3-ja.xpi
	noextract = thunderbird-i18n-60.3.3-ko.xpi
	noextract = thunderbird-i18n-60.3.3-lt.xpi
	noextract = thunderbird-i18n-60.3.3-nb-NO.xpi
	noextract = thunderbird-i18n-60.3.3-nl.xpi
	noextract = thunderbird-i18n-60.3.3-nn-NO.xpi
	noextract = thunderbird-i18n-60.3.3-pl.xpi
	noextract = thunderbird-i18n-60.3.3-pt-BR.xpi
	noextract = thunderbird-i18n-60.3.3-pt-PT.xpi
	noextract = thunderbird-i18n-60.3.3-rm.xpi
	noextract = thunderbird-i18n-60.3.3-ro.xpi
	noextract = thunderbird-i18n-60.3.3-ru.xpi
	noextract = thunderbird-i18n-60.3.3-si.xpi
	noextract = thunderbird-i18n-60.3.3-sk.xpi
	noextract = thunderbird-i18n-60.3.3-sl.xpi
	noextract = thunderbird-i18n-60.3.3-sq.xpi
	noextract = thunderbird-i18n-60.3.3-sr.xpi
	noextract = thunderbird-i18n-60.3.3-sv-SE.xpi
	noextract = thunderbird-i18n-60.3.3-tr.xpi
	noextract = thunderbird-i18n-60.3.3-uk.xpi
	noextract = thunderbird-i18n-60.3.3-vi.xpi
	noextract = thunderbird-i18n-60.3.3-zh-CN.xpi
	noextract = thunderbird-i18n-60.3.3-zh-TW.xpi
	source = thunderbird-i18n-60.3.3-ar.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/ar.xpi
	source = thunderbird-i18n-60.3.3-ast.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/ast.xpi
	source = thunderbird-i18n-60.3.3-be.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/be.xpi
	source = thunderbird-i18n-60.3.3-bg.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/bg.xpi
	source = thunderbird-i18n-60.3.3-br.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/br.xpi
	source = thunderbird-i18n-60.3.3-ca.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/ca.xpi
	source = thunderbird-i18n-60.3.3-cs.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/cs.xpi
	source = thunderbird-i18n-60.3.3-cy.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/cy.xpi
	source = thunderbird-i18n-60.3.3-da.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/da.xpi
	source = thunderbird-i18n-60.3.3-de.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/de.xpi
	source = thunderbird-i18n-60.3.3-dsb.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/dsb.xpi
	source = thunderbird-i18n-60.3.3-el.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/el.xpi
	source = thunderbird-i18n-60.3.3-en-GB.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/en-GB.xpi
	source = thunderbird-i18n-60.3.3-en-US.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/en-US.xpi
	source = thunderbird-i18n-60.3.3-es-AR.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/es-AR.xpi
	source = thunderbird-i18n-60.3.3-es-ES.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/es-ES.xpi
	source = thunderbird-i18n-60.3.3-et.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/et.xpi
	source = thunderbird-i18n-60.3.3-eu.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/eu.xpi
	source = thunderbird-i18n-60.3.3-fi.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/fi.xpi
	source = thunderbird-i18n-60.3.3-fr.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/fr.xpi
	source = thunderbird-i18n-60.3.3-fy-NL.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/fy-NL.xpi
	source = thunderbird-i18n-60.3.3-ga-IE.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/ga-IE.xpi
	source = thunderbird-i18n-60.3.3-gd.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/gd.xpi
	source = thunderbird-i18n-60.3.3-gl.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/gl.xpi
	source = thunderbird-i18n-60.3.3-he.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/he.xpi
	source = thunderbird-i18n-60.3.3-hr.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/hr.xpi
	source = thunderbird-i18n-60.3.3-hsb.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/hsb.xpi
	source = thunderbird-i18n-60.3.3-hu.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/hu.xpi
	source = thunderbird-i18n-60.3.3-hy-AM.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/hy-AM.xpi
	source = thunderbird-i18n-60.3.3-id.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/id.xpi
	source = thunderbird-i18n-60.3.3-is.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/is.xpi
	source = thunderbird-i18n-60.3.3-it.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/it.xpi
	source = thunderbird-i18n-60.3.3-ja.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/ja.xpi
	source = thunderbird-i18n-60.3.3-ko.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/ko.xpi
	source = thunderbird-i18n-60.3.3-lt.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/lt.xpi
	source = thunderbird-i18n-60.3.3-nb-NO.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/nb-NO.xpi
	source = thunderbird-i18n-60.3.3-nl.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/nl.xpi
	source = thunderbird-i18n-60.3.3-nn-NO.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/nn-NO.xpi
	source = thunderbird-i18n-60.3.3-pl.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/pl.xpi
	source = thunderbird-i18n-60.3.3-pt-BR.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/pt-BR.xpi
	source = thunderbird-i18n-60.3.3-pt-PT.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/pt-PT.xpi
	source = thunderbird-i18n-60.3.3-rm.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/rm.xpi
	source = thunderbird-i18n-60.3.3-ro.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/ro.xpi
	source = thunderbird-i18n-60.3.3-ru.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/ru.xpi
	source = thunderbird-i18n-60.3.3-si.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/si.xpi
	source = thunderbird-i18n-60.3.3-sk.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/sk.xpi
	source = thunderbird-i18n-60.3.3-sl.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/sl.xpi
	source = thunderbird-i18n-60.3.3-sq.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/sq.xpi
	source = thunderbird-i18n-60.3.3-sr.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/sr.xpi
	source = thunderbird-i18n-60.3.3-sv-SE.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/sv-SE.xpi
	source = thunderbird-i18n-60.3.3-tr.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/tr.xpi
	source = thunderbird-i18n-60.3.3-uk.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/uk.xpi
	source = thunderbird-i18n-60.3.3-vi.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/vi.xpi
	source = thunderbird-i18n-60.3.3-zh-CN.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/zh-CN.xpi
	source = thunderbird-i18n-60.3.3-zh-TW.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/60.3.3/linux-x86_64/xpi/zh-TW.xpi
	sha256sums = cbbd8e88f224986885968b8cf1bc793ef797a4ad67699897f1241c505aa1468a
	sha256sums = 3ff5b95378b67f9656c1b8899c4091187cc6d9aaecee04f6b960b02e544caeb6
	sha256sums = 103e49abd506638fed88dec6690f003bd247f6b6eceb0b672e8eec67a5c46aa5
	sha256sums = 082f936c6705f4b6a30da095df6a06738afeac89b8d2486486b230bfa486c8f1
	sha256sums = 3d978b5ad1e10d3d06048f063da6f171d2e2fcf702ae503fe95e27975449cf5a
	sha256sums = 020ac3d2f842b25004fbfcd8630d6183952a8d40b86a710796edf4b6699b6a92
	sha256sums = 442cfaa3f6e383f7c8ca4009c2f4e1830bcef20ec43b238515ed4e09c0a451d4
	sha256sums = bdb5e8d63168d04a4f12f4884f60bd6bdf6dfae380b180d554721557928e7517
	sha256sums = 17c3f150de5259fb21e87e9857cb461ee772628162d2674a2c8a59a7c80a50b7
	sha256sums = ff3d45f0c7d3becc230a0b6ee76d3e27c13aca92bc66c1378f727310fd645920
	sha256sums = a467431c12de694b71d95c9ff6c9bf1a1870378ad33419d04301ba3ea5eb6e4f
	sha256sums = 392b81ae56bd67c29a8fdb89e55ab2a60bf28b63e80b7f0ddd1a87c199f4df75
	sha256sums = 9679cfc192615121a095e6d0ab3be40ed797edaa01410a2c090db08cc21aeadb
	sha256sums = c2dac5733748ef0eb2b618654c0fdcf83341c305e835d4396e874a8c4c30fb7b
	sha256sums = bee46105952f3332ef6985c54c9e5de70b4b8e797f862feb301d7b9d623a9a08
	sha256sums = e97b955a9b3460e1682f82884bb92781b3f2498c0527047910149dddf11f6609
	sha256sums = dfbdb5fed59436ba6a23c088740e5d4b1f5da559c6073e0858a864180889c445
	sha256sums = fc46b25891048e574ef7ab404311b6d0f0477b7a45b7fa9b46a48698b5ee7e9f
	sha256sums = 4a2cdbb9ab6755eb436cfc06a34c337f14c3fae8a683b4d620e653790ba469be
	sha256sums = cb7219aad7fa58c41937bcca25ac72637ab92c7d26de94baf13e64c44feed1f4
	sha256sums = ff98e6d94e2022adbf36d71d91ea5036db0efbbd2dab2dd10a0c960020f0aa01
	sha256sums = c56efc8397f8cc9b75ee8cbd7e367cf2002b88faa5afd8d3ef55f1416da0bfa7
	sha256sums = 9890671efe348d1623da1916830a8aea8f318318d46c154fb098ad25e4e5d56f
	sha256sums = 9ce8698f74ef45d5232063459d5fef1a5ef3329d01f014a9b1d5137b52990b67
	sha256sums = e899e3ba40ab38d41090648b595dfcadbe80546f74dd8c0704de8f9be6a5b826
	sha256sums = 0522e6533f372836cdedcd8cc41ff2e274d0da77be7f2d6de4e9b685dcefa569
	sha256sums = 11bd61c42aa486f50ae6df6e064fc658816f1de71ebfa430451c6c4acbe49828
	sha256sums = a8687a7e38bac986da6320ec658526a6687e4f0f7f4fe0d57e5395a3dc4240e2
	sha256sums = 2810a28a88c7b3949f598d9b4f4f0bf5bc0641433d5a92afc93b383e711d8b7a
	sha256sums = e5bf6c97f6f65155c22655d01e4db7538de66bfaf6f6fdb23e7ce2de5c754431
	sha256sums = f5906bf96ce3cb50b4c01fe5d628f7ceb5836bc2a13bd681cafb1d031416a209
	sha256sums = 896369dc19aee03ec708eda01ec790def1de6d8e28cae51199132b31b3a82a19
	sha256sums = 0b3e7d4592bdc8ab5d98acf5ec8cd889458e5a93d5efa395e92ca20e8ddea387
	sha256sums = 2e6fbcd9ebedd14de3529a8b92be3cda1213bdc3d224c15b5131d8a5683e2959
	sha256sums = e85ca7ca5adf2a9d4a7cc18e3332a72145b577b8bb709d03973fd625694b6883
	sha256sums = d3a2c61cca2678696a0f1e51bfb6bd8bc0e8256dbb09423a3a21c1aa620a88a0
	sha256sums = ae7d9b573887887940a0be7ab136e7b4b4b7243c122b6f3db2a3d4e027360150
	sha256sums = 61abdc0fcc8f0ce5c419de517f33f2ee272d622c2f7086e40667858c806c4ba0
	sha256sums = 13bb2e72ffa8570ceabffe94997a732fdbaf8e280397f41c4acecc2c359eeae4
	sha256sums = 6a39b3e58c38c0af3311f0ffd4d311936b81ea6e55506bb822c7d586a2308852
	sha256sums = 0d2c651ccb28d3cc79bac756cf230532252e96ba05b1f960586a1d58b746b92d
	sha256sums = a245561bfaf4859bda708267577e0c76cb4f87cf31ddf1cdbd8dadaf650b26d8
	sha256sums = 9e75c25305a31ca9896996602e1a3a6b9fd7834dc5f7faabbf93d7eac88754b0
	sha256sums = a92f1410574a475ecd4deaed8d3f5f671428eb7467cb9d5994b6cac4f757e187
	sha256sums = eee5086885c829a204282b6ef778c7efa334e085a39a3d991d625e9340795aec
	sha256sums = ae242f82d3e0494a5775658bf70c15652a2fee7b21fd7b57d32aecb0487a0732
	sha256sums = 9811ec5569e7bb9fe87e357660f9b676a98bb14657d5a7a1120618551541b590
	sha256sums = efa2fc7ecfe0e6f9afdd258f09156bf23bdd7e0cf5cb374bd1e5ef5037214011
	sha256sums = 19b1038382c3a1d0eb1e4ec082cdbf10673d0801b09be647fcb940573ae3a232
	sha256sums = d96945bc41d24a8ed24425ce5b26426f160cb4b40496e6b58d2788d8e620d308
	sha256sums = 13bfb45c1881efbb96c20ad9edb19a9c1b66bfd0f74e4fca2627a2b4b900297e
	sha256sums = a333b8548cfacaace05dad6f1ebd2592004a33d6df9960d05d75cc24ba3e86d1
	sha256sums = a1de755a90412b823a1f453c7117d66232fd9ac6c993895a097e21d5bbcadb35
	sha256sums = b48bf845c7e7c87e97886a66c6d543c4b317904427c8d8607599d0389a19d014
	sha256sums = 9cfb2c5e031ea77b8c82421659c618930f1f00df548bd201d6924d298c3b44ce

pkgname = thunderbird-i18n-ar

pkgname = thunderbird-i18n-ast

pkgname = thunderbird-i18n-be

pkgname = thunderbird-i18n-bg

pkgname = thunderbird-i18n-br

pkgname = thunderbird-i18n-ca

pkgname = thunderbird-i18n-cs

pkgname = thunderbird-i18n-cy

pkgname = thunderbird-i18n-da

pkgname = thunderbird-i18n-de

pkgname = thunderbird-i18n-dsb

pkgname = thunderbird-i18n-el

pkgname = thunderbird-i18n-en-gb

pkgname = thunderbird-i18n-en-us

pkgname = thunderbird-i18n-es-ar

pkgname = thunderbird-i18n-es-es

pkgname = thunderbird-i18n-et

pkgname = thunderbird-i18n-eu

pkgname = thunderbird-i18n-fi

pkgname = thunderbird-i18n-fr

pkgname = thunderbird-i18n-fy-nl

pkgname = thunderbird-i18n-ga-ie

pkgname = thunderbird-i18n-gd

pkgname = thunderbird-i18n-gl

pkgname = thunderbird-i18n-he

pkgname = thunderbird-i18n-hr

pkgname = thunderbird-i18n-hsb

pkgname = thunderbird-i18n-hu

pkgname = thunderbird-i18n-hy-am

pkgname = thunderbird-i18n-id

pkgname = thunderbird-i18n-is

pkgname = thunderbird-i18n-it

pkgname = thunderbird-i18n-ja

pkgname = thunderbird-i18n-ko

pkgname = thunderbird-i18n-lt

pkgname = thunderbird-i18n-nb-no

pkgname = thunderbird-i18n-nl

pkgname = thunderbird-i18n-nn-no

pkgname = thunderbird-i18n-pl

pkgname = thunderbird-i18n-pt-br

pkgname = thunderbird-i18n-pt-pt

pkgname = thunderbird-i18n-rm

pkgname = thunderbird-i18n-ro

pkgname = thunderbird-i18n-ru

pkgname = thunderbird-i18n-si

pkgname = thunderbird-i18n-sk

pkgname = thunderbird-i18n-sl

pkgname = thunderbird-i18n-sq

pkgname = thunderbird-i18n-sr

pkgname = thunderbird-i18n-sv-se

pkgname = thunderbird-i18n-tr

pkgname = thunderbird-i18n-uk

pkgname = thunderbird-i18n-vi

pkgname = thunderbird-i18n-zh-cn

pkgname = thunderbird-i18n-zh-tw

