pkgbase = thunderbird-i18n
	pkgdesc = Language pack for Thunderbird
	pkgver = 68.2.0
	pkgrel = 1
	url = https://www.mozilla.org/thunderbird
	arch = any
	license = MPL
	license = GPL
	noextract = thunderbird-i18n-68.2.0-ar.xpi
	noextract = thunderbird-i18n-68.2.0-ast.xpi
	noextract = thunderbird-i18n-68.2.0-be.xpi
	noextract = thunderbird-i18n-68.2.0-bg.xpi
	noextract = thunderbird-i18n-68.2.0-br.xpi
	noextract = thunderbird-i18n-68.2.0-ca.xpi
	noextract = thunderbird-i18n-68.2.0-cs.xpi
	noextract = thunderbird-i18n-68.2.0-cy.xpi
	noextract = thunderbird-i18n-68.2.0-da.xpi
	noextract = thunderbird-i18n-68.2.0-de.xpi
	noextract = thunderbird-i18n-68.2.0-dsb.xpi
	noextract = thunderbird-i18n-68.2.0-el.xpi
	noextract = thunderbird-i18n-68.2.0-en-GB.xpi
	noextract = thunderbird-i18n-68.2.0-en-US.xpi
	noextract = thunderbird-i18n-68.2.0-es-AR.xpi
	noextract = thunderbird-i18n-68.2.0-es-ES.xpi
	noextract = thunderbird-i18n-68.2.0-et.xpi
	noextract = thunderbird-i18n-68.2.0-eu.xpi
	noextract = thunderbird-i18n-68.2.0-fi.xpi
	noextract = thunderbird-i18n-68.2.0-fr.xpi
	noextract = thunderbird-i18n-68.2.0-fy-NL.xpi
	noextract = thunderbird-i18n-68.2.0-ga-IE.xpi
	noextract = thunderbird-i18n-68.2.0-gd.xpi
	noextract = thunderbird-i18n-68.2.0-gl.xpi
	noextract = thunderbird-i18n-68.2.0-he.xpi
	noextract = thunderbird-i18n-68.2.0-hr.xpi
	noextract = thunderbird-i18n-68.2.0-hsb.xpi
	noextract = thunderbird-i18n-68.2.0-hu.xpi
	noextract = thunderbird-i18n-68.2.0-hy-AM.xpi
	noextract = thunderbird-i18n-68.2.0-id.xpi
	noextract = thunderbird-i18n-68.2.0-is.xpi
	noextract = thunderbird-i18n-68.2.0-it.xpi
	noextract = thunderbird-i18n-68.2.0-ja.xpi
	noextract = thunderbird-i18n-68.2.0-ko.xpi
	noextract = thunderbird-i18n-68.2.0-lt.xpi
	noextract = thunderbird-i18n-68.2.0-nb-NO.xpi
	noextract = thunderbird-i18n-68.2.0-nl.xpi
	noextract = thunderbird-i18n-68.2.0-nn-NO.xpi
	noextract = thunderbird-i18n-68.2.0-pl.xpi
	noextract = thunderbird-i18n-68.2.0-pt-BR.xpi
	noextract = thunderbird-i18n-68.2.0-pt-PT.xpi
	noextract = thunderbird-i18n-68.2.0-rm.xpi
	noextract = thunderbird-i18n-68.2.0-ro.xpi
	noextract = thunderbird-i18n-68.2.0-ru.xpi
	noextract = thunderbird-i18n-68.2.0-si.xpi
	noextract = thunderbird-i18n-68.2.0-sk.xpi
	noextract = thunderbird-i18n-68.2.0-sl.xpi
	noextract = thunderbird-i18n-68.2.0-sq.xpi
	noextract = thunderbird-i18n-68.2.0-sr.xpi
	noextract = thunderbird-i18n-68.2.0-sv-SE.xpi
	noextract = thunderbird-i18n-68.2.0-tr.xpi
	noextract = thunderbird-i18n-68.2.0-uk.xpi
	noextract = thunderbird-i18n-68.2.0-vi.xpi
	noextract = thunderbird-i18n-68.2.0-zh-CN.xpi
	noextract = thunderbird-i18n-68.2.0-zh-TW.xpi
	source = thunderbird-i18n-68.2.0-ar.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/ar.xpi
	source = thunderbird-i18n-68.2.0-ast.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/ast.xpi
	source = thunderbird-i18n-68.2.0-be.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/be.xpi
	source = thunderbird-i18n-68.2.0-bg.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/bg.xpi
	source = thunderbird-i18n-68.2.0-br.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/br.xpi
	source = thunderbird-i18n-68.2.0-ca.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/ca.xpi
	source = thunderbird-i18n-68.2.0-cs.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/cs.xpi
	source = thunderbird-i18n-68.2.0-cy.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/cy.xpi
	source = thunderbird-i18n-68.2.0-da.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/da.xpi
	source = thunderbird-i18n-68.2.0-de.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/de.xpi
	source = thunderbird-i18n-68.2.0-dsb.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/dsb.xpi
	source = thunderbird-i18n-68.2.0-el.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/el.xpi
	source = thunderbird-i18n-68.2.0-en-GB.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/en-GB.xpi
	source = thunderbird-i18n-68.2.0-en-US.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/en-US.xpi
	source = thunderbird-i18n-68.2.0-es-AR.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/es-AR.xpi
	source = thunderbird-i18n-68.2.0-es-ES.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/es-ES.xpi
	source = thunderbird-i18n-68.2.0-et.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/et.xpi
	source = thunderbird-i18n-68.2.0-eu.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/eu.xpi
	source = thunderbird-i18n-68.2.0-fi.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/fi.xpi
	source = thunderbird-i18n-68.2.0-fr.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/fr.xpi
	source = thunderbird-i18n-68.2.0-fy-NL.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/fy-NL.xpi
	source = thunderbird-i18n-68.2.0-ga-IE.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/ga-IE.xpi
	source = thunderbird-i18n-68.2.0-gd.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/gd.xpi
	source = thunderbird-i18n-68.2.0-gl.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/gl.xpi
	source = thunderbird-i18n-68.2.0-he.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/he.xpi
	source = thunderbird-i18n-68.2.0-hr.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/hr.xpi
	source = thunderbird-i18n-68.2.0-hsb.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/hsb.xpi
	source = thunderbird-i18n-68.2.0-hu.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/hu.xpi
	source = thunderbird-i18n-68.2.0-hy-AM.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/hy-AM.xpi
	source = thunderbird-i18n-68.2.0-id.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/id.xpi
	source = thunderbird-i18n-68.2.0-is.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/is.xpi
	source = thunderbird-i18n-68.2.0-it.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/it.xpi
	source = thunderbird-i18n-68.2.0-ja.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/ja.xpi
	source = thunderbird-i18n-68.2.0-ko.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/ko.xpi
	source = thunderbird-i18n-68.2.0-lt.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/lt.xpi
	source = thunderbird-i18n-68.2.0-nb-NO.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/nb-NO.xpi
	source = thunderbird-i18n-68.2.0-nl.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/nl.xpi
	source = thunderbird-i18n-68.2.0-nn-NO.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/nn-NO.xpi
	source = thunderbird-i18n-68.2.0-pl.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/pl.xpi
	source = thunderbird-i18n-68.2.0-pt-BR.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/pt-BR.xpi
	source = thunderbird-i18n-68.2.0-pt-PT.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/pt-PT.xpi
	source = thunderbird-i18n-68.2.0-rm.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/rm.xpi
	source = thunderbird-i18n-68.2.0-ro.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/ro.xpi
	source = thunderbird-i18n-68.2.0-ru.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/ru.xpi
	source = thunderbird-i18n-68.2.0-si.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/si.xpi
	source = thunderbird-i18n-68.2.0-sk.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/sk.xpi
	source = thunderbird-i18n-68.2.0-sl.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/sl.xpi
	source = thunderbird-i18n-68.2.0-sq.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/sq.xpi
	source = thunderbird-i18n-68.2.0-sr.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/sr.xpi
	source = thunderbird-i18n-68.2.0-sv-SE.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/sv-SE.xpi
	source = thunderbird-i18n-68.2.0-tr.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/tr.xpi
	source = thunderbird-i18n-68.2.0-uk.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/uk.xpi
	source = thunderbird-i18n-68.2.0-vi.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/vi.xpi
	source = thunderbird-i18n-68.2.0-zh-CN.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/zh-CN.xpi
	source = thunderbird-i18n-68.2.0-zh-TW.xpi::https://ftp.mozilla.org/pub/mozilla.org/thunderbird/releases/68.2.0/linux-x86_64/xpi/zh-TW.xpi
	sha256sums = f2c860b9b51e82cca88dceee0e1984304857ea1b02f33aeac81d48fe2b64b5f7
	sha256sums = eb53683d0282046fef5b51b6bc6bdf7a81b7f7cf08780ca1201d5c955df9bdc4
	sha256sums = 54b8e3363049901f30f6e1eae5ea91b412a534ad2307d5593c18a104af52ec65
	sha256sums = 4fdbaa5a55531ce7c14f9f3a70b9c0dbdb5899e69828b0f52167250907337cbe
	sha256sums = b87437d737c08da85f99fcd5c275146b5c117d610abb3f9cd2165097e7796270
	sha256sums = 72970568502fd3705cad564352d379b106fe200b6210e4b9fba316380640b594
	sha256sums = 801b58ff79418dc631dd90adec449ec6d4d2ade8389bdb5061aaaba67b2c1252
	sha256sums = 1b6a4c5caba5c045d8a39eeaac8b283d10f61d90ac430c22550d6df925057902
	sha256sums = 35b8be32e45ccb273b230784b9770c33a275809c3a2486cfbf3f4dff1e47be7f
	sha256sums = 96962299531f96187ad8f19beaaccb269d400866b6e1bd68d4be49b003c0573e
	sha256sums = 1cb85cbfcc5cfc60d02a933ffc8965e22d72dbf1bd753a4dd579c73750ccb089
	sha256sums = 5d5f1d648d506c2949608b61a4e0ceabb147ee67ec044d4fa0928342fcb72b07
	sha256sums = e8e6f13c63519b936b0c9dab601113927d088e355f56dc1ecee8a67672479868
	sha256sums = 716ef1c1eb321fc6de53cc7299d6e797ba0da9a28c1ddf17ca1997ef9b48285e
	sha256sums = fb45e8564dd3dec63ec4f40130cf3f17c93d8984763eb3f597004e2ca285afc1
	sha256sums = 52863f6d1084e949ca7dc049ed0262ec30a727b44ad0c1013befa455e6f62aef
	sha256sums = 07e0aae3b9b03690e3043d1c7b934fa94f54448faec27a501e2be5c7a61b45fa
	sha256sums = cb307807a3a8c7e547699686e10b7241732f2e2f0e2b4444f52571160d2416f5
	sha256sums = 4e0fc89aee578d1a185616dae1724ba4420b427fd808543272f832fd2093dd0d
	sha256sums = 70cf205d1d8608dfda4c06d41e4987b826c5f78b4f322653c1f5f89f8938fdf3
	sha256sums = df30d4c30c8c24c77d7a460b39e270229688f1d8a0934403a477eddccea586bd
	sha256sums = 42cf6779a821385b86bf98dd92449acf50ec65c9d30a3f1b2b8c7595940cc219
	sha256sums = 17765fb2372e49a358357f8f929400941eedcef8b9e1fbafece691abaa1baeb9
	sha256sums = 602e82a93d8f9693ec673bce62669307842a76016ba606b7f889f918017edb4a
	sha256sums = c1c0c7a406705abaaeeac4ce4067491834e129d176b882fb81be9ac81e4cfed9
	sha256sums = a757fae72b5d74f26fdd93d7f2127063114577a531bf1abc30ff551b21516d07
	sha256sums = 76f993d26daf1ab78c9e400534fdd4d43a872072d1a996128379564ccbc05565
	sha256sums = ca373702339a4ce6332ea9b3243db9e22ac3b3ba9b8c07e08fc74434bbd166ae
	sha256sums = eb252d72c459e022e71814bfe9f9791a18c05b7af9c0ae38b88278bbd3208ab3
	sha256sums = 2fceb4ab866ae333fd51af915026ca757b05244a6dfd7ec963aed034c4ebfdee
	sha256sums = 64f3d439156e4548bf7b25554c136f252c354e0ff0aee9e0120fcde4dacad72c
	sha256sums = 768f466c9051680756cdf565b0e38d78e53b461bc6dcda87688dfee25f59ed95
	sha256sums = 517dc49487b53c0109290028d8d5b4d4d28fa26d8fa5b560cfc543e63ef4e790
	sha256sums = 308ef1e8843ee417264bf1609e36b499f1d2dc492e895a517f954baa08369215
	sha256sums = 3372b9610098a6d078fd12ff120ad6a42bb2f9b4cee2c293b65a4e30a61424c7
	sha256sums = 569cf516af31f4ba758b1c642fd8a1542865402401bc100037b67794685c44de
	sha256sums = 9b34e10decb358986b8feb25c744bcb93bb63f161a9ba57ed96b8f59aceedc48
	sha256sums = a8dc7f2f116f854def26c8500932ad562a03f07d989920beb708955438098fb1
	sha256sums = b40a7ba2a6e4ae7b384ec0def499491f36b9aec8ea447b0ca8f4803c26101b62
	sha256sums = c4e7529061d566a6459db393c631611082a313927496f6ae2e2c0ad9c8446b29
	sha256sums = 1ee3d88235e82b79a7f0faae5bd3075897d5ba6e3637b24dd40dedc6a4f2af9e
	sha256sums = 8840239f8fed40914ef13528af1a065165fcbde742833874cfcf809efc49ee69
	sha256sums = 35eb2e687bdda87a4fc68fbfb2912c946b14df96bff8e2be91317f8a516b74e3
	sha256sums = 8cbb8d3f110b51ca6df33b0325ad55eb3a51ba776dee1b9fd05e686bd59bd69a
	sha256sums = 7b98bbe91c7cda9f303f763ccf8ea1ccf5dad609cbac3c1c05881de90d04f79a
	sha256sums = 12edadbfc1bd07077f831e69292193f71d544d75a76920ec8f3eb90962e67fd1
	sha256sums = e115c5945c792663c4ed763b8d96839e2f04e00529bc515e96db5be13556b4b8
	sha256sums = ccc0339e0dc7a632fcd177ed3c72282deaea9eb054006109fd8947b52d4eace0
	sha256sums = 259760d020ec23dd3f2378f5321bf3e24fbf52dc512f28f758b0b496df235f13
	sha256sums = 7094c71cc361fa475a049ea6389ce7bae2e0cfdb6462cc5c80747e5b966c60cd
	sha256sums = 39b47b02af5e8425aad3387b51e5607a0da9f656923af5b607ec3eb20cb957dd
	sha256sums = 106789a376cf45138bdc0df05003110dc1d6527a6e3dea03e8e1de3b09f08505
	sha256sums = 15df8263a1f1185137a9214ddba2a82ad302205dfac3303e9e32d9f9ce9aaba5
	sha256sums = a358a64a4a2ed11fb49946a33bd8d331a438a815301a7a79368b10f063d3574e
	sha256sums = 06a1e9f74f6bf3b807e8726138890bf1664886c8e2abe2f5b303e068141f7f4c

pkgname = thunderbird-i18n-ar

pkgname = thunderbird-i18n-ast

pkgname = thunderbird-i18n-be

pkgname = thunderbird-i18n-bg

pkgname = thunderbird-i18n-br

pkgname = thunderbird-i18n-ca

pkgname = thunderbird-i18n-cs

pkgname = thunderbird-i18n-cy

pkgname = thunderbird-i18n-da

pkgname = thunderbird-i18n-de

pkgname = thunderbird-i18n-dsb

pkgname = thunderbird-i18n-el

pkgname = thunderbird-i18n-en-gb

pkgname = thunderbird-i18n-en-us

pkgname = thunderbird-i18n-es-ar

pkgname = thunderbird-i18n-es-es

pkgname = thunderbird-i18n-et

pkgname = thunderbird-i18n-eu

pkgname = thunderbird-i18n-fi

pkgname = thunderbird-i18n-fr

pkgname = thunderbird-i18n-fy-nl

pkgname = thunderbird-i18n-ga-ie

pkgname = thunderbird-i18n-gd

pkgname = thunderbird-i18n-gl

pkgname = thunderbird-i18n-he

pkgname = thunderbird-i18n-hr

pkgname = thunderbird-i18n-hsb

pkgname = thunderbird-i18n-hu

pkgname = thunderbird-i18n-hy-am

pkgname = thunderbird-i18n-id

pkgname = thunderbird-i18n-is

pkgname = thunderbird-i18n-it

pkgname = thunderbird-i18n-ja

pkgname = thunderbird-i18n-ko

pkgname = thunderbird-i18n-lt

pkgname = thunderbird-i18n-nb-no

pkgname = thunderbird-i18n-nl

pkgname = thunderbird-i18n-nn-no

pkgname = thunderbird-i18n-pl

pkgname = thunderbird-i18n-pt-br

pkgname = thunderbird-i18n-pt-pt

pkgname = thunderbird-i18n-rm

pkgname = thunderbird-i18n-ro

pkgname = thunderbird-i18n-ru

pkgname = thunderbird-i18n-si

pkgname = thunderbird-i18n-sk

pkgname = thunderbird-i18n-sl

pkgname = thunderbird-i18n-sq

pkgname = thunderbird-i18n-sr

pkgname = thunderbird-i18n-sv-se

pkgname = thunderbird-i18n-tr

pkgname = thunderbird-i18n-uk

pkgname = thunderbird-i18n-vi

pkgname = thunderbird-i18n-zh-cn

pkgname = thunderbird-i18n-zh-tw

