pkgbase = python-ujson
	pkgdesc = Ultra fast JSON encoder and decoder for Python
	pkgver = 4.0.1
	pkgrel = 2
	url = https://github.com/ultrajson/ultrajson
	arch = x86_64
	license = BSD
	checkdepends = python-six
	checkdepends = python-pytest
	makedepends = python-setuptools-scm
	makedepends = python-pip
	depends = python
	source = https://github.com/ultrajson/ultrajson/archive/4.0.1/python-ujson-4.0.1.tar.gz
	sha512sums = 583ec226ccd44667e41af5e0dff5a6912847fc9e3befdb11ac520cd7c6b9d20012a325e8931a9601268f261c2bfe82fcbffa829666559c8700aaafab3fc11c2f
	b2sums = 15e501138dce9c7e3c7360d0f03583d6744b8b1888f4cd00980de508a6c2fd6d7002dfd2cce1f7b5d3b14f61828149397357957e31e4e1a79abb8e6bc1d1f602

pkgname = python-ujson

