pkgbase = python-ujson
	pkgdesc = Ultra fast JSON encoder and decoder for Python
	pkgver = 2.0.2
	pkgrel = 1
	url = https://github.com/esnme/ultrajson
	arch = x86_64
	license = BSD
	checkdepends = python-six
	checkdepends = python-pytest
	makedepends = python-setuptools
	makedepends = python2-setuptools
	makedepends = python-pip
	makedepends = python2-pip
	source = https://github.com/esnme/ultrajson/archive/2.0.2/python-ujson-2.0.2.tar.gz
	sha512sums = a612f6776ca3d89eb0fbef00a934760ad232242c583d44dbeafd564218fab74ec6d1d0fe7bbade483bb12d9206636f186b890b25b2681336f686a10242a98839

pkgname = python-ujson
	depends = python

pkgname = python2-ujson
	depends = python2

