pkgbase = python-ujson
	pkgdesc = Ultra fast JSON encoder and decoder for Python
	pkgver = 5.3.0
	pkgrel = 1
	url = https://github.com/ultrajson/ultrajson
	arch = x86_64
	license = BSD
	checkdepends = python-six
	checkdepends = python-pytest
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	makedepends = python-build
	makedepends = python-installer
	depends = python
	source = https://github.com/ultrajson/ultrajson/archive/5.3.0/python-ujson-5.3.0.tar.gz
	sha512sums = 668df8772307cb64258dd81cf2fbf3ceaec0d65076db9bc89761480bfb687419d9f666c551bbd7a81427cd044e5f2eb6e0d5fb615ea2d355ca92b75c0ff5d0d8
	b2sums = 2de676f73c6b2b17e83f9d1931c6ea9f9f294e74eebbff0c06ac94311e32eb62463ce2d60e327e9ef69908917e181c7cd8e47393b5572eea80b4f6a17d8658c2

pkgname = python-ujson
