pkgbase = ruby-rspec
	pkgdesc = RSpec meta-gem that depends on the other components
	pkgver = 3.5.0
	pkgrel = 2
	url = https://github.com/rspec/rspec
	arch = any
	license = MIT
	depends = ruby-rspec-core
	depends = ruby-rspec-expectations
	depends = ruby-rspec-mocks
	noextract = rspec-3.5.0.gem
	options = !emptydirs
	source = https://rubygems.org/downloads/rspec-3.5.0.gem
	sha512sums = 0500f09e46244746967f5efebcfbc96d4cef14c5f68e6ad3d510e151ed83c865a3478ae6e42dec0f0793db7db52ae2394768b6b331ea5ca8d30bc19523cad5b0

pkgname = ruby-rspec

