pkgbase = python-aiohttp
	pkgdesc = HTTP client/server for asyncio
	pkgver = 3.2.0
	pkgrel = 1
	url = https://aiohttp.readthedocs.io
	arch = x86_64
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-pytest-runner
	checkdepends = python-pytest-mock
	checkdepends = python-async_generator
	makedepends = cython
	makedepends = python-setuptools
	depends = python
	depends = python-chardet
	depends = python-multidict
	depends = python-async-timeout
	depends = python-yarl
	depends = python-idna_ssl
	depends = python-attrs
	source = python-aiohttp-3.2.0.tar.gz::https://github.com/aio-libs/aiohttp/archive/v3.2.0.tar.gz
	sha256sums = 3e3443cd699b0b9e1f804d641ac472c7619f238a5fd1d735e6e0f9c8a6ecaad7
	sha512sums = 4e649feeb6c39101a0462b5722ca705c5db4906dee91ead6d01202ecc7591195412048978ef2339d50e6ac213f9a80fc91b67078e2ceba32cd8b35773d56c12c

pkgname = python-aiohttp

