pkgbase = python-aiohttp
	pkgdesc = HTTP client/server for asyncio
	pkgver = 2.3.2
	pkgrel = 1
	url = https://aiohttp.readthedocs.io
	arch = x86_64
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	makedepends = cython
	makedepends = python-setuptools
	depends = python>=3.4.2
	depends = python-chardet
	depends = python-multidict
	depends = python-async-timeout
	depends = python-yarl
	source = python-aiohttp-2.3.2.tar.gz::https://github.com/aio-libs/aiohttp/archive/v2.3.2.tar.gz
	sha256sums = adb90d04c35f6b753656a223cab342186c6dea1321bc33d48a19b393d177987b
	sha512sums = 54508655c3f6e409277120651537034fd0badb12c909c556778790a8b79bd856f72661d82eba45ccefd2ccd4f3afaf3830817bcce6ca1e89a924541ccc92bc12

pkgname = python-aiohttp

