pkgbase = python-aiohttp
	pkgdesc = HTTP client/server for asyncio
	pkgver = 3.7.3
	pkgrel = 1
	url = https://aiohttp.readthedocs.io
	arch = x86_64
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-pytest-runner
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-timeout
	checkdepends = python-async_generator
	checkdepends = python-brotlipy
	checkdepends = python-pytest-xdist
	checkdepends = python-pytest-forked
	checkdepends = python-pytest-cov
	checkdepends = python-trustme
	checkdepends = python-freezegun
	checkdepends = gunicorn
	checkdepends = python-re-assert
	makedepends = cython
	makedepends = python-setuptools
	makedepends = git
	depends = python
	depends = python-chardet
	depends = python-multidict
	depends = python-async-timeout
	depends = python-yarl
	depends = python-attrs
	optdepends = gunicorn: to deploy using Gunicorn
	optdepends = python-aiodns: for fast DNS resolving
	optdepends = python-cchardet: for faster encoding detection
	optdepends = python-brotlipy: for Brotli transfer-encodings support
	source = python-aiohttp::git+https://github.com/aio-libs/aiohttp#commit=2f655a59d0daedfa2a794996c4355b576c98ecc8
	source = git+https://github.com/nodejs/http-parser
	sha512sums = SKIP
	sha512sums = SKIP

pkgname = python-aiohttp

