pkgbase = ruby-paint
	pkgdesc = Ruby paint manages terminal colors and effects
	pkgver = 2.0.0
	pkgrel = 2
	url = https://github.com/janlelis/paint
	arch = any
	license = MIT
	depends = ruby-rspec
	depends = ruby-rainbow
	depends = ruby-term-ansicolor
	options = !emptydirs
	source = ruby-paint-2.0.0.tar.gz::https://github.com/janlelis/paint/archive/v2.0.0.tar.gz
	sha512sums = 3a30635b193fcd2d929a09f64226fefdf01dabf3c33427ca28d8d5a550d56642c8069d5f1334d845977282a6083cdfa16177f3bd23560f61c36d3822c891c5fe

pkgname = ruby-paint

