pkgbase = python-trustme
	pkgdesc = Library for fake certificate authority (CA) to generate fake TLS certs
	pkgver = 0.8.0
	pkgrel = 1
	url = https://trustme.readthedocs.io
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pyopenssl
	checkdepends = python-service_identity
	makedepends = python
	makedepends = python-setuptools
	makedepends = python-cryptography
	depends = python
	depends = python-cryptography
	source = https://github.com/python-trio/trustme/archive/v0.8.0/python-trustme-0.8.0.tar.gz
	sha512sums = 38f34cb12810874f97e2b08b71fef3b011ad2786c498db4b3f011a98bf4e574ff578fed698f80b1ae178e27db26921a07a6247e65c6999e4ea5dad83e619caf5
	b2sums = 96be91103e5c60de3f53326b75750274a3e8537cc544eb227a1cde934b65dc7936d378b5fc7d89aef32dee130f93c0bbb1b7a69a9b5275b1458885b7d369872c

pkgname = python-trustme
