pkgbase = python-trustme
	pkgdesc = Library for fake certificate authority (CA) to generate fake TLS certs
	pkgver = 0.5.3
	pkgrel = 1
	url = https://trustme.readthedocs.io
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pyopenssl
	checkdepends = python-service_identity
	makedepends = python
	makedepends = python-setuptools
	makedepends = python-cryptography
	depends = python
	depends = python-cryptography
	source = python-trustme-0.5.3.tar.gz::https://github.com/python-trio/trustme/archive/v0.5.3.tar.gz
	sha512sums = dd890964ef2d2387ec0a67afa1ead8b30872d6e95c396225310df375fab342ed32874dbaf62649ec5479ea736f8ab0ad1c88d06e675d6f65411cdd37d84045a3

pkgname = python-trustme

