pkgbase = ropgadget
	pkgdesc = Search gadgets in binaries to facilitate ROP exploitation for several file formats and architectures
	pkgver = 6.7
	pkgrel = 1
	url = http://www.shell-storm.org/project/ROPgadget
	arch = any
	license = BSD
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-capstone
	source = https://github.com/JonathanSalwan/ROPgadget/archive/v6.7/ropgadget-6.7.tar.gz
	sha512sums = 81bebafc1ba9cb18e017487395dacdaae044d6f1383604a0183b41d2210651c9a6870755f741cd7a3e2dc38ee5c004b0aeac52cc1082fa352c06c0598ac7e87b
	b2sums = 004f28993e3567b8bf78853c83b60fa17ff7dc8eb82867eabec33aee247283938ed522883bcf62a11f27a70fa10c4afbdd2636d613770bc8fa0ee7dd3667e859

pkgname = ropgadget
