pkgbase = ropgadget
	pkgdesc = Search gadgets in binaries to facilitate ROP exploitation for several file formats and architectures
	pkgver = 5.4
	pkgrel = 2
	url = http://www.shell-storm.org/project/ROPgadget
	arch = any
	license = GPL2
	makedepends = python-setuptools
	depends = python-capstone
	source = ropgadget-5.4.tar.gz::https://github.com/JonathanSalwan/ROPgadget/archive/v5.4.tar.gz
	sha512sums = 7b3777ccce10000e1cf1fadedd4010f05ae21d5794c45994d380eebecb8876c203899cc30716a677e3c31b575898d7fad763d66c502432f3a4dc4493ad4ae0da

pkgname = ropgadget

