pkgbase = lsd
	pkgdesc = Modern ls with a lot of pretty colors and awesome icons
	pkgver = 0.11.1
	pkgrel = 2
	url = https://github.com/Peltoche/lsd
	arch = x86_64
	license = Apache
	makedepends = rust
	makedepends = cargo
	depends = gcc-libs
	source = https://github.com/Peltoche/lsd/archive/0.11.1/lsd-0.11.1.tar.gz
	sha512sums = 751098ff9296559b75d2c849194418c368c722a22021015d5adbb6c0a4b56dabff4a7597b821cb57ca928ffb635015f08e20e052f8926016f48788a6dbf20fd2

pkgname = lsd

